/* 回到顶部部分 */
.goTop{
    width: 40px;
    height: 40px;
    display: none;
}
.goTop-btn{
    width: 40px;
    height: 40px;
    /* background-color: #00aeec; */
    padding: 6px 0;
    border: 1px solid #e3e5e7;
    border-radius: 8px;
    background-color: #f6f7f8;

    position: fixed;
    top: 500px;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.goTop-btn>svg{
    width: 20px;
    height: 20px;
}
.goTop-btn>span{
    width: 24px;
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}

/* header部分 */
.header{
    width: 100%;
    height: 64px;
    background-color: #f6f7f8;
    opacity: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>.header-banner{
    width: 100%;
    height: 64px;
    margin: 0 24px;
    background-color: #f6f7f8;
    position: fixed;
    top: 0px;
    animation: eleShow .5s ease;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
    z-index: 1;
}
.city{
    width: 423px;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.city>img{
    width: 423px;
    height: 100%;
    opacity: .9;
}
/* 搜索框部分 */
.search{
    width: 407px;
    height: 40px;
    float: left;
    margin: 10px;
    border-radius: 8px;
    background-color: #e3e5e7;
    border: 1px solid #e3e5e7;
    /* background-color: brown; */

    display: flex;
    flex-direction: row;
}

.search-form{
    width: 333px;
    height: 30px;
    line-height: 38px;
    padding-left: 4px;
    margin: 5px;
    border: 1px solid #e3e5e7;
    background-color: #e3e5e7;
    border-radius: 8px;
    opacity: .9;

    display: flex;
    flex-direction: row;
}

.search-input{
    width: 297px;
    height: 20px;
    margin: 6px;
    background-color: #e3e5e7;
    border: none;
    outline: none;
    /* border: 1px solid black; */
}

.search-clear{
    width: 16px;
    height: 16px;
    margin-top: 7px;
    display: none;
}

.search-btn{
    width: 32px;
    height: 32px;
    margin: 5px;
    position: relative;
}
.search-btn>img{
    position: absolute;
    left: 9px;
    top: 8px;
}

.search-helper{
    display: hidden;
    position: absolute;
    top: 50px;
    width: 407px;
    background-color: #f1f2f3;
    overflow: hidden;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0 0 8px 8px;
    opacity: 1;
}
.search-helper>p{
    display: block;
    height: 30px;
    background-color: #f1f2f3;
    font-size: 14px;
    padding: 5px 15px 0 15px; 

}
.search-helper>p:hover{
    background-color: #e3e5e7;

}
.self{
    width: 334px;
    height: 100%;
    /* background-color: fuchsia; */
    float: left;
    margin-left: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.self>li{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    position: relative;
}
.self-header{
    flex: 2;
}
.self-email{
    flex: 2;
}
.self-header>img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -9px;
    left: 7px;
    border-radius: 50%;
}
.self-email>svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -3px;
    left: 7px;
}
.self-icon{
    flex: 1;
}

/* 主体部分 */
.main{
    width: 1196px;
    height: 8254px;
    /* background-color: coral; */
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 主体的左边 */
.left-container{
    width: 668px;
    height: 8254px;
    /* background-color: aqua; */
}
.video-report{
    width: 668px;
    height: 82px;
    padding-top: 24px;
    /* background-color: cornflowerblue; */
}
.video-title{
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    color: #18191c;
    margin-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.video-data{
    width: 668px;
    height: 24px;
    line-height: 18px;
    color: #9499a0;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}
.video-data>span{
    align-items: center;
    margin-right: 15px;
    font-size: 13px;
    flex-shrink: 0;

    display: inline-flex;
    align-items: center;
    overflow: hidden;
}
.video-data>span>svg{
    margin-right: 4px;
}
.player-wrap{
    width: 668px;
    height: 376px;
    /* background-color: darkgreen; */
}
.player-wrap>video{
    width: 668px;
    height: 376px;
}
.video-toolbar{
    box-sizing: content-box;
    width: 668px;
    height: 28px;
    padding: 16px 0 12px 0;
    /* background-color: darkcyan; */
    border-bottom: 1px solid #e3e5e7;
}
.toolbar-left{
    width: 424px;
    height: 28px;
    /* background-color: chocolate; */
    float: left;

    display: flex;
    align-items: center;
}
.toolbar-left>span{
    color: #61666d;
    width: 92px;
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.toolbar-left>span>svg{
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.info-text{
    display: block;
    height: 18px;
    font-size: 13px;
    line-height: 18px;
}

.toolbar-right{
    width: 197px;
    height: 28px;
    /* background-color: coral; */
    float: right;
    color: #61666d;
    font-size: 13px;

    display: flex;
    flex-direction: row;
}
.manuscript{
    width: 78px;
    height: 20px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.note{
    width: 65px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-comments{
    width: 668px;
    height: 1000px;
    /* background-color: darkviolet; */
}
.reply-header{
    width: 668px;
    height: 30px;
    margin-bottom: 22px;
    /* background-color: aqua; */
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-title-text{
    color: #18191c;
    font-weight: 500;
    font-size: 20px;
}
.total-reply{
    color: #9499a0;
    font-size: 13px;
    margin: 0 36px 0 6px;
}
.nav-sort{
    width: 77px;
    height: 18px;
    color: #9499a0;
    font-size: 13px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.hot{
    width: 26px;
    height: 20px;
    color: #18191c;
}
.nav-sort-center{
    width: 1px;
    height: 20px;
    margin: 0 auto;
}
.new{
    width: 26px;
    height: 20px;
}
.reply-warp{
    width: 668px;
    height: auto;
}
.main-reply-box{
    width: 668px;
    height: 50px;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.reply-box-avatar{
    width: 80px;
    height: 50px;

    display: flex;
    justify-content: center;
}
.reply-box-avatar>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.reply-box-warp{
    width: 507px;
    height: 50px;
}
.reply-box-textarea{
    width: 497px;
    height: 48px;
    /* padding: 5px 10px; */
    border: 1px solid #c9ccd0;
    border-radius: 6px;
    background-color: #f1f2f3;
    line-height: 38px;
    color: #18191c;
    resize: none;
    outline: none;
}
.reply-box-send{
    width: 70px;
    height: 50px;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #00aeec;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* 评论区域 */
.reply-list{
    width: 668px;
    height: 800px;
    /* background-color: yellowgreen; */
    margin-top: 14px;
    padding-bottom: 100px;
}
.reply-item{
    width: 668px;
    /* height: 184px; */
    /* background-color: cornflowerblue; */
    padding-top: 22px;

    display: flex;
    flex-direction: row;
}
.root-reply-avatar{
    width: 80px;
    height: 48px;
    /* background-color: darkgoldenrod; */
    
    display: flex;
    justify-content: center;
}
.root-reply-avatar>img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.content-warp{
    width: 588px;
    /* height: 184px; */
    /* background-color: deeppink; */
}
.user-info{
    width: 588px;
    height: 30px;
    margin-bottom: 4px;
    font-size: 13px;
    color: #fb7299;
}
.root-reply{
    width: 588px;
    /* height: 150px; */
    /* background-color: yellow; */
}
.root-reply-container{
    width: 185px;
    /* height: 120px; */
    font-size: 15px;
    line-height: 24px;
    padding: 2px 0;
}
.reply-info{
    width: 588px;
    height: 24px;
    margin-top: 2px;
    font-size: 13px;
    color: #9499a0;
    line-height: 24px;

    display: flex;
    flex-direction: row;
    align-items:center ;
}
.reply-time{
    width: 130px;
    height: 24px;
    margin-right: 10px;
}
.reply-like{
    width: 44px;
    height: 24px;
    margin-right: 20px;

    display: flex;
    align-items: center;
}
.reply-like>svg{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.reply-unlike{
    width: 16px;
    height: 16px;
}
.reply-report{
    width: 16px;
    height: 16px;
    margin-left: 348px;
}


/* 主体的右边 */
.right-container{
    width: 350px;
    height: 8254px;
    margin-left: 30px;
    /* background-color: orchid; */
    padding-top: 15px;
    padding-bottom: 250px;
}
.up-info{
    width: 350px;
    height: 80px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
}
.u-face{
    width: 48px;
    height: 48px;
}
.u-face>img{
    width: 48px;
    height: 48px;
    border-radius: 50%
}
.up-info-right{
    width: 290px;
    height: 80px;
    /* background-color: red; */
    margin-left: 12px;
}
.name{
    width: 290px;
    height: 22px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.username{
    width: 150px;
    height: 22px;
    margin-right: 5px;
    text-decoration: none;
    color: #FB7299;
    line-height: 22px;
    font-size: 15px;
    /* background-color: yellow; */
}
.up-info-right-message{
    width: 56px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    font-size: 13px;
    color: #61666d;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: yellowgreen; */
}
.up-info-right-message>svg{
    margin-right: 4px;
}
.desc{
    width: 290px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 10px 0;
    font-size: 13px;
    color: #9499a0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-panel{
    width: 290px;
    height: 30px;
    margin-top: 5px;
    background-color: #00aeec;
    font-size: 14px;
    border-radius: 6px;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-panel>svg{
    margin-right: 5px;
}
.recommend-list{
    width: 350px;
    height: 3023px;
    /* background-color: yellowgreen; */
    margin-top: 18px;
}
.rec-title{
    width: 350px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #18191c;
    margin-bottom: 12px;
}
.rec-list{
    width: 350px;
    height: 1835px;
    /* background-color: cornflowerblue; */
}
.video-page-card-small{
    width: 350px;
    height: 81px;
    margin-bottom: 12px;
    /* background-color: darkorchid; */

    display: flex;
    flex-direction: row;
}
.pic-box{
    width: 141px;
    height: 80px;
}
.pic-box>img{
    width: 141px;
    height: 80px;
    border-radius: 6px
}
.info{
    width: 199px;
    height: 81px;
    margin-left: 10px;
}
.info>div:nth-child(1){
    width: 199px;
    height: 38px;
    color: #222;
    text-decoration: none;
    font-size: 13px;

    overflow: hidden;
    display: -webkit-box;/*将对象作为弹性伸缩盒子模型显示 。*/
    -webkit-line-clamp: 2;/*第几行裁剪*/
    -webkit-box-orient:vertical;/*设置或检索伸缩盒对象的子元素的排列方式 。*/
    text-overflow: ellipsis;/*可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。*/
}
.upname{
    width: 199px;
    height: 20px;
    margin: 2px 0;
    display: flex;
    flex-direction: row;
}
.upname>svg{
    width: 18px;
    height: 16px;
    margin-right: 4px;
    color: #9499a0;
}
.upname>span{
    width: 52px;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    color: #9499a0;
}
.playinfo{
    width: 113px;
    height: 16px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    color: #9499a0;
    font-size: 13px;
    line-height: 15px;
}
.playinfo-1{
    width: 76px;
    height: 16px;
    display: flex;
    flex-direction: row;
}
.playinfo-1>svg{
    width: 18px;
    height: 16px;
    margin-right: 4px;
}
.playinfo-2{
    width: 52px;
    height: 16px;
    display: flex;
    flex-direction: row;
}
.playinfo-2>svg{
    width: 18px;
    height: 16px;
    margin-left: 8px;
    margin-right: 4px;
}
.rec-footer{
    width: 350px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 10px;
    color: #18191c;
    background-color: #f1f2f3;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    font-size: 12px;
    font-weight: 500;
}
.main-reply-box-fix{
    position: fixed;
    bottom: 0px;
    left: 74px;
}

/* 稿件投诉部分-start */
.ts,.ts2{
    width: 400px;
    height: 300px;
    background-color: #f1F2F3;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    border-radius: 8px;
}
.ts-top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e5e9ef;
    text-align: center;
}
.ts-body{
    width: 100%;
    height: calc(300px - 130px);
    overflow: auto;
}
.ts-body>div{
    padding: 30px 40px;
}
.question{
    font-size: 14px;
    color: #222;
    margin-bottom: 18px;
}
.options{
    width: 320px;
    font-size: 14px;
}
.options{
    width: 320px;
    font-size: 14px;
}
.options>div{
    width: 320px;
    height: 30px;
    line-height: 30px;
}
.options>div>input{
    position: relative;
    top: 2px;
}

.ts-bottom{
    width: 100%;
    height: 80px;
    border-top: 1px solid #e5e9ef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ts-bottom>div{
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 14px;
}
.cancel{
    color: #6d757a;
    background: #fff;
}
.sure{
    color: #fff;
    background: #00a1d6;
}