<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/manager.css">
</head>
<body>
    <header>
        <div class="h-left">中国特色美食网管理系统</div>
        <div class="h-right">
            <div class="self">
                <div>
                    <svg t="1679896801824" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3570" width="28" height="28"><path d="M513.2288 909.3632a417.1776 417.1776 0 1 0-417.1264-417.1264 417.6384 417.6384 0 0 0 417.1264 417.1264z m0-778.24a360.8576 360.8576 0 1 1-360.8064 361.1136 361.2672 361.2672 0 0 1 360.8064-360.8576z" fill="#1296db" p-id="3571"></path><path d="M310.8352 730.4704a28.2112 28.2112 0 0 0 28.16-28.16 174.08 174.08 0 1 1 348.5184 0 28.16 28.16 0 0 0 56.32 0A230.8096 230.8096 0 0 0 606.6688 491.52 138.24 138.24 0 1 0 419.84 491.52a230.8096 230.8096 0 0 0-137.1648 210.7392 28.16 28.16 0 0 0 28.16 28.2112z m120.5248-340.6336a81.92 81.92 0 1 1 81.92 81.92 81.92 81.92 0 0 1-81.92-81.92z" fill="#1296db" p-id="3572"></path></svg>
                </div>
                <span>您好，欢迎您登录</span>
            </div>
            <div class="exit">
                <div>
                    <svg t="1679896888034" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4728" width="18" height="18"><path d="M1008 505.8z m-500.472 500.464c-250.512 0-453.56-203.016-453.56-453.56 0-189.616 116.408-351.984 281.52-419.72v0.112c4.88-1.744 10.144-2.68 15.664-2.68 25.84 0 46.936 20.992 46.936 46.896 0 20.392-13.056 37.832-31.336 44.264v0.032c-128.664 54.736-218.944 182.384-218.944 331.064 0 198.688 161.032 359.72 359.72 359.72 198.696 0 359.728-161.064 359.728-359.72 0-148.68-90.216-276.304-218.984-331.064-18.24-6.4-31.264-23.84-31.264-44.256 0-25.912 20.984-46.904 46.904-46.904 5.456 0 10.68 0.936 15.632 2.68v-0.112c165.248 67.744 281.52 230.112 281.52 419.72 0.04 250.512-203.048 453.528-453.536 453.528m0-484.824c-25.872 0-46.896-21-46.896-46.944V52.24c-0.032-25.848 21.024-46.904 46.896-46.904 25.912 0 46.904 21.032 46.904 46.904V474.472c0.008 25.936-20.984 46.968-46.904 46.968" fill="#1296db" p-id="4729"></path></svg>
                </div>
                <span>退出</span>
            </div>
        </div>
    </header>
    <main>
        <div class="left">
            <ul>
                <li class="active">
                    <div>
                        <svg t="1679899397794" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6100" width="20" height="20"><path d="M192 736 192 416C192 261.184 301.952 132.064 448 102.4L448 64C448 28.64 476.64 0 512 0 547.36 0 576 28.64 576 64L576 102.4C722.048 132.064 832 261.184 832 416L832 736 864.096 736C899.392 736 928 764.416 928 800 928 835.36 899.36 864 864.096 864L159.904 864C124.608 864 96 835.584 96 800 96 764.64 124.64 736 159.904 736L192 736ZM608 928C608 981.024 565.024 1024 512 1024 458.976 1024 416 981.024 416 928L608 928Z" p-id="6101" fill="#ffffff"></path></svg>
                    </div>
                    <span>系统通知</span>
                </li>
                <li class="">
                    <div>
                        <svg t="1679899563058" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7572" width="21" height="21"><path d="M828.8 193.99c-67.84-69.75-181.58-93.61-318.94-95.49-137.37 1.88-251.1 25.74-318.94 95.49-69.75 67.83-93.61 181.57-95.49 318.94 1.88 137.37 25.74 251.1 95.49 318.94 67.83 69.75 181.57 93.61 318.94 95.49 137.37-1.88 251.1-25.74 318.94-95.49 69.75-67.84 93.61-181.58 95.49-318.94-1.88-137.37-25.74-251.11-95.49-318.94zM661.97 551.06L436.84 676.35c-29.08 16.19-64.85-4.84-64.85-38.13V387.63c0-33.28 35.77-54.32 64.85-38.13l225.12 125.3c29.9 16.63 29.9 59.62 0.01 76.26z" p-id="7573" fill="#ffffff"></path></svg>
                    </div>
                    <span>视频管理</span>
                </li>
                <li class="">
                    <div>
                        <svg t="1679908598495" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="892" width="19" height="19"><path d="M815.455 302.129L710.512 401.5v-8.355c0-16.098-5.107-29.719-15.479-40.941-10.217-11.145-22.754-16.793-37.459-16.793H178.205c-14.859 0-27.396 5.648-37.613 16.793-10.371 11.223-15.324 24.844-15.324 40.941v348.227c0 16.254 4.953 29.875 15.324 41.02 10.217 11.145 22.754 16.715 37.613 16.715h159.738V915.66H125.267c-14.859 0-28.789-3.25-41.482-9.441-12.846-6.191-24.146-14.551-33.896-25.074-9.598-10.527-17.336-22.91-22.908-36.84-5.729-13.934-8.668-28.945-8.668-45.199v-580.02c0-15.477 2.939-30.414 8.668-44.656 5.572-14.395 13.311-26.543 22.908-36.758 9.75-10.297 21.051-18.5 33.896-24.691 12.693-6.266 26.623-9.285 41.482-9.285h585.244c14.859 0 28.48 3.02 41.482 9.285 12.691 6.191 23.992 14.395 33.588 24.691 9.752 10.215 17.49 22.363 23.219 36.758 5.727 14.242 8.512 29.18 8.512 44.656l-1.857 83.043z m-190.23 618.176H482.512V777.59l380.617-380.344 142.559 142.633-380.463 380.426z" fill="#ffffff" p-id="893"></path></svg>
                    </div>
                    <span>图文管理</span>
                </li>
                <li class="">
                    <div>
                        <svg t="1679899741672" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9614" width="18" height="18"><path d="M915.968 101.888H109.568c-51.712 0-93.696 41.984-93.696 93.696v717.824c0 18.432 14.848 33.28 33.28 32.768 6.656 0 13.312-2.048 18.432-5.632L256 809.984l8.192-2.56h651.776c51.712 0 93.696-41.984 93.696-93.696V195.584c0-51.712-41.984-93.696-93.696-93.696z m-396.288 515.072H298.496c-23.04 0-41.472-18.432-41.472-41.472s18.432-41.472 41.472-41.472h220.672c23.04 0 41.472 18.432 41.472 41.472s-18.432 41.472-40.96 41.472z m209.92-228.352H295.936c-23.04 0-41.472-18.432-41.472-41.472s18.432-41.472 41.472-41.472h434.176c23.04 0 41.472 18.432 41.472 41.472-0.512 23.04-18.944 41.472-41.984 41.472z" p-id="9615" fill="#ffffff"></path></svg>
                    </div>
                    <span>评论管理</span>
                </li>
                <li class="">
                    <div>
                        <svg t="1679899563058" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7572" width="21" height="21"><path d="M828.8 193.99c-67.84-69.75-181.58-93.61-318.94-95.49-137.37 1.88-251.1 25.74-318.94 95.49-69.75 67.83-93.61 181.57-95.49 318.94 1.88 137.37 25.74 251.1 95.49 318.94 67.83 69.75 181.57 93.61 318.94 95.49 137.37-1.88 251.1-25.74 318.94-95.49 69.75-67.84 93.61-181.58 95.49-318.94-1.88-137.37-25.74-251.11-95.49-318.94zM661.97 551.06L436.84 676.35c-29.08 16.19-64.85-4.84-64.85-38.13V387.63c0-33.28 35.77-54.32 64.85-38.13l225.12 125.3c29.9 16.63 29.9 59.62 0.01 76.26z" p-id="7573" fill="#ffffff"></path></svg>
                    </div>
                    <span>视频审核</span>
                </li>
                <li class="">
                    <div>
                        <svg t="1679908598495" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="892" width="19" height="19"><path d="M815.455 302.129L710.512 401.5v-8.355c0-16.098-5.107-29.719-15.479-40.941-10.217-11.145-22.754-16.793-37.459-16.793H178.205c-14.859 0-27.396 5.648-37.613 16.793-10.371 11.223-15.324 24.844-15.324 40.941v348.227c0 16.254 4.953 29.875 15.324 41.02 10.217 11.145 22.754 16.715 37.613 16.715h159.738V915.66H125.267c-14.859 0-28.789-3.25-41.482-9.441-12.846-6.191-24.146-14.551-33.896-25.074-9.598-10.527-17.336-22.91-22.908-36.84-5.729-13.934-8.668-28.945-8.668-45.199v-580.02c0-15.477 2.939-30.414 8.668-44.656 5.572-14.395 13.311-26.543 22.908-36.758 9.75-10.297 21.051-18.5 33.896-24.691 12.693-6.266 26.623-9.285 41.482-9.285h585.244c14.859 0 28.48 3.02 41.482 9.285 12.691 6.191 23.992 14.395 33.588 24.691 9.752 10.215 17.49 22.363 23.219 36.758 5.727 14.242 8.512 29.18 8.512 44.656l-1.857 83.043z m-190.23 618.176H482.512V777.59l380.617-380.344 142.559 142.633-380.463 380.426z" fill="#ffffff" p-id="893"></path></svg>
                    </div>
                    <span>图文审核</span>
                </li>
                <li class="">
                    <div>
                        <svg t="1679899793876" class="icon" viewBox="0 0 1131 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10817" width="20" height="20"><path d="M745.427267 506.826105a323.476211 323.476211 0 0 0-160.768 467.375158L3.296741 972.584421A485.214316 485.214316 0 0 1 301.873583 466.997895a269.473684 269.473684 0 1 1 366.645895 0c26.947368 11.048421 52.655158 24.414316 76.961684 39.882105z m-62.194526 65.320421c24.414316-21.557895 53.140211-38.265263 84.776421-48.666947 17.785263 22.204632 45.109895 36.432842 75.776 36.432842s57.990737-14.228211 75.776-36.432842a242.256842 242.256842 0 0 1 85.908211 49.690947 96.848842 96.848842 0 0 0 6.359579 83.752421c15.306105 26.570105 41.283368 43.115789 69.416421 47.427369a243.604211 243.604211 0 0 1 0.053894 98.896842 96.848842 96.848842 0 0 0-69.52421 47.427368 96.848842 96.848842 0 0 0-6.25179 83.968c-24.737684 22.204632-54.056421 39.343158-86.393263 49.906527a96.848842 96.848842 0 0 0-75.883789-36.594527c-30.558316 0-57.882947 14.174316-75.668211 36.325053a242.364632 242.364632 0 0 1-89.249684-53.032421 96.794947 96.794947 0 0 0-6.898526-82.458947c-14.551579-25.330526-38.804211-41.498947-65.374316-46.726737a243.658105 243.658105 0 0 1 1.401263-102.777263 96.794947 96.794947 0 0 0 68.015158-47.157895c14.605474-25.276632 16.545684-54.379789 7.760842-79.97979z m160.606316 278.797474a97.010526 97.010526 0 1 0 0-194.021053 97.010526 97.010526 0 0 0 0 194.021053z" fill="#ffffff" p-id="10818"></path></svg>
                    </div>
                    <span>用户管理</span>
                </li>
            </ul>
        </div>
        <!-- main1的右侧 -->
        <!-- 系统通知部分-start -->
        <div class="right" style="display: block;">
            <div class="right-title">
                <span class="right-title-icon"></span>
                <span class="right-title-text">系统通知</span>
            </div>
            <div class="user-setting">
                <form class="el-form" action="">
                    <div class="el-form-item">
                        <label class="el-form-item_lable" for="">通知标题:</label>
                        <div class="el-input">
                            <input type="text" placeholder="请输入标题" id="title">
                        </div>
                    </div>
                    <div class="el-form-item">
                        <label class="el-form-item_lable" for="">通知内容:</label>
                        <div class="el-textarea">
                            <textarea placeholder="请输入通知内容- ( ゜- ゜)つロ" id="content"></textarea>
                        </div>
                    </div>
                </form>
                <div class="el-form-item">
                    <div class="el-form-item_content">
                        <div class="padding-dom"></div>
                        <div class="user-my-btn-warp">
                            <button class="save">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 系统通知部分-end -->

        <!-- 视频管理部分-start -->
        <div class="right" style="display: none;">
            <div class="right-title">
                <span class="right-title-icon"></span>
                <span class="right-title-text">收到的视频投诉</span>
            </div>
            <div class="user-setting">
                <div class="r-content">
                    <div class="r-content-header">
                        <span>被投诉的视频：</span>
                        <span>投诉原因：</span>
                        <span>操作：</span>
                    </div>
                    <div class="r-content-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- 视频管理部分-end -->

        <!-- snacks管理部分-start -->
        <div class="right" style="display: none;">
            <div class="right-title">
                <span class="right-title-icon"></span>
                <span class="right-title-text">收到的图文投诉</span>
            </div>
            <div class="user-setting">
                <div class="r-content">
                    <div class="r-content-header">
                        <span>被投诉的图文：</span>
                        <span>投诉原因：</span>
                        <span>操作：</span>
                    </div>
                    <div class="r-content-body2">
                        <div class="snacks-item"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- snacks管理部分-end -->

        <!-- 评论管理部分-start -->
        <div class="right" style="display: none;">
            <div class="right-title">
                <span class="right-title-icon"></span>
                <span class="right-title-text">收到的评论投诉</span>
            </div>
            <div class="user-setting">
                <div class="r-content">
                    <div class="r-content-header">
                        <span>被投诉的评论：</span>
                        <span>投诉原因：</span>
                        <span>操作：</span>
                    </div>
                    <div class="r-content-body3">

                    </div>
                </div>
            </div>
        </div>
        <!-- 评论管理部分-end -->

        <!-- 视频审核部分-start -->
        <div class="right" style="display: none;">
            <div class="right-title">
                <span class="right-title-icon"></span>
                <span class="right-title-text">待审核的视频</span>
            </div>
            <div class="user-setting">
                <div class="r-content">
                    <div class="r-content-header">
                        <span>待审核的视频：</span>
                        <span></span>
                        <span style="margin-left: 70px;">操作：</span>
                    </div>
                    <div class="r-content-body4">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- 视频审核部分-end -->
        <!-- 视频弹窗 -->
        <div class="alert">
            <div class="alert-body">
                <div class="alert-title">
                    <div class="alert-title1">弹窗标题</div>
                    <div class="alert-icon" onclick="alertHide()">
                        <svg t="1683791124058" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3212" width="20" height="20"><path d="M628.288 512l319.68 319.68c16.064 16.064 16.064 42.048 0 58.112l-58.112 58.112c-16.064 16.064-42.048 16.064-58.112 0L512 628.288l-319.68 319.68c-16.064 16.064-42.048 16.064-58.112 0l-58.112-58.112c-16.064-16.064-16.064-42.112 0-58.112L395.712 512 76.032 192.32c-16.064-16.064-16.064-42.048 0-58.112l58.112-58.112c16.064-16.064 42.112-16.064 58.112 0L512 395.712l319.68-319.68c16.064-16.064 42.112-16.064 58.112 0l58.112 58.112c16.064 16.064 16.064 42.112 0 58.112L628.288 512z" p-id="3213" fill="#515151"></path></svg>
                    </div>
                </div>
                <div class="alert-content">
                    <video src="/images/那些博主热推的2022爆火美食，一口下去直接…….mp4" controls poster></video>
                </div>
            </div>
        </div>

        <!-- snacks审核部分-start -->
        <div class="right" style="display: none;">
            <div class="right-title">
                <span class="right-title-icon"></span>
                <span class="right-title-text">待审核的图文</span>
            </div>
            <div class="user-setting">
                <div class="r-content">
                    <div class="r-content-header">
                        <span>待审核的图文：</span>
                        <span style="margin-left: -30px;">所属省份：</span>
                        <span>操作：</span>
                    </div>
                    <div class="r-content-body5">
                        <div class="snacks-item"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- snacks审核部分-end -->

        <!-- 用户管理部分-start -->
        <div class="right" style="display: none;">
            <div class="right-title">
                <span class="right-title-icon"></span>
                <span class="right-title-text">用户管理</span>
            </div>
            <div class="user-setting">
                <div class="r-content">
                    <div class="user-content-header">
                        <span>用户头像：</span>
                        <span>用户名：</span>
                        <span>注册时间：</span>
                        <span>用户角色：</span>
                        <span>操作：</span>
                    </div>
                    <div class="user-content-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- 用户管理部分-end -->
    </main>

    <script src="/js/manager.js"></script>
</body>
</html>