<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 天 津 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>十八街麻花</h3>
                <div class="item-img">
                    <img src="/images/十八街麻花.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>桂发祥十八街麻花是一道传统名点。天津市的百年老字号麻花店，与天津狗不理包子、耳朵眼炸糕并称的“天津三绝”。桂发祥十八街麻花在全国首届名小吃认定会上被认定为“中华名小吃”，1996年被中国国内贸易部命名为“中华老字号”，曾荣获国家部优金鼎奖、亚太地区博览会金奖，并被认定为中国驰名商标、天津市名牌产品及天津市著名商标。</span>
                </div>
            </div>          
            <div class="item">
                <h3>天津紫蟹</h3>
                <div class="item-img">
                    <img src="/images/天津紫蟹.png" alt="">
                </div>
                <div class="item-content">
                    <span>天津紫蟹是中华绒蟹的一种，它体小，仅有一颗大衣纽扣大小。揭开蟹盖，蟹黄呈猪肝紫色，煮熟后变成橘红色，味极鲜美。紫蟹都产在寒风凛冽的冬季，因此，常常用于什锦火锅。每值冬季，聚栖于河堤泥洞之中，须破冰掏捕。此物虽小，但腹部洁白无泥，滋味鲜美。因其蟹黄异常丰厚，透过薄薄的蟹盖，呈现出一层紫色，故名。明、清时曾为贡品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>孩梨</h3>
                <div class="item-img">
                    <img src="/images/孩梨.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>孩梨，这里的“孩”音“鸭”，俗称“鸭梨”。孩梨曾是河北泊镇的特产。因其水土好，梨个儿大皮儿薄，色如黄金，脆甜多水，可贮存。但泊镇仅是一个滨河小镇，哪有交通发达的集散地——天津这么名气大呢？故称之为“天津鸭梨”，并出口行销海外，实际上是将泊镇的特产“掠美”而归天津了。不过，近年来由于果树技术的发展，天津确实已变成孩梨的产地了。</span>
                </div>
            </div>          
            <div class="item">
                <h3>十大酥</h3>
                <div class="item-img">
                    <img src="/images/十大酥.png" alt="">
                </div>
                <div class="item-content">
                    <span>十大酥是一道天津市的传统名点，属于风味筵席甜点。十大酥选用精面粉为主料，佐以蜜枣、葡萄干、果脯等辅料制作而成。</span>
                </div>
            </div>          
            <div class="item">
                <h3>天津小站稻</h3>
                <div class="item-img">
                    <img src="/images/天津小站稻.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>小站稻米质优异，脍炙人口。周盛传小站屯垦成功，始有小站稻的称谓，其后成为津沽名特产品。上世纪50～60年代，曾以特二级优质米销往日本、东欧、东南亚、古巴等国家和地区。1956～1957年，全国20多个省市引调小站稻良种，各地远来学技，老农频出指导，年调籽种数万公斤，支援各地，振发了山东、宁夏等省区水稻的发展。</span>
                </div>
            </div>          
            <div class="item">
                <h3>盘山盖柿</h3>
                <div class="item-img">
                    <img src="/images/盘山盖柿.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>盘山盖柿又名盖柿、盘山柿子，原产天津、栽培历史悠久，是当地的古老栽培树种之一。柿果个大、皮薄、汤清、甘甜，尤以盘山地区最为著名。盘山盖柿无核，每百克鲜柿果肉中含糖12－18克，蛋白质1．2克，脂肪0．2克，可溶性固形物15－18克。</span>
                </div>
            </div>          
            <div class="item">
                <h3>天津红钟酱油</h3>
                <div class="item-img">
                    <img src="/images/天津红钟酱油.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>成品红钟牌酱油色泽红褐，质地清澈，香味醇厚，味道鲜美，久存不变质。这种酱油中的无 盐固态物、氨基酸、糖分、食盐、全氮、总酸及比重等理化指标均达到或超过国际先进水平。 在发酵期间，各种微生物的作用生成多种人体必需的氨基酸和有机酸、醇、酯，并产生自然色素和特有的风味。</span>
                </div>
            </div>          
            <div class="item">
                <h3>泥人张彩塑</h3>
                <div class="item-img">
                    <img src="/images/泥人张彩塑.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>泥人张彩塑为天津市的一种民间文化，著名的汉族传统手工艺品之一。作为北方流传的一派民间彩塑，创始于清代道光年间，是天津艺人张明山于19世纪中叶创造的彩绘泥塑艺术品，现为天津市首批国家级非物质文化遗产。泥人张彩塑被公认为是天津的一绝，早在清代乾隆、嘉庆年间就已经享有很大声誉。泥人张把传统的捏泥人提高到圆塑艺术的水平，又装饰以色彩、道具、形成了独特的风格。</span>
                </div>
            </div>          
            <div class="item">
                <h3>沙窝萝卜</h3>
                <div class="item-img">
                    <img src="/images/沙窝萝卜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>沙窝萝卜原产地天津市西青区辛口镇沙窝村，是天津农业名牌产品，距今已有600年种植历史。 [5]  它喜温暖、光照足的环境，水分需求不大，以土层深厚、疏松、排水良好的肥沃砂质土壤为最佳，一般生长在土质较有粘性的平原地带。 [4]  沙窝萝卜通常用播种繁殖或者杂交培育，杂交培育适合培育优良品种，生活实际常用播种繁殖。</span>
                </div>
            </div>          
            <div class="item">
                <h3>天津红小豆</h3>
                <div class="item-img">
                    <img src="/images/天津红小豆.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>天津红小豆（Vigna umbellata (Thunb.) Ohwi et Ohashi）是天津地区农产品中传统的优良品种，也是传统的出口商品，主要销往日本、港澳及东南亚等地。</span>
                </div>
            </div>          
            <div class="item">
                <h3>蓟县猕猴桃</h3>
                <div class="item-img">
                    <img src="/images/蓟县猕猴桃.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>猕猴桃是天津蓟县三宝之一，是一种野生植物，可以入药，猕猴桃的特异之处，就是其所含维生素高出苹果数十倍，被誉为“世界珍果”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>黄花山核桃</h3>
                <div class="item-img">
                    <img src="/images/黄花山核桃.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>黄花山核桃，天津市蓟县特产，中国国家地理标志产品。黄花山核桃，果型：坚果圆形，壳面光滑，色浅，壳较薄。果仁：饱满、黄白色、口感圆润清香、涩味淡。理化指标： 横径≥34毫米，单果重≥12克，壳厚≤1.5毫米，出仁率≥50%，含水量≤6.0%，脂肪含量58.5%至64.5%。2012年12月26日，原国家质检总局批准对“黄花山核桃”实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>红花峪桑葚</h3>
                <div class="item-img">
                    <img src="/images/红花峪桑葚.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>红花峪桑葚，天津市蓟县特产，中国国家地理标志产品。红花峪桑葚产地在蓟州城区东南10千米、于桥水库南岸山前的红花峪山坳。这里地形环境相对封闭，四周分布着九座海拔80至150米的丘陵。山上保存着较完整的原始次生林，优良的生态环境，使得红花峪桑葚具有果实饱满，甜软清香，酸甜适口，入口易化，汁水多等特点。2014年04月08日，原国家质检总局批准对“红花峪桑葚”实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>天津冬菜</h3>
                <div class="item-img">
                    <img src="/images/天津冬菜.png" alt="">
                </div>
                <div class="item-content">
                    <span>天津冬菜是中国发酵性蔬菜腌渍品中一种以半干态发酵方式制成的腌渍品，已有数百年的历史。天津冬菜以其传统、独特的风味，成为天津地方土特产品之一，在国内外市场占有一定位置。</span>
                </div>
            </div>          
            <div class="item">
                <h3>天津红枣年糕</h3>
                <div class="item-img">
                    <img src="/images/天津红枣年糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>红枣年糕是天津特色糕点小吃，主要食材有红枣、糯米粉、牛奶等。</span>
                </div>
            </div>          
            <div class="item">
                <h3>宝坻大蒜</h3>
                <div class="item-img">
                    <img src="/images/宝坻大蒜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>宝坻大蒜，天津市宝坻区特产，全国农产品地理标志。宝坻区域内土壤主要由河流冲积物沉积而成，有机质含量高，氮、钾及微量元素丰富，粘壤适中，保肥、保水、透气性强，适合“宝坻大蒜”生长。宝坻大蒜以6瓣为主，茎盘上围成一轮，蒜皮为紫红色，蒜瓣洁白、均匀，鲜嫩多汁，口感辛辣，脆香浓郁，风味独特，肉质肥厚 。2016年3月31日，原中华人民共和国农业部批准对“宝坻大蒜”实施国家农产品地理标志登记保护 。</span>
                </div>
            </div>          
            <div class="item">
                <h3>大港冬枣</h3>
                <div class="item-img">
                    <img src="/images/大港冬枣.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>大港冬枣，天津市滨海新区特产，全国农产品地理标志。冬枣在大港的种植历史可以追溯到明朝洪武年间,，历史悠久。大港地区东临渤海，受海洋气候的影响，属于典型的暖温带半湿润季风大陆性气候，栽培枣树有着得天独厚的自然优势。大港冬枣个大、皮薄、甜脆、口感好，品质极佳，适于鲜食。2011年12月20日，中华人民共和国农业部批准对“大港冬枣”实施农产品地理标志登记保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>茶淀玫瑰香葡萄</h3>
                <div class="item-img">
                    <img src="/images/茶淀玫瑰香葡萄.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>茶淀玫瑰香葡萄，天津市汉沽区特产，中国国家地理标志产品。茶淀玫瑰香葡萄因原产于汉沽茶淀镇而得名。汉沽拥有绝佳的自然优势，是种植葡萄的上选之地，栽培面积遍及汉沽4个镇，而玫瑰香葡萄种植占葡萄种植总面积的95%。独特的地理条件和自然环境被汉沽人民充分利用，再加上科学的种植技术，茶淀葡萄夺得了众多奖项，2008年成为奥运会果品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>桑梓西瓜</h3>
                <div class="item-img">
                    <img src="/images/桑梓西瓜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>桑梓西瓜，天津市蓟县桑梓镇特产，全国农产品地理标志。 桑梓西瓜大小均匀，整齐一致，圆整端正，外观果面光滑，瓜皮色泽新鲜，绿色覆细齿条，有蜡粉。西瓜切开后，果实剖面无空心、白筋、黄块等；果皮薄而有韧性；西瓜瓤色鲜红一致，有沙感。2015年2月10日，原中华人民共和国农业部批准对“桑梓西瓜”实施国家农产品地理标志登记保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>风筝魏</h3>
                <div class="item-img">
                    <img src="/images/风筝魏.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>风筝魏是天津著名风筝艺人魏元泰制作的风筝，传统手工艺术珍品，民间传统节日文化习俗。故称风筝魏。魏元泰生于清同治十一年，父亲魏长清是鞋行手艺，当过店员，做过摊贩。他生有三个儿子， 魏元泰是老三，曾读书于私塾，因家计困难退学，十六岁到蒋记扎采铺当学徒，学做风筝，四年期满，由他父亲给他张罗开设了一个扎采铺，起名叫长清斋，从此他就以制做风筝为业。</span>
                </div>
            </div>          
            <div class="item">
                <h3>桂顺斋糕点</h3>
                <div class="item-img">
                    <img src="/images/桂顺斋糕点.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>“桂顺斋”糕点是有近百年历史的中华老字号，名牌清真食品企业，是享誉全国津门风味食品历史长河中享有“三绝”（十八街麻花、耳朵眼炸糕、狗不理包子）“两斋”（桂顺斋、祥德斋）美誉之称的著名品牌。继承传统、科学创新，满足不同消费者需求是该厂的经营宗旨。</span>
                </div>
            </div>          
            <div class="item">
                <h3>尧舜栗羊羹</h3>
                <div class="item-img">
                    <img src="/images/尧舜栗羊羹.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>“尧舜栗羊羹”曾是天津特色小吃，天津本地也叫栗子羹，口感香甜细腻，虽然叫栗羊羹，并不是羊肉做的羹，而是一种素食小吃，是用红小豆做成细馅，加糖制作而成。</span>
                </div>
            </div>          
            
            <div class="item">
                <h3>小宝栗子</h3>
                <div class="item-img">
                    <img src="/images/小宝栗子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>“小宝栗子"是天津特产里比较受天津本地人欢迎的一个东西，栗子可以轻松的剥下而不损坏一丝里面的栗子肉，味道香浓，甚至从好远之外路过都能闻到如此美妙的气味。栗子一颗颗色泽光亮、颗粒饱满、易于剥皮、不粘不黑、栗香纯正、芳醇无比、酥软鲜糯、老少皆宜、甘甜可口、回味无穷。</span>
                </div>
            </div>          
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>