<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 海 南 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>椰子船</h3>
                <div class="item-img">
                    <img src="/images/椰子船.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>椰子船又称珍珠柳子船，是海南琼海、文昌一带地方传统小吃。该小吃硬软相间，脆糕结合，慢品细嚼，椰香浓郁，清甜爽口。用鲜椰子装入糯米、味料煮熟而成，具有浓厚的椰乡气息。一般只流行于椰子产地的民间，只有个别餐饮店作产品销售。</span>
                </div>
            </div>
            <div class="item">
                <h3>海南椰子</h3>
                <div class="item-img">
                    <img src="/images/海南椰子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>海南椰子是棕榈科椰子属乔木。海南椰子的利用价值很大，有“宝树”之称。8～9个月龄的嫩果椰水可作饮料；从其椰子的花序上割取的椰花汁，经发酵可制椰子酒；完全成熟后的椰肉富含脂肪、蛋白质等，同时可制成椰奶粉、椰蛋白、无色椰油、椰粉等；椰油可食用或制作高级肥皂；椰衣由粗纤维组成，可制绳索和地毯；椰麸可作为饲料；椰壳可制成优质活性炭或加工成椰雕。椰木质地坚硬，木纹美观，可作家具和建筑用材。</span>
                </div>
            </div>
            <div class="item">
                <h3>文昌椰子</h3>
                <div class="item-img">
                    <img src="/images/文昌椰子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>文昌椰子，海南省文昌市特产，全国农产品地理标志。文昌市属北回归线以南，属热带海洋季风气候。土壤十分适宜椰树生长。文昌椰子果型近圆形或卵圆形，果皮和种壳较厚，鲜果清香，果肉白色嫩滑，椰水甘甜香纯。2017年9月1日，原中华人民共和国农业部批准对“文昌椰子”实施国家农产品地理标志登记保护。2019年11月15日，入选中国农业品牌目录。</span>
                </div>
            </div>
            <div class="item">
                <h3>黄灯笼辣椒酱</h3>
                <div class="item-img">
                    <img src="/images/黄灯笼辣椒酱.jpg" alt="">
                </div>
                <div class="item-content">
                    <span></span>
                </div>
            </div>
            <div class="item">
                <h3>椰子糖</h3>
                <div class="item-img">
                    <img src="/images/椰子糖.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>椰子糖(coconut candy)，以椰子为主要原料，采用科学的工艺精心加工而成。保留了椰子的原香原味及营养成份。口感香滑、椰香浓郁、风味独特。椰子糖, 是具有海南独特风味的糖果, 其制作方法是利用椰子 果 肉的新 鲜乳汁为主要 原料, 配 以一 级 白砂糖、甲级液体葡 萄糖经熬制而成。</span>
                </div>
            </div>
            <div class="item">
                <h3>椰子糕</h3>
                <div class="item-img">
                    <img src="/images/椰子糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>椰子糕是海南的传统特色糕点，是椰子精华的浓缩。由葡萄糖浆、白砂糖、鲜椰子汁、糯米纸原料精制而成。椰子糕除了具有年糕的绵软，甜而不腻中夹着一丝丝韧劲，外观上椰子糕色泽明，光滑洁亮，赏心悦目，诱人食欲，入口清爽，甜滑润喉。椰香浓郁、软糯可口、馅料香甜。</span>
                </div>
            </div>
            <div class="item">
                <h3>五指山红茶</h3>
                <div class="item-img">
                    <img src="/images/五指山红茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>五指山红茶，海南省五指山市特产，全国农产品地理标志。五指山是海南省森林生物多样性保护的核心区和重要的水源涵养区，属典型的低纬度、高海拔的热带海洋季风气候，多雨多雾，光、热、水资源丰富，土质微酸、土层深厚肥沃，发展茶叶生产的自然条件得天独厚，是中国最南端的高山云雾茶叶产区。依托得天独厚的生态环境和自然气候的滋润，成就了五指山茶叶的优良品质。2015年11月05日，中华人民共和国农业部批准对“五指山红茶”实施国家农产品地理标志登记保护。</span>
                </div>
            </div>
            <div class="item">
                <h3>澄迈苦丁茶</h3>
                <div class="item-img">
                    <img src="/images/澄迈苦丁茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>澄迈苦丁茶，海南省澄迈县特产，中国国家地理标志产品。澄迈苦丁茶园分布区域山高雾大，而且处于高雷区，空气中富含臭氧负离子，对茶树的生长和各种营养成份的形成十分有利。澄迈苦丁茶种植在火山喷发高温烧过的玄武岩发育而成的砖红壤地区，土壤中各种养分丰厚、矿物质及植物生长所需的各种微量元素含量丰富，其土壤为火山岩经过上万年的风化后才形成的。茶场四周地势呈盆地状，中间低，四周高，四周风化了的火山岩及大量的有机质，经过千万年的冲刷，尽积于盆底，成为肥沃的冲积平原，松厚的土中各种有机质和矿物质的含量相当高，因此植物中各种营养成份的含量很高，所生产的苦丁茶具有香气足，耐冲泡，含油量高的特点。</span>
                </div>
            </div>
            <div class="item">
                <h3>白沙绿茶</h3>
                <div class="item-img">
                    <img src="/images/白沙绿茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>白沙绿茶，海南省白沙黎族自治县境内的国营白沙农场特产，中国国家地理标志产品。白沙绿茶是中国国家地理标志产品，产自白沙陨石坑境内，白沙陨石坑独特的土壤条件，以及陨石坑境内优良的生态环境，雨量充沛，常年雾气缭绕，加上近处无重工业，又远离城市，无污染，是高山云雾茶生长的最佳地域，为茶树的生长创造了优越的自然条件，造就了品质优良的白沙绿茶。经科学测定，陨石坑内的土壤含有矿物类达50多种，营养丰富，成就了白沙绿茶的不可复制性和稀有性。 2004年10月29日，原国家质检总局批准对“白沙绿茶”实施地理标志产品保护。</span>
                </div>
            </div>
            <div class="item">
                <h3>锦山牛肉干</h3>
                <div class="item-img">
                    <img src="/images/锦山牛肉干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>锦山牛肉干是一道色香味俱全的小吃，因产于海南文昌的锦山镇而得名。肉脆味美、香甜适口。细啃慢嚼，津津有味，为下酒的上乘食料。而且它有抗衰老、补血、强身健体的作用。</span>
                </div>
            </div>
            <div class="item">
                <h3>清补凉</h3>
                <div class="item-img">
                    <img src="/images/清补凉.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>清补凉，在海南话中清补凉的“凉”字会读成阴上声，与用作重量单位时的两字同音，是夏天清热祛湿的老火汤。清补凉多以成糖水及老火汤的形式出现，不同地区有其独特的风味和食疗效果。经过改良，清补凉除了原先的糖水以外，还有椰子水，椰奶，冰沙和冰激凌等不同吃法。流行于中国海南、广东、香港和澳门、广西等地区。</span>
                </div>
            </div>
            <div class="item">
                <h3>海南椰雕</h3>
                <div class="item-img">
                    <img src="/images/海南椰雕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>椰雕（海南椰雕），海南省海口市的传统美术，国家级非物质文化遗产之一。唐代即已出现关于海南椰雕的记载，明清时期椰雕被作为珍品进贡朝廷，赢得“天南贡品”之誉。20世纪中叶以来，椰雕技艺在继承传统的基础上又有了新的提高。椰雕（海南椰雕）一般经过设计、选材、开料、雕镂、造胎（铜或锡质等）、镶嵌、修饰或打磨、上漆或贴金、装饰（配套）等工序。2007年7月23日，椰雕（海南椰雕）入选第二批海南省级非物质文化遗产名录。2008年6月7日，椰雕（海南椰雕）经中华人民共和国国务院批准列入第二批国家级非物质文化遗产名录，遗产编号：Ⅶ-60。</span>
                </div>
            </div>
            <div class="item">
                <h3>黎族织锦</h3>
                <div class="item-img">
                    <img src="/images/黎族织锦.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>海南岛黎族民间织锦。有悠久的历史。产于海南岛的黎族居住区，《峒溪纤志》载：“黎人取中国彩帛，拆取色丝和吉贝，织之成锦。”范成大《桂海虞衡志》记载的“黎单”，“黎幕”宋代已远销大陆，“桂林人悉买以为卧具”。2009年10月, 联合国教科文组织正式批准海南省“黎族传统纺染织绣技艺”（以下简称“黎锦技艺”）进入联合国教科文组织首批急需保护的非物质文化遗产名录。2017年3月28日在海南省东方市举办的千人织黎锦展示，获吉尼斯世界纪录“最多人同时织布”(Most people weaving cloth simultaneously)荣誉称号。</span>
                </div>
            </div>
            <div class="item">
                <h3>海南沉香</h3>
                <div class="item-img">
                    <img src="/images/海南沉香.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>海南产地沉香(海南沉香)，是海南地道药材之一，具有色深、香味浓、油脂多等特色，堪称沉香药材中的极品。它具有行气止痛、温中止呕、纳气平喘、抑制中枢神经以及结核菌生长等作用。</span>
                </div>
            </div>
            <div class="item">
                <h3>海南油柑</h3>
                <div class="item-img">
                    <img src="/images/海南油柑.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>海南油柑，又叫油柑子，是落叶小乔木，果实肉质，球形，成熟时成赤黄色或淡黄色，可以生吃，也可用糖或者盐腌制后食用。分布在我国分布于广东、海南、广西、云南等区域。</span>
                </div>
            </div>
            <div class="item">
                <h3>三亚芒果</h3>
                <div class="item-img">
                    <img src="/images/三亚芒果.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>三亚芒果，海南省三亚市特产，中国国家地理标志产品。芒果为漆树科芒果属热带常绿大乔木，原产印度及马来西亚，印度栽培历史最久，已有4000多年的历史。第一个把芒果介绍到印度国带到中国的是唐朝的高僧玄奘法师，在《大唐西域记》中有“庵波罗果，见珍于世”这样的记载。在《崖州志》有“檬果，广俯名芒果。树高丈余，子极繁，大如鸭蛋。”的记载。芒果在三亚的种植有近千的历史了。三亚芒果为椭圆形，果形比其他地区同品种芒果略大，成熟果实为红、黄色带果蜡，色泽鲜艳。2015年2月10日，原中华人民共和国农业部批准对“三亚芒果”实施国家农产品地理标志登记保护。</span>
                </div>
            </div>
            <div class="item">
                <h3>定安粽子</h3>
                <div class="item-img">
                    <img src="/images/定安粽子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>定安粽子形成于明代，又名定安现龙粽子，是海南三大名粽之一。定安现龙粽子以清香，淳朴，美味可口而闻名，有史以来有着海南名粽、最受消费者青睐的粽子之美称。2014年3月，定安粽子”获得国家地理标志证明商标，“定安粽子”是经过国家工商行政管理总局商标局核准注册的地理标志证明商标，用于证明定安粽子的原产地域和特定品质。</span>
                </div>
            </div>
            <div class="item">
                <h3>儋州那大粽</h3>
                <div class="item-img">
                    <img src="/images/儋州那大粽.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>肉质香松、清香甘醇、口齿留香是那大粽的特点。那大粽子以馅多料好、精工细作为特色，经过那大传统民间手艺制作而成的粽子、以入口油而不腻、糯而不粘、咸甜适中、香嫩鲜美而闻名岛内外。</span>
                </div>
            </div>
            <div class="item">
                <h3>和乐粽子</h3>
                <div class="item-img">
                    <img src="/images/和乐粽子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>和乐粽子所需的“吃海鲜的黑猪肉”、“喝海水的咸水鸭鸭蛋”和“太阳河边的糯米稻”等绿色原料皆产于和乐。甚至还有将海南四大名菜和乐蟹包入和乐粽里——和乐蟹肉粽！尽管一个200克的和乐蟹粽卖到30元至60元的价格，仍受到广大市民游客的追捧。</span>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>