<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 山 东 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>扒鸡</h3>
                <div class="item-img">
                    <img src="/images/扒鸡.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>扒鸡是山东省的代表菜之一，也是传统风味特色名吃，属于鲁菜，制作材料有鸡、砂仁、丁香、玉果等。以德州五香脱骨扒鸡最富盛名，属中国四大名鸡之首。德州扒鸡制作技艺为国家非物质文化遗产。</span>
                </div>
            </div>          
            <div class="item">
                <h3>东阿阿胶</h3>
                <div class="item-img">
                    <img src="/images/东阿阿胶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>东阿阿胶，是东阿阿胶股份有限公司旗下的一款阿胶品牌。2019年12月23日，东阿阿胶入选“中国农产品百强标志性品牌”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>崂山云峰茶</h3>
                <div class="item-img">
                    <img src="/images/崂山云峰茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>崂山云峰茶的成品茶属于绿茶，由精选崂山鲜茶用现代工艺加工而成。</span>
                </div>
            </div>          
            <div class="item">
                <h3>高粱饴</h3>
                <div class="item-img">
                    <img src="/images/高粱饴.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>高粱饴，统称饴糖，是山东的特产，是传统的名牌软糖品类，一向以“弹、韧、柔”三性兼备而著称。吃起来粘牙，甘美爽口。其选用优质白砂糖、淀粉、麦芽糖浆、水、高粱粉等为主料，采用传统工艺、设备、稳火细工熬制而成；以组织细腻、富有韧性、微甜可口的特点成为山东特产中的名品。近几年来，又创制了许多新的花色品种如具有玫瑰味的玫瑰饴，具有清凉解渴生津特点的薄荷饴、止咳贝羚饴和羚翘感冒饴则对预防治疗咳嗽伤风感冒有一定的医疗作用。</span>
                </div>
            </div>          
            <div class="item">
                <h3>烟台苹果</h3>
                <div class="item-img">
                    <img src="/images/烟台苹果.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>烟台苹果是以烟台辖区内的长岛县、龙口、莱阳、莱州、蓬莱、招远、栖霞和海阳等地栽培的苹果。烟台苹果栽培历史悠久，是中国苹果栽培最早的地方。1871年西洋苹果引进烟台，有140多年的历史，被称为中国现代苹果的发源地。烟台气候和环境条件非常适宜苹果生长，被农业部确定为中国苹果优势产区，烟台苹果以“果形端正、色泽艳丽、果肉甜脆、香气浓郁”享誉国内外。是烟台市的区域公用品牌。</span>
                </div>
            </div>          
            <div class="item">
                <h3>日照绿茶</h3>
                <div class="item-img">
                    <img src="/images/日照绿茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>日照绿茶具有干茶墨绿，冲泡后汤色黄绿明亮、栗香浓郁、回味甘醇、叶片厚、香气高、耐冲泡等独特优良品质，被誉为"中国绿茶新贵"并素称"北方第一茶"。日照绿茶产于山东省日照市。日照市地处山东省东南部，东临黄海，属暖温带湿润季风气候，光照充足，雨量充沛。境内山地丘陵土壤呈微酸性，属黄棕壤土，含有丰富的有机质和微量元素。优越的沿海气候条件和优良的环境，孕育了日照绿茶"叶片厚、滋味浓、香气高、耐冲泡"的独待品质，日照绿茶因此被誉为"江北第一茶"。</span>
                </div>
            </div>          
            <div class="item">
                <h3>肥城桃</h3>
                <div class="item-img">
                    <img src="/images/肥城桃.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>山东省泰安市的肥城所产的桃皆可称为肥城桃，现在的肥城桃已经不是只单一的几个品种了，只要是肥城本地产的肥城桃都可以称为肥城桃。以前会把肥城桃简称肥桃，简单的指某几个品种，俗话说：“天上蟠桃，人间肥桃。”肥桃又名佛桃、寿桃，因个大，味儿美，营养丰富，被誉为“群桃之冠”，迄今已有1100多年栽培历史，自明朝起即为皇室贡品。早在1995年，肥城就被农业部命名为“中国佛桃之乡”。全市肥桃栽培面积已超过6万亩，成为世界上最大的桃园。</span>
                </div>
            </div>          
            <div class="item">
                <h3>青州敞口山楂</h3>
                <div class="item-img">
                    <img src="/images/青州敞口山楂.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>青州敞口山楂，山东省青州市特产，中国国家地理标志产品。青州敞口山楂是大山楂中品质最好的品种。据青州府志记载，当地山楂栽培历史已有500多年。敞口山楂树势强壮，树姿开张，树冠紧凑，为自然半圆头形。敞口山楂果实扁圆形，果皮涂红，果点黄白色，密集，果皮较粗糙，无光泽，因萼筒大而深，萼片开张而成“敞口”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>青州柿干</h3>
                <div class="item-img">
                    <img src="/images/青州柿干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>青州柿干，山东省青州市特产，中国国家地理标志产品。青州柿干是选用上品柿子，经去皮、吊晒后，加工制作而成的一种半干软果。柿子在青州市果品产量中占有重要的位置，常年为全市果品总产量的三分之一以上，柿树的栽培历史悠久，品质上等，用当地的优良品种——小萼子柿果加工制成的柿饼，质地柔软，霜厚而严，在国际市场上享有很高的声誉。2014年04月16日，原国家质检总局批准对“青州柿干”实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>潍县萝卜</h3>
                <div class="item-img">
                    <img src="/images/潍县萝卜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>潍县萝卜，山东省潍坊市特产，中国国家地理标志产品。 潍县萝卜又称潍坊萝卜，是山东省著名萝卜优良品种，俗称高脚青或潍县青萝卜，因原产于山东潍县而得名，已有300多年的栽培历史。潍县萝卜皮色深绿，肉质翠绿，香辣脆甜，多汁味美，具有浓郁独特的地方风味和鲜明的地域特点，是享誉国内外的名特优地方品种。素有“烟台苹果、莱阳梨，不如潍县萝卜皮”之说，深受人们的喜爱。</span>
                </div>
            </div>          
            <div class="item">
                <h3>冠县鸭梨</h3>
                <div class="item-img">
                    <img src="/images/冠县鸭梨.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>冠县鸭梨是山东省冠县特产，中国国家地理标志产品。冠县鸭梨历史悠久，面积广阔，有“鸭梨甲天下”之称。 冠县鸭梨为冠县的“县果”,已有1000多年的栽培历史，因果柄处状如鸭头而得名。具有个大、皮薄、核小、肉嫩质细且脆、味甜汁多且浓、果面洁净光滑、果形端正、石细胞少、耐贮藏等特点。</span>
                </div>
            </div>          
            <div class="item">
                <h3>陈集山药</h3>
                <div class="item-img">
                    <img src="/images/陈集山药.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>陈集山药，山东省菏泽市经济开发区陈集镇特产，中国国家地理标志产品。陈集山药因其体表生长着像鸡皮毛囊的粗糙斑点，很像鸡皮而得名“鸡皮糙山药”；又因质地坚硬，粉性足，久煮不烂，不易折断，两根相击有铿锵之音，而获名“铁棍山药”。陈集山药因其历史悠久，又紧靠曹州古城，因而又有“曹州山药”之称，与“曹州牡丹”、“曹州耿饼”、“曹州木瓜”并称曹州四大特产。</span>
                </div>
            </div>          
            <div class="item">
                <h3>大泽山葡萄</h3>
                <div class="item-img">
                    <img src="/images/大泽山葡萄.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>大泽山葡萄，山东省平度市大泽山镇特产，中国国家地理标志产品。大泽山葡萄产于山东省平度市大泽山镇，是山东省著名特产之一，有上百年的栽培史。大泽山葡萄风味独特，品质优良，穗大粒饱，色泽鲜艳，皮薄肉嫩，口味宜人。广泛栽培的品种有十几个，玫瑰香栽培最多。2008年，国家质检总局批准对大泽山葡萄实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>茌平圆铃大枣</h3>
                <div class="item-img">
                    <img src="/images/茌平圆铃大枣.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>茌平圆铃大枣，山东省聊城市茌平区特产，中国国家地理标志产品。 茌平圆铃大枣，因其形似圆铃，皮色紫红，个大核小，味美甘甜，得名“圆铃大枣”。新鲜茌平圆铃大枣每百克维生素C含量高达200至500毫克，钾、铁等元素的含量也在水果中名列前茅。</span>
                </div>
            </div>          
            <div class="item">
                <h3>金乡大蒜</h3>
                <div class="item-img">
                    <img src="/images/金乡大蒜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>金乡大蒜，山东省济宁市金乡县特产，中国国家地理标志产品。金乡县是全国著名的大蒜之乡，大蒜种植历史已达2000余年，常年种植大蒜70万亩，年均产量80万吨，产品出口到160多个国家和地区 。按皮色分，金乡大蒜可分为白皮大蒜和紫皮大蒜。</span>
                </div>
            </div>          
            <div class="item">
                <h3>莱芜生姜</h3>
                <div class="item-img">
                    <img src="/images/莱芜生姜.png" alt="">
                </div>
                <div class="item-content">
                    <span>莱芜生姜，山东省济南市莱芜区特产，全国农产品地理标志。莱芜区属暖温带大陆性半湿润季风气候，年平均气温12.5°C，无霜期191天，年平均降雨量760.9毫米，年光照时数2629.2小时，适宜种植生姜。莱芜生姜，个大皮薄，丝少肉细，色泽鲜艳，辣浓味美，营养丰富，耐贮藏。含有胡萝卜素、硫胺素、抗坏血酸、叶酸、钙、镁、磷、铁等矿质元素及多种维生素。</span>
                </div>
            </div>          
            <div class="item">
                <h3>石埠子樱桃</h3>
                <div class="item-img">
                    <img src="/images/石埠子樱桃.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>石埠子樱桃，山东省潍坊市安丘市特产，全国农产品地理标志。石埠子镇属暖温带东亚季风型大陆半湿润性气候，年温适中，雨量偏少，无霜期长，终霜期早，年平均气温11-13.6℃左右，降雨650毫米左右，无霜期180-230天，早春气温变化不剧烈，适宜樱桃栽培。石埠子樱桃，果大、汁多、味甜。石埠子樱桃每百克鲜果肉中，含维生素C10.9毫克，含可溶性固形物11.9%，总糖7.68%，总酸0.80%，钙9.9毫克，铁2.0毫克。</span>
                </div>
            </div>          
            <div class="item">
                <h3>羊口虾酱</h3>
                <div class="item-img">
                    <img src="/images/羊口虾酱.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>羊口虾酱，山东省潍坊市寿光市特产，全国农产品地理标志。2013年4月15日，原中华人民共和国农业部正式批准对“羊口虾酱”实施农产品地理标志登记保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>潍城火烧</h3>
                <div class="item-img">
                    <img src="/images/潍城火烧.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>潍城火烧是山东潍坊的一种有名的传统小吃。其特点是面硬、烤烙熟透而无糊斑，吃起来脆口，越嚼越香。皮酥，瓤有异香而不腻。</span>
                </div>
            </div>          
            <div class="item">
                <h3>昌邑梭子蟹</h3>
                <div class="item-img">
                    <img src="/images/昌邑梭子蟹.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>昌邑梭子蟹，山东省昌邑市特产，中国国家地理标志产品。梭子蟹在昌邑县历史悠久，远在春秋时期，便有“管仲相齐，为渔盐之利致齐富强”。昌邑地势低平，河流众多，地理位置优越，海岸线长，滩涂广阔且四季分明，光照充足，雨热同期，与同纬度内陆地区相比，具有冬暖、夏凉、春冷、秋温的特点，与梭子蟹的质地特点紧密相连，适合梭子蟹的生长繁殖。</span>
                </div>
            </div>          
            <div class="item">
                <h3>马宋饼</h3>
                <div class="item-img">
                    <img src="/images/马宋饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>马宋饼是源于山东省昌乐县马宋（现为营丘镇）一道传统面食，故称之为马宋饼。至于起源于何时，由于历时年代久远，故无从考究。相传地处山东半岛中部的昌乐马宋，是清朝初期鲁东南士子进京赶考的必经之地。古时进京赶考之人多以步行，经过长途跋涉历时一个多月的时间才以到达目的地。由于马宋饼便于携带、存放时间长、耐消化之优点因此深受各方举人的喜爱。</span>
                </div>
            </div>          
            <div class="item">
                <h3>隆盛糕点</h3>
                <div class="item-img">
                    <img src="/images/隆盛糕点.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>隆盛糕点是根据伊斯兰教的饮食习惯而制作的。“隆盛”商标始创于清道光绪年间，隆盛糕点集古今青州清真糕点之精华，产品基本上是京式和苏式品种，选料纯正考究，天然要求十分严格，生产严格按祖传工艺和配方进行，从而保证了隆盛糕点制作精细，香甜可口，油而不腻，保质期长等特点，深受广大顾客欢迎。</span>
                </div>
            </div>          
            <div class="item">
                <h3>羊口咸蟹子</h3>
                <div class="item-img">
                    <img src="/images/羊口咸蟹子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>羊口咸蟹子，山东省寿光市特产，全国农产品地理标志。 羊口咸蟹子是寿光特产之一，以莱州湾产的三疣梭子蟹雌蟹为原料采用古老的制程工艺腌制而成，工艺讲究、品质优良。蟹体表面光洁，背部呈淡青色或青褐色；蟹膏肥满，膏似凝脂，色红艳丽；肌肉紧密，洁白肥满；口感滑润、咸香、鲜美，风味独特，尤其是蟹黄色艳味香，两钳状螯足之肉，呈丝状而带咸甜味，食之风味独特。羊口咸蟹子的加工方法比较简单，其原理是：利用食盐溶液的渗透脱水作用，使蟹体水分降低，通过破坏蟹体内微生物和酶活力发挥作用所需要的环境，抑制微生物的繁殖和酶的活力，从而达到安全食用的目的。</span>
                </div>
            </div>          
            <div class="item">
                <h3>夹河驴肉</h3>
                <div class="item-img">
                    <img src="/images/夹河驴肉.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>夹河驴肉最早创产于明朝初年，在清朝初并作为专门的皇宫宴请之物，是宫廷贡品，并在后期盛誉全国，是山东地方名吃。
                    </span>
                </div>
            </div>          
            <div class="item">
                <h3>云门陈酿酒</h3>
                <div class="item-img">
                    <img src="/images/云门陈酿酒.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>云门陈酿酒，山东省青州市特产，中国国家地理标志产品。云门陈酿酒是以高粱、小麦为原料，以纯小麦踩制之高温大曲为糖化发酵剂，经高温堆积、高温发酵、高温馏酒、长期贮存、精心勾调而成。具有酱香突出、酒体醇厚丰满、幽雅细腻、香味协调、回味悠长，空杯留香持久等特点，深受广大消费者的喜爱。
                    </span>
                </div>
            </div>          
            <div class="item">
                <h3>寿光缢蛏</h3>
                <div class="item-img">
                    <img src="/images/寿光缢蛏.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>寿光缢蛏，山东省潍坊市寿光市特产，全国农产品地理标志。寿光市滩涂地势低洼平缓，滩阔水浅，为泥沙质地，水质肥沃，浮游动植物种类多且密度大，适宜缢蛏的生长。寿光缢蛏大小适中、无杂味、肉韧结实、味道极佳。寿光缢蛏全身是宝，除肉质可食用外，贝壳可入药，有“消血块，化痰积”之功效，还是畜禽饲料的重要补钙添加剂。
                    </span>
                </div>
            </div>          
            <div class="item">
                <h3>寿光蚂蚬</h3>
                <div class="item-img">
                    <img src="/images/寿光蚂蚬.png" alt="">
                </div>
                <div class="item-content">
                    <span>寿光蚂蚬，山东省寿光市特产，全国农产品地理标志。 寿光蚂蚬的贝壳呈三角卵圆形，具有前倾壳顶，壳顶至贝壳前端的距离约等于贝壳全长的1/3。小月面椭圆形或略呈梭形，盾面梭形。贝壳前端边缘椭圆，后端边缘略呈截形。壳表面灰黄色或深褐色，有的带褐色斑点。
                    </span>
                </div>
            </div>          
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>