<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 福 建 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>虾仁卷</h3>
                <div class="item-img">
                    <img src="/images/虾仁卷.webp" alt="">
                </div>
                <div class="item-content">
                    <span>福建道地小吃虾仁卷，外酥里嫩。每一口都能品尝到鲜虾的风味。福建靠海大家都知道，所以海鲜类的加工食品也很多，新鲜料足，每一口都是海的味道。这款虾仁卷采用优质的南美白对虾，肉质清甜，搭配着优良深海鱼糜，营养丰富。</span>
                </div>
            </div>     
            <div class="item">
                <h3>福州肉燕</h3>
                <div class="item-img">
                    <img src="/images/福州肉燕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>2022年6月，为推动早茶（早餐）地标美食建设，助力地标美食品牌升级，中国饭店协会经过严格的评审程序，首次对外推出了2022中国地标美食早茶早餐类名录。福州肉燕入选2022中国地标美食早茶早餐类名录。</span>
                </div>
            </div>     
            <div class="item">
                <h3>土笋冻</h3>
                <div class="item-img">
                    <img src="/images/土笋冻.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>土笋冻是一种由特有产品土笋加工而成的冻品，晶莹透明、鲜嫩脆滑，发源于泉州府（现今福建泉州，漳州，厦门），是一种色香味俱佳的特色传统风味小吃。</span>
                </div>
            </div>     
            <div class="item">
                <h3>鱼丸</h3>
                <div class="item-img">
                    <img src="/images/鱼丸.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>鱼丸又称“鱼包肉”，用鳗鱼、鲨鱼或者淡水鱼剁蓉，加甘薯粉（淀粉）搅拌均匀，再包以猪瘦肉或虾等馅制成的丸状食物，富有沿海特色风味小吃之一。鱼丸是福建福州、温州、闽南、广东、台湾、江西抚州一带经常烹制的特色传统名点，属于粤菜或闽菜系。亦名“水丸”，古时称“氽鱼丸”。因为它味道鲜美，多吃不腻，可作点心配料，又可作汤，是沿海人们不可少的海味佳肴。</span>
                </div>
            </div>     
            <div class="item">
                <h3>宁化田鼠干</h3>
                <div class="item-img">
                    <img src="/images/宁化田鼠干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>宁化田鼠干又称老鼠干，是福建汀州府著名的客家小吃。闽西八大干菜之一。田鼠属哺乳纲仓鼠科，毛色一般为暗灰褐色，有的呈沙黄色，以稻谷为食。晚稻黄熟期·咬稻穗贮洞穴，常于山脚田边草丛，挖掘隐蔽小径，对农作物为害甚大。宁化属山区农业县，故田鼠甚多，人们为了保护庄稼而捕捉田鼠，然后将田鼠制成宁化田鼠干。</span>
                </div>
            </div>     
            <div class="item">
                <h3>芋饺</h3>
                <div class="item-img">
                    <img src="/images/芋饺.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>芋饺也称“枷鞑仔”、“嘎拉泽”，是江西、福建、浙江等地的传统面食。芋饺的做法很奇特，全是用手捏成,不选用芋头而用芋子，其质细腻、软糯，嫩滑，浓稠，有粘性。做成后，芋饺肉馅非常鲜美，芋饺面皮可以滴水不露地，完好地隔绝煮芋饺的汤汁，吃起来既糯又柔，滑溜可口。 新昌人吃芋饺少说也有几百年的历史,至少在清朝乾隆年间，就已成为当地人的佐餐食品。</span>
                </div>
            </div>     
            <div class="item">
                <h3>光饼</h3>
                <div class="item-img">
                    <img src="/images/光饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>光饼，是中国福建省传统特色小吃，主要分布于福州市的福清地区，闽北地区的南平市的松溪县、浦城县、建阳区、建瓯市、顺昌县，和闽东地区、宁德市、霞浦县和闽西地区的三明市的永安市、尤溪县（梅仙镇）也有分布。</span>
                </div>
            </div>     
            <div class="item">
                <h3>福建年糕</h3>
                <div class="item-img">
                    <img src="/images/福建年糕.png" alt="">
                </div>
                <div class="item-content">
                    <span>福建年糕有红糖和白糖的两种，生产多在冬季。白糖年糕中还有夹心白膘肉丁和花生、红枣、瓜子仁、核桃仁等果料，又名“百果年糕”，风味也较特殊。福建年糕以圆饼状为主，制作过程中以荷叶包裹原料进行蒸熟，近年也开发出其他各具特色的形状，如鱼、元宝等。</span>
                </div>
            </div>     
            <div class="item">
                <h3>永春榜舍龟</h3>
                <div class="item-img">
                    <img src="/images/永春榜舍龟.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>永春榜舍龟是一种用糯米、绿豆、白糖等精心制作，形状似龟的传统名点。龟皮鲜嫩、龟馅甜美、酥松、清香，入口甘中略带冰凉、倍觉爽快。产自福建永春。它已有两百多年历史，历来博得人们的喜爱，堪与泉州豆沙饼，晋江石狮甜稞媲美。在闽南一带及东南亚华侨中一向享有盛誉。</span>
                </div>
            </div>     
            <div class="item">
                <h3>红龟</h3>
                <div class="item-img">
                    <img src="/images/红龟.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>福建和台湾传统小吃。流行于福建闽南和闽东，福清和台湾以及粤东潮汕地区，是节庆喜事必备的包馅果品和独特小吃.这个“果”字按照习惯写法，应在前面加个“米”字，以示米制品。其外表如碗面大小的红龟果，状如龟背，极像一个微型的飞碟，果皮加入少量的红色食用染料，故名。</span>
                </div>
            </div>     
            <div class="item">
                <h3>烧肉粽</h3>
                <div class="item-img">
                    <img src="/images/烧肉粽.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>烧肉粽是福建特有的地方传统名吃，起源于福建泉州。节日食俗。烧肉粽在福建许多地区均有制作。烧肉粽历史悠久，具有香甜嫩滑，油润不腻，精工细作等特点。</span>
                </div>
            </div>     
            <div class="item">
                <h3>明溪肉脯干</h3>
                <div class="item-img">
                    <img src="/images/明溪肉脯干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>明溪肉脯干，福建省明溪县特产，中国国家地理标志产品。有“闽西八大干”之首的美誉，已有700多年的历史。南宋末年（1277年），文天祥在南剑州募兵後，欲往汀州，有人用天然名贵香料腌制，精烤成肉脯干送给亲人。肉脯干选用当地饲养的猪后腿精肉为原料，采用独特的加工技术制作而成，醇香韧爽，红润剔透，咸中微甜。2008年3月19日，原国家质监总局正式批准对“明溪肉脯干”实施地理标志产品保护。</span>
                </div>
            </div>     
            <div class="item">
                <h3>长汀豆腐干</h3>
                <div class="item-img">
                    <img src="/images/长汀豆腐干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>长汀豆腐干是以优质大豆，大茴，小茴，甘草，肉桂，五香粉为主料制作的菜品。</span>
                </div>
            </div>     
            <div class="item">
                <h3>武平猪胆肝</h3>
                <div class="item-img">
                    <img src="/images/武平猪胆肝.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>武平猪胆又叫武平猪胆肝，是福建省武平县客家人创制的名优特产，“闽西八大干”之一。主要食材有糯米猪肝、猪胆、五香粉、高梁酒、八角茴香、白糖、甘草。</span>
                </div>
            </div>     
            <div class="item">
                <h3>连城红心地瓜干</h3>
                <div class="item-img">
                    <img src="/images/连城红心地瓜干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>连城红心地瓜干，福建省连城县特产，中国国家地理标志产品。连城县加工红心地瓜干已有300多年历史，被誉为“红心地瓜干之乡”，因其色泽美、口感好、富营养、多纤维、低热量、少脂肪等优点，而位居“闽西八大干”之首。连城红心地瓜干产品已形成蜜饯、香酥、重组三大类型60多个品种，销售量约占中国地瓜干消费量的80%以上，内销全国600多个大中城市，外销出口日本、韩国、东南亚等国家和中国港澳台地区。2007年12月26日，原国家质检总局批准对“连城红心地瓜干”实施地理标志产品保护。</span>
                </div>
            </div>     
            <div class="item">
                <h3>八宝芋泥</h3>
                <div class="item-img">
                    <img src="/images/八宝芋泥.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>八宝芋泥，是闽菜中的地方传统甜食名点之一，此菜细腻软润，香甜可口，看似凉菜实却烫嘴，别具风味。在福州和宁德地区的吉辰喜庆，筵席上多有此菜。</span>
                </div>
            </div>     
            <div class="item">
                <h3>上杭萝卜干</h3>
                <div class="item-img">
                    <img src="/images/上杭萝卜干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>上杭萝卜干，福建省龙岩市上杭县特产，全国农产品地理标志。上杭萝卜干出坛时黄褐色，随着贮藏时间的延长颜色逐渐加深加黑；肉质脆嫩、咸中回甘，香味浓郁，风味独特。2020年12月25日，中华人民共和国农业农村部批准对“上杭萝卜干”实施农产品地理标志登记保护。</span>
                </div>
            </div>     
            <div class="item">
                <h3>甜果</h3>
                <div class="item-img">
                    <img src="/images/甜果.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>甜果（闽式）以福建省晋江县石狮塘头村的产品最为有名。归侨多用作赠送亲友的礼品。</span>
                </div>
            </div>     
            <div class="item">
                <h3>菜头饼</h3>
                <div class="item-img">
                    <img src="/images/菜头饼.gif" alt="">
                </div>
                <div class="item-content">
                    <span>菜头饼是福建福州特色传统面点，选用该地方出产的菜头（白萝卜）作馅料，清甜爽口，别有风味，是喜庆宴席常用的糕点。圆形略扁，中间微凹完整，螺纹层次清晰。起酥均匀，皮馅分布匀称，无杂质。口味具有猪油及萝卜的香味，清甜爽口，皮酥，馅松润，无异味。</span>
                </div>
            </div>     
            <div class="item">
                <h3>永安笋干</h3>
                <div class="item-img">
                    <img src="/images/永安笋干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>永安特产笋干又称“闽笋干”、“贡笋干”、“白笋干”，是闽西八大之一，在海内外享有盛誉。因其具有肉厚节密、色泽金黄、笋富美味、口感脆嫩的特点，实为笋干产品中之珍品，在海内外享有盛誉。早在解放前，永安的笋干就已饮誉江浙及上海等地，被当地人士作为馈赠亲朋好友的佳品，为节日喜庆的重头菜，对其喜爱有加。</span>
                </div>
            </div>     
            <div class="item">
                <h3>木金肉丸</h3>
                <div class="item-img">
                    <img src="/images/木金肉丸.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>木金肉丸是福建省传统的名菜，属于闽菜系。</span>
                </div>
            </div>     
            <div class="item">
                <h3>尤溪卜鸭</h3>
                <div class="item-img">
                    <img src="/images/尤溪卜鸭.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>福建传统名菜，属闽菜系。福建尤溪“卜鸭”的生产，已有100多年的历史。当地逢年过节、婚寿喜事，一般都要熏制“卜鸭”以招待宾客。所谓“卜鸭”是用米及茶叶熏制而成的鸭子。“卜鸭”带有烟熏特有的香味。</span>
                </div>
            </div>     
            <div class="item">
                <h3>食珍桔红糕</h3>
                <div class="item-img">
                    <img src="/images/食珍桔红糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>食珍桔红糕是一道福建闽式传统特色糕点，相传清道光年间(1821～1850年)福建省晋江县安海镇一家饼店所产桔红糕风味独特，倍受欢迎。已有150余年的历史。</span>
                </div>
            </div>     
            <div class="item">
                <h3>白八粿</h3>
                <div class="item-img">
                    <img src="/images/白八粿.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>白八粿又称白年糕，是福建一带传统的地方小吃。早在元末明初，民间用以贺年供神。将糯米、晚米浸水磨浆，压于，掰散，搓成粉状，加入白糖、香精，掺清水揉成粘浆，中铺花生仁、梅舌、桂元肉、肥肉，旺火蒸熟，晾冷、切块而成。</span>
                </div>
            </div>     
            <div class="item">
                <h3>薄荷香糕</h3>
                <div class="item-img">
                    <img src="/images/薄荷香糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>薄荷香糕是以薄荷叶、米粉等食材制成的一道福建省蒲田一带的著名传统糕点。</span>
                </div>
            </div>     
            <div class="item">
                <h3>夏茂芋包</h3>
                <div class="item-img">
                    <img src="/images/夏茂芋包.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>夏茂芋包是一道福建的地方小吃，夏茂芋包独具特色，名闻遐迩，这同夏茂土地肥沃、气候温和、水源充足、出产的芋子特别嫩有关。锅加水烧开，入芋包煮熟捞起，加酱油、味精、麻油、猪油、红酒拌均，加葱花即可食用。或捞起盛入加好上述调料的汤碗中，加入少许醋、胡椒粉做汤菜吃亦可。</span>
                </div>
            </div>     
            <div class="item">
                <h3>清流笋干</h3>
                <div class="item-img">
                    <img src="/images/清流笋干.png" alt="">
                </div>
                <div class="item-content">
                    <span>清流笋干是福建三明传统的名菜，属于汀州八大干之一，是汀州特产，是用刚出土的春笋尖制成，称为“闽笋尖”。它以嫩甜清脆著名，明清时列为上京贡品。唐代大诗人杜甫有诗对竹笋赞道："远传冬笋味，更觉彩衣春。"在明代古典神话小说《西游记》第八十二回也曾有"用木耳、闽笋、豆腐、面筋等做各种素菜"的记载。</span>
                </div>
            </div>     
            <div class="item">
                <h3>岚谷熏鹅</h3>
                <div class="item-img">
                    <img src="/images/岚谷熏鹅.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>岚谷熏鹅属于闽菜系，是武夷山一道桌面酒席必上的传统名肴，此菜产自福建武夷山地区。岚谷熏鹅菜肴讲究色、香、味，其营养价值要高于鸡、鸭、猪、牛等牲畜，且脂肪含量低 。2014年5月。“岚谷熏鹅”喜获国家地理标志证明商标。</span>
                </div>
            </div>     
            <div class="item">
                <h3>福州肉松</h3>
                <div class="item-img">
                    <img src="/images/鼎日有肉松.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>福州肉松是福州传统名牌佐餐食品，清咸丰六年（1856年）由林鼎鼎创制。用猪瘦肉、红糟、白糖、酱油、熟油精制成的细丝状食品，食之酥甜脆，油而不腻，入口福州肉松自溶，鲜美可口，是福州的名特食品之一。</span>
                </div>
            </div>     
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>