<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 安 徽 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>无为板鸭</h3>
                <div class="item-img">
                    <img src="/images/无为板鸭.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>无为板鸭是安徽省芜湖市无为市的一道传统特色美食，属于徽菜系，其始创于清朝年间，以巢湖麻鸭为原料，配以八角、花椒、丁香、小茴香等约30种中药和调料，先熏后卤，制作而成。</span>
                </div>
            </div>          
            <div class="item">
                <h3>无为兰花萝卜</h3>
                <div class="item-img">
                    <img src="/images/无为兰花萝卜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>兰花萝卜是一种酱菜类风味美食，具有鲜、咸、脆、嫩等特点，色、香、味、形俱佳。安徽省无为县酱品厂腌渍酱制萝卜的传统产品，深受广大消费者的欢迎。</span>
                </div>
            </div>          
            <div class="item">
                <h3>无为螃蟹</h3>
                <div class="item-img">
                    <img src="/images/无为螃蟹.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>无为螃蟹，安徽省芜湖市无为市特产，全国农产品地理标志。无为螃蟹生产历史悠久，螃蟹文化源远流长。无为市有机质及氮、磷、钾含量丰富，提供了河蟹养殖所必备的土质条件；属亚热带季风气候，四季分明，温暖湿润；县内水域中饵料资源丰富，品种齐全。据统计，浮游植物中藻类有七个门，三十三个属，约70余种；浮游动物十六属，约65种；底栖动物种类有近20种，这些都为螃蟹养殖提供了充足的饵料和良好的生态环境，非常适宜螃蟹生长、繁育。无为螃蟹青背、白肚、金爪、黄毛、恶齿尖锐，疣状突明显、四肢健壮、活动敏捷。</span>
                </div>
            </div>          
            <div class="item">
                <h3>无为纱灯</h3>
                <div class="item-img">
                    <img src="/images/无为纱灯.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>无为纱灯是一种中国传统手工艺品，历史悠久，起于明代，盛于清代，曾被作为慈禧祝寿礼品进贡。框架用高级木料制作，并雕刻各式花纹；纱灯盖头伸出6根木爪，呈龙头形，6对龙眼，金粉描绘，栩栩如生；框架外沿以镂空工艺刻雕各式花芽，像龙背鳞翅；灯体嵌进纱绢画，题材有戏剧、人物、花卉、山水等，工笔重彩，色泽艳丽。</span>
                </div>
            </div>          
            <div class="item">
                <h3>三河米饺</h3>
                <div class="item-img">
                    <img src="/images/三河米饺.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>三河米饺是安徽省合肥市肥西县三河古镇的一种传统的名小吃。三河米饺以籼米粉制成饺皮，用五花肉等及调料制成馅，成饺后油炸而成。色泽金黄，外皮微酥脆、馅味鲜美。2016年11月，三河米饺获中国金牌旅游小吃奖。</span>
                </div>
            </div>          
            <div class="item">
                <h3>玉带糕</h3>
                <div class="item-img">
                    <img src="/images/玉带糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>玉带糕是又名一品玉带糕、三层玉带糕、四镶玉带糕，是江苏省和安徽省传统糕类名特产品，做工讲究，质量上乘。清朝乾隆年间，一品玉带糕作为贡品，乾隆皇帝下江南，当地县令以糕点进贡皇帝，品尝后啧啧称赞，御封为“一品玉带”，此后声名远扬。</span>
                </div>
            </div>          
            <div class="item">
                <h3>怀远石榴</h3>
                <div class="item-img">
                    <img src="/images/怀远石榴.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>怀远石榴，安徽省怀远县特产，国家地理标志产品。唐代，怀远石榴已有栽植。明嘉靖年间，巡按御史，游怀远县时作《九日登山》诗 。怀远县地处北亚热带至暖温带的过渡带，兼有南北方气候特点，属暖温带半湿润季风农业气候区，适宜石榴的生长 。怀远石榴子白莹澈如水晶，果实大如碗，皮黄而透红，粒精赛玉米，明洁如珍珠，肉肥核细，汁多味甘。2010年2月，怀远石榴成功获批国家地理标志保护产品称号。</span>
                </div>
            </div>          
            <div class="item">
                <h3>曹操鸡</h3>
                <div class="item-img">
                    <img src="/images/曹操鸡.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>曹操鸡也称逍遥鸡，始创于三国时期，该菜品为安徽省合肥市的一道地方传统名菜，属于徽菜系；三国时期，曹操屯兵庐州逍遥津时，因军政事务繁忙，操劳过度，卧床不起。治疗过程中，厨师按医生嘱咐在鸡内添加中药，烹制成药膳鸡。曹操食后病情日趋好转，后常要吃这种药膳鸡。这道菜流传开来，被人们称为“曹操鸡”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>五城茶干</h3>
                <div class="item-img">
                    <img src="/images/五城茶干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>五城茶干，安徽省休宁县特产，国家地理标志产品。五城茶干咸淡相宜，质纯味鲜，柔韧香醇，营养丰富，是品茗之佐餐，下酒之佳肴，老幼皆宜之美味食品。2010年3月，五城茶干成功获批国家地理标志保护产品称号。</span>
                </div>
            </div>          
            <div class="item">
                <h3>腊八豆腐</h3>
                <div class="item-img">
                    <img src="/images/腊八豆腐.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>腊八豆腐是安徽省黄山市黟县的民间风味特产，也是腊八节的食俗。在腊八前后，黟县家家户户都要晒制豆腐，久而久之，民间将这种自然晒制的豆腐称作“腊八豆腐”。腊八豆腐由大豆、辣椒、五香等原料经传统手工艺精制而成，有“素火腿”之称。成品色泽黄润如玉，入口松软，咸中带甜，又香又鲜</span>
                </div>
            </div>          
            <div class="item">
                <h3>徽州饼</h3>
                <div class="item-img">
                    <img src="/images/徽州饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>徽州饼，是安徽徽州地区的特色传统名点，原名为枣泥酥馃。光绪年间有一徽州饮食经营者在扬州制作此面饼出售，颇受食者欢迎，故当地入称之"徽州饼"。</span>
                </div>
            </div>          
            <div class="item">
                <h3>苞芦松</h3>
                <div class="item-img">
                    <img src="/images/苞芦松.png" alt="">
                </div>
                <div class="item-content">
                    <span>苞芦松是安徽黄山著名特色传统小吃。用山区的山苞芦为主原料制成。山苞芦为山上种植的一种玉米，生长期约140天，其味甜清，宜作茶食及佐餐食品，营养成份高。流入祁门县后，又增加了新品种——荞麦松，是以荞麦为原料，口感更加。</span>
                </div>
            </div>          
            <div class="item">
                <h3>六安酱鸭</h3>
                <div class="item-img">
                    <img src="/images/六安酱鸭.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>六安酱鸭是安徽省六安市特色传统名菜，属于徽菜系；六安素有“麻鸭之乡”盛名。色泽橙黄，油光发亮，香气浓郁，咸中带鲜，鸭屁股上还插有一个大红辣椒，恰似一具色香俱全的艺术品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>绩溪菜糕</h3>
                <div class="item-img">
                    <img src="/images/绩溪菜糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>绩溪菜糕是安徽绩溪地区特色传统风味小吃，香气扑鼻，松软可口，口味独特。</span>
                </div>
            </div>          
            <div class="item">
                <h3>徽州裹粽</h3>
                <div class="item-img">
                    <img src="/images/徽州裹粽.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>徽州裹粽是安徽黄山地区民间传统小吃。米粽全国各地都有，但黄山地区的粽子却独具风味，在包法、形状、内容上都与众不同。值得一提的是灰汁粽，灰汁粽先用草木灰滤水拌糯米裹制而成，因碱性重，粘性强，吃起来特别可口绵软，又便于短期存放，所以深受食客青睐。</span>
                </div>
            </div>          
            <div class="item">
                <h3>秤管糖</h3>
                <div class="item-img">
                    <img src="/images/秤管糖.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>秤管糖安徽省徽州地方传统名点。始产于休宁县万安镇。这是一种有特色的饴糖制品，其形状象一根根切断了的大秤管，故称之为“秤管糖”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>五香辣味牛肉干</h3>
                <div class="item-img">
                    <img src="/images/五香辣味牛肉干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>五香辣味牛肉干是安徽省肥东地区的特色传统小吃，具有香辣味浓，回味带甜的特色。五香辣味牛肉干通过对牛后腿肉进行煮、炒、烤，在制作过程中添加多种配料，牛肉味浓香辣，并在咀嚼时具有味甜的特色。</span>
                </div>
            </div>          
            <div class="item">
                <h3>梅干月饼</h3>
                <div class="item-img">
                    <img src="/images/梅干月饼.png" alt="">
                </div>
                <div class="item-content">
                    <span>梅干月饼，徽州地方风味小吃。中秋佳节月儿圆，每逢佳节倍思亲。月饼代表着团圆，每逢中秋时节家家户户都品尝着各式各样的月饼。梅干月饼为安徽省休宁县的著名特产。与传统的广式和苏式月饼不同，其表皮酥软，饼馅采用经过腌制的野生苦板菜加上新鲜新鲜猪板油和白糖拌制而成，味道清香，营养丰富。</span>
                </div>
            </div>          
            <div class="item">
                <h3>芜湖瓜子</h3>
                <div class="item-img">
                    <img src="/images/芜湖瓜子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>芜湖瓜子采苏州、上海、南京、无锡等地众家之长，熔南北口味于一炉，炒制方法因季节而不同，深受消费者欢迎。</span>
                </div>
            </div>          
            <div class="item">
                <h3>伏岭玫瑰酥</h3>
                <div class="item-img">
                    <img src="/images/伏岭玫瑰酥.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>伏岭玫瑰酥是安徽绩溪县特色传统小吃。伏岭玫瑰酥是久负盛名的传统糕点，产于绩溪县伏岭村，因其内有玫瑰花作为辅料，具有玫瑰花香而得名。</span>
                </div>
            </div>          
            <div class="item">
                <h3>扁豆糕</h3>
                <div class="item-img">
                    <img src="/images/扁豆糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>扁豆糕，亳州地方特色小吃。扁豆洗净，放入水内侵泡一小时捞出，加少许淀粉、糖、佐料调成稠糊状，堆在篦子上蒸熟即可，形状呈圆形，可大可小，可厚可薄。入口清香松软微甜，为居家调剂生活之上品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>池河雪片糕</h3>
                <div class="item-img">
                    <img src="/images/池河雪片糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>池河雪片糕，安徽省定远县地方传统名点，历史久远，相传最早是由古太平桥头张姓人家最早制作，到清朝乾隆帝下江南，此品作为贡品迎驾而名声日隆。</span>
                </div>
            </div>          
            <div class="item">
                <h3>拓粿</h3>
                <div class="item-img">
                    <img src="/images/拓粿.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>拓粿是徽州最为古老的传统食品之一，徽州粿在徽州地方小吃中是具有独特地位的。</span>
                </div>
            </div>          
            <div class="item">
                <h3>黄山烧饼</h3>
                <div class="item-img">
                    <img src="/images/黄山烧饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>黄山烧饼又名皇印烧饼、救驾烧饼、蟹壳黄烧饼，是安徽省黄山市的一种特色传统小吃。刚出炉的黄山烧饼色泽金黄，吃起来酥脆爽口，油而不腻，令人回味无穷。</span>
                </div>
            </div>          
            <div class="item">
                <h3>石塘驴巴</h3>
                <div class="item-img">
                    <img src="/images/石塘驴巴.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>石塘驴巴是一道美味可口的地方小吃，属于安徽菜。此菜是安徽省肥东石塘镇特产。主要原料有驴肉、驴蹄筋、驴鞭。</span>
                </div>
            </div>          
            <div class="item">
                <h3>皖花火腿</h3>
                <div class="item-img">
                    <img src="/images/皖花火腿.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>皖花火腿，传统名菜，产于安徽休宁县，可与浙江金华、云南宣威火腿媲美。 其原料是皖南花猪，此猪个体偏小，肉质好，腌火腿色鲜、味美、香脆。休宁县腌制火腿已有千年历史。</span>
                </div>
            </div>          
            <div class="item">
                <h3>铜陵酥糖</h3>
                <div class="item-img">
                    <img src="/images/铜陵酥糖.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>铜陵酥糖又称顺安酥糖，安徽省著名的传统小吃，因产于安徽铜陵县的顺安镇而得名，始制于唐代末年。采用优质面粉、精细白糖、纯黑芝麻，配以适量的桂花、青梅、金桔饼等精制而成。特点是松柔甜润、成条不散。是铜陵地区的传统风味名点之一。</span>
                </div>
            </div>          
            <div class="item">
                <h3>方集馓子</h3>
                <div class="item-img">
                    <img src="/images/方集馓子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>方集馓子，寒食节食品，其条匀细，含芝麻，脆而酥，大嚼一口，香满齿颊，再嚼一口，余香入怀，三日不绝。</span>
                </div>
            </div>          
            <div class="item">
                <h3>霍山石斛</h3>
                <div class="item-img">
                    <img src="/images/霍山石斛.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>霍山石斛原产于大别山区的安徽省霍山县，主要分布于台湾、广东、广西、湖北、江浙等地。 喜荫蔽，怕直射阳光，在温暖多雨、云雾弥漫的山谷中密集群聚生长，多生于避风、背阴的山沟峭壁上。 它的繁殖方法主要有播种繁殖和扦插繁殖，生活实际常采用播种繁殖，也可借外力播种。</span>
                </div>
            </div>          
            <div class="item">
                <h3>琅琊酥糖</h3>
                <div class="item-img">
                    <img src="/images/琅琊酥糖.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>琅琊酥糖是江淮一带具有悠久历史的地方传统名点，琅琊酥糖产于安徽省滁州市，借“琅琊山”之名，称之为“ 琅琊酥糖”。琅琊酥糖选用纯白芝麻、精白砂糖、富强粉、麦芽糖等精心加工，产品呈乳白色，形似螺旋体，其糖块薄厚均匀，骨薄如纸，剖面层次分明，呈螺旋体，色泽乳白，入口酥软，香味浓郁，甜而不腻。</span>
                </div>
            </div>          
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>