<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 湖 北 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>荆州鱼糕</h3>
                <div class="item-img">
                    <img src="/images/荆州鱼糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>荆州鱼糕，湖北省荆州市特产，中国国家地理标志产品。荆州自古盛产鱼，鱼糕作为荆州的八大名肴其历史源远流长，相传为舜帝妃子女英所创，在荆楚一带广为流传，春秋战国时开始成为楚宫廷头道菜，直到清朝，仍是一道宫廷菜，据说乾隆尝过荆州花糕后脱口而咏：食鱼不见鱼，可人百合糕。2013年01月23日，原国家质检总局批准对“荆州鱼糕”实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>榨广椒</h3>
                <div class="item-img">
                    <img src="/images/榨广椒.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>榨广椒，也称为鲊尖椒，鲊金椒，酸面，面果子，是湖北省宜昌、恩施地区的特色小吃。榨广椒是以鲜红辣椒酱和苞谷面（玉米面）为主要原料加工而成。 榨广椒具有营养全面，开胃爽口的特点。 </span>
                </div>
            </div>          
            <div class="item">
                <h3>麻城肉糕</h3>
                <div class="item-img">
                    <img src="/images/麻城肉糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>麻城肉糕，楚菜，是湖北省麻城市的传统名菜，麻城有名的筵席“肉糕席”，其中的十道菜就以肉糕为第一。麻城肉糕的具体做法是，将鲜鱼去剌去皮，猪肉（五花肉为上佳）也去骨剔皮，均剁成肉浆，制成膏状，再将红薯粉、清水、食盐按比例放入盆内与肉浆搅拌，接着加入姜末、葱花等佐料，制成圆形或方形，放入蒸笼，猛火蒸30分钟，出笼后切成长方条，装盘上席，可熟食，亦可冷藏，其味鲜美可口。</span>
                </div>
            </div>          
            <div class="item">
                <h3>鸭脖子</h3>
                <div class="item-img">
                    <img src="/images/鸭脖子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>鸭脖子是湖南、湖北、四川、江西等地传统名吃之一。又名酱鸭脖或酱鸭脖子，最早起源流传于清朝常德、岳阳的洞庭湖区，经湖南流传至四川和湖北，近年来风靡全国。鸭脖子属于酱汁类食品（主要是鸭脖，酱板鸭、包括酱鸭翅、酱鸭脖、酱鸭拐、酱鸭掌、酱鸭舌、酱牛肉、酱板鱼、酱板干子、酱板藕等），酱汁类食品通过多种香料浸泡，然后经过风干、烤制等工序精致而成，成品色泽深红，具有香、辣、甘、麻、咸、 酥、绵等特点，是一道开胃、佐酒佳肴。</span>
                </div>
            </div>          
            <div class="item">
                <h3>黄石港饼</h3>
                <div class="item-img">
                    <img src="/images/黄石港饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>黄石港饼是湖北省黄石市的地方传统名点之一，黄石港饼是由面粉．芝麻．冰糖．小麻油．金钱桔饼．糖桂花等十几种上等原料组成． 以其起锣弦鼓边，麻色黄亮，松酥爽口，甜润清香，顺气开胃，回味悠长和具有浓郁的天然麻香味的独特风味名扬湖北，畅销全国．至2020年已有170多年的历史，2011年3月被商务部评为“中华老字号”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>孝感麻糖</h3>
                <div class="item-img">
                    <img src="/images/孝感麻糖.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>孝感麻糖，是湖北有名的传统小吃之一。配方是以精制糯米、优质芝麻和绵白糖为主料，配以花生，焦盐，杏仁等，经过12道工艺流程、32个环节制成，孝感麻糖外形犹如梳子，色白如霜，香味扑鼻，甘甜可口风味独特，营养丰富，含蛋白质、葡萄糖和多种维生素，有暖肺、养胃、滋肝、补肾等功效。</span>
                </div>
            </div>          
            <div class="item">
                <h3>东坡饼</h3>
                <div class="item-img">
                    <img src="/images/东坡饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>东坡饼又名空心饼、千层饼，是为纪念苏东坡而命名的，是湖北地区特色传统美食之一。关于“东坡饼”名称的由来，充满了人文色彩。相传苏东坡被贬海南儋县（现海南儋州）时，当地有一位卖环饼的年迈守寡老妪，她的手艺好，环饼质量高，可是因为店铺偏僻，不为人知生意一直不好。老妪得知苏东坡是著名文学家，就请他为店铺作诗。苏东坡怜悯她生活贫苦，环饼手艺又委实不错，就挥笔写下一首七绝：“纤手搓来玉色匀，碧油煎出嫩黄深。夜来春睡知轻重，压扁佳人缠臂金。”寥寥数句，勾画出环饼匀细、色艳、酥脆的特点和形似美人环钗的形象。老妪将此诗高悬门上，果然顾客盈门，生意兴隆，后来当地老百姓为纪念苏东坡，就名之以“东坡饼”，并在儋州流传今。“东坡饼”不但包含着奇特的饮食文化，还蕴藏着浓郁的乡情文化，深受人们的喜爱。</span>
                </div>
            </div>          
            <div class="item">
                <h3>麻烘糕</h3>
                <div class="item-img">
                    <img src="/images/麻烘糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>麻烘糕是湖北著名的地方传统糕类食品，有着悠久的历史。由于用料考究，制作精细，香甜松脆，质地优良，被誉为湖北特产。</span>
                </div>
            </div>          
            <div class="item">
                <h3>毛嘴卤鸡</h3>
                <div class="item-img">
                    <img src="/images/毛嘴卤鸡.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>毛嘴卤鸡是湖北省仙桃市传统名菜之一，采用五谷杂粮喂养而成，肉质细嫩，口味绵长。在卤制过程中，再配以蜂蜜 杜仲、肉茴、枸杞、八角等十八种名贵中药及天然香料，用百年循环卤汁加毛嘴特有的传统工艺加工而成。毛嘴卤鸡号称荆楚一绝，在大江大北赢得美名美誉。之所以好吃，就因为毛嘴卤鸡肉质细嫩、油而不腻、香醇可口、品味绵长。</span>
                </div>
            </div>          
            <div class="item">
                <h3>武汉猪肉干</h3>
                <div class="item-img">
                    <img src="/images/武汉猪肉干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>武汉猪肉干是湖北省武汉市的传统小吃之一，使用新鲜猪瘦肉作原料，成品为长方小片或小条型。在武汉住过一段时间，或者是对武汉有一定了解的人，对武汉的特色小吃都应该有一定的了解，像热干面、这些具有武汉特色的小吃更加不会陌生了。</span>
                </div>
            </div>          
            <div class="item">
                <h3>沙湖盐蛋</h3>
                <div class="item-img">
                    <img src="/images/沙湖盐蛋.png" alt="">
                </div>
                <div class="item-content">
                    <span>沙湖盐蛋是湖北仙桃市沙湖镇的传统名菜。在沙湖镇周围，水中有一种水草叫麦黄角，活虾喜栖于角中，鸭子寻食连角带虾吞食后，所产鸭蛋的蛋黄呈红色，腌制的盐蛋如打破后将蛋黄蛋清置于白色瓷碗中，则见蛋黄像一朵色泽艳红的花朵，十分美观。如将盐蛋煮熟食用，则见蛋白极白，蛋黄艳红带油，味道比一般盐蛋好吃多了。沙湖盐蛋曾经是贡品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>九珠皮蛋</h3>
                <div class="item-img">
                    <img src="/images/九珠皮蛋.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>九珠皮蛋是湖北省地方传统名菜。沔阳松花皮蛋改进为“九珠皮蛋”后，其品质更上一层楼。去壳的皮蛋，蛋白呈深褐色或草青色，结晶透明，松花点缀，美若玉雕。蛋黄紧缩，切开后，似菊花绽蕾，又如砂糖裹心。质地醇美，味道绵长，清凉爽口，四时咸宜，被定为出口的免检食品，为祖国的四化建设作出了贡献。</span>
                </div>
            </div>          
            <div class="item">
                <h3>橘瓣鱼圆</h3>
                <div class="item-img">
                    <img src="/images/橘瓣鱼圆.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>橘瓣鱼圆是湖北省传统名菜之一，湖北省是鱼米之乡，历来有吃鱼的食俗。经过几千年的演进，创造了许多吃鱼的方法，将鱼肉制成鱼圆，就是其中的一种。鱼圆的起源可以追溯到两千多年前，《荆楚岁时记》有明确记载。生活在公元前675年以前的楚文王一次吃鱼时被鱼刺卡了喉咙，当即怒斩司宴官。吓得厨师不敢再烹全鱼给他吃，想办法去掉鱼刺，把鱼肉剁成色茸，做成鱼圆。</span>
                </div>
            </div>          
            <div class="item">
                <h3>咸酥饼</h3>
                <div class="item-img">
                    <img src="/images/咸酥饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>咸酥饼（Crispy Cakes ）是湖北省武汉市的传统名点之一，主要食材是米稀、猪油、有特制的脂烙酥而得名，特点是金黄色，层次清晰，脆而不碎，油而不腻，香酥适口</span>
                </div>
            </div>          
            <div class="item">
                <h3>红庙酥饼</h3>
                <div class="item-img">
                    <img src="/images/红庙酥饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>红庙酥饼的产地是湖北仙桃地区的传统特色小吃，拥有着悠久的历史沉淀，据史料记载，红庙酥饼创始于清朝。经清朝乾隆皇帝品尝之后红庙酥饼闻名遐迩，并以它独特的风味，闻名遐迩。</span>
                </div>
            </div>          
            <div class="item">
                <h3>荆州八宝饭</h3>
                <div class="item-img">
                    <img src="/images/荆州八宝饭.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>荆州八宝饭是湖北荆州的地方传统名点，在全国八宝饭中独树一帜，原是清代的一位御厨从宫廷出来后，到荆州城开设饭馆流传下来的。吃到口里，觉得润滑溶消，香甜透味，油而不腻，甜而不厌，于是“浅盏小勺细品尝，离席数时回味长”的赞语。</span>
                </div>
            </div>          
            <div class="item">
                <h3>荆州漆器</h3>
                <div class="item-img">
                    <img src="/images/荆州漆器.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>荆州漆器是湖北荆州地方传统艺术珍品之一。源于春秋战国时期的楚国。荆州楚墓中出土的众多木胎漆器，大都造型奇特，雕琢精细，绘画极工，形成典型的楚文化风格。在地下埋藏2300多年仍色彩艳丽，光泽夺目。</span>
                </div>
            </div>          
            <div class="item">
                <h3>白龙潭云雾茶</h3>
                <div class="item-img">
                    <img src="/images/白龙潭云雾茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>白龙潭云雾茶是松滋天鹅茶场创制的优质名茶。该茶场地处松滋与枝城接壤的“天鹅抱蛋”处:天凿白龙潭，地喷八眼泉，丘岗连绵，层峦叠嶂，云雾缭绕，满目葱郁，使人有“步入云梯上青山，徐徐送客入九霄”之感！</span>
                </div>
            </div>          
            <div class="item">
                <h3>绣林玉液</h3>
                <div class="item-img">
                    <img src="/images/绣林玉液.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>绣林玉液，湖北省石首市特产，中国国家地理标志产品。石首市酿酒历史悠久，最远可追溯到商代，境内桃花山镇的商代遗址，曾出土了青铜觚、青铜鎛，据考证为湖北省出土最早的商代贵族酒器。2014年04月09日，原国家质检总局批准对“绣林玉液”实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>监利粮酒</h3>
                <div class="item-img">
                    <img src="/images/监利粮酒.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>监利粮酒，湖北省荆州市监利市特产，中国国家地理标志产品。监利是产粮大市，也是是优质稻产区之一，一直盛行利用余粮酿酒之风。监利酿酒工艺古老，从三国至今已经有1800余年酿酒历史。2017年05月31日，原国家质检总局批准对“监利粮酒”实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>洪湖大闸蟹</h3>
                <div class="item-img">
                    <img src="/images/洪湖大闸蟹.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>洪湖大闸蟹，湖北省洪湖市特产，中国国家地理标志产品。洪湖大闸蟹蟹壳成青泥色，平滑而富有光泽；脐部洁白晶莹，如白玉一般，无瑕疵和污迹；蟹的附肢上刚毛长而呈金黄色，根据挺拔；蟹足金黄，坚实有力。体形及相关性状：个体肥硕，头胸甲相对较厚，肉质致密，甲壳坚硬、丰满、有光泽，蟹黄酱紫色或豆沙色，脂膏呈现乳白色。</span>
                </div>
            </div>          
            <div class="item">
                <h3>洪湖莲藕</h3>
                <div class="item-img">
                    <img src="/images/洪湖莲藕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>洪湖莲藕，湖北省荆州市洪湖市特产，全国农产品地理标志。洪湖历史上属云梦泽东部的长江泛滥平原，当地特有的青泥巴土壤自身肥力足，质地细腻柔软，抓肥能力强，适合莲藕生长。洪湖莲藕形状长、饱满，淀粉含量丰富，具有香、脆、清、利等可口特点，煮汤易烂，肉质肥厚，炒食甜脆，煨汤易粉，既可鲜食，又可加工，还可入药，有清肺、利气、止血、下奶等功效。</span>
                </div>
            </div>          
            <div class="item">
                <h3>襄阳黄酒</h3>
                <div class="item-img">
                    <img src="/images/襄阳黄酒.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>襄阳黄酒，是襄阳一绝，色似乳汁，香气好，味微酸甜，略带酒味，其酒精度因加浆稀释，一般只有2-3度。其使用原料是糯米，又继承了古老传统的制作方法。黄酒是我国最古老的酒种，是酒中之祖，酒中之王。黄酒酿造技术堪称天下一绝，是祖国宝贵的科学文化遗产。</span>
                </div>
            </div>          
            <div class="item">
                <h3>洪湖莲子</h3>
                <div class="item-img">
                    <img src="/images/洪湖莲子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>洪湖莲子，湖北省洪湖市特产，中国国家地理标志产品。洪湖市位于湖北省南部，江汉平原东南端，长江与东荆河之间，属亚热带湿润季风气候，冬夏长，春秋短，四季分明，光照充足，雨量充沛，温和湿润，夏热冬冷，降水集中于春夏。是国家粮、棉、油、麻、鱼、速生丰产林和化工填料生产基地，也是优良的莲藕种植地区。洪湖当地莲农通过人工营造与洪湖相似的养殖生态环境，使用无公害莲子栽培技术，生产出来的莲子完全具备了大湖产出的莲子的可口、清甜、营养丰富等优质特性。</span>
                </div>
            </div>          
            <div class="item">
                <h3>小胡鸭</h3>
                <div class="item-img">
                    <img src="/images/小胡鸭.dpg" alt="">
                </div>
                <div class="item-content">
                    <span>湖北小胡鸭食品有限责任公司，位于历史文化名城荆州,是一家农副产品深加工，以食品为主的民营企业。旗下小胡鸭及其香辣、五香、香酥、礼盒等系列产品。</span>
                </div>
            </div>          
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>