<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 浙 江 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>杭州丝绸</h3>
                <div class="item-img">
                    <img src="/images/杭州丝绸.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>杭州有“丝绸之府”之称。距今四千七百年的良渚出土丝织物就已揭示了杭州丝绸的历史之久，唐代大诗人白居易“丝袖织绫夸柿蒂，青旗沽酒趁梨花”的诗句又道出了当时杭州丝绸的水准之高，旧时清河坊鳞次栉比的绸庄更见证了丝绸经济的繁荣。如今杭州常年生产绸、缎、绵、纺、绉、绫、罗等十四个大类，二百多个品种，二千余个花色，图景新颖，富丽华贵，花卉层次分明，人物栩栩如生，许多产品荣获国家部优或省级优质产品奖，远销世界上100多个国家和地区。</span>
                </div>
            </div>          
            <div class="item">
                <h3>龙泉青瓷</h3>
                <div class="item-img">
                    <img src="/images/龙泉青瓷.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>龙泉青瓷是我国制瓷史上时间最长、影响最大的一个窑系。龙泉青瓷主要以釉色吸引人，是最著名的颜色釉瓷器品种。施釉往往多次，釉较厚，玻璃光感很强。龙泉窑中的粉青釉和梅子青釉，釉质晶莹似青玉，其色调可与翡翠媲美，达中国古代青色最佳的境界。</span>
                </div>
            </div>          
            <div class="item">
                <h3>青田石</h3>
                <div class="item-img">
                    <img src="/images/青田石.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>青田石（qingtian stone）产于浙江青田县。青田石的石性石质和寿山石不大相同。青田石是青色为基色主调，寿山石则红、黄、白数种颜色并存。青田石的名品有灯光冻、鱼脑冻、酱油冻、封门青、不景冻、薄荷冻、田墨、田白等。青田石质地温润，色彩斑斓、花纹奇特，硬度适中，是中国篆刻艺术应用最早、应用最广泛的印材之一。</span>
                </div>
            </div>          
            <div class="item">
                <h3>金华火腿</h3>
                <div class="item-img">
                    <img src="/images/金华火腿.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>金华火腿，产于浙江省金华市，迄今已有1200多年的历史，中国国家地理标志产品。金华出产的“两头乌”猪，后腿肥大、肉嫩，经过整形、上盐、腌制、浸泡、晾晒、发酵等程序，历时一年方可制成金华火腿。金华火腿色泽鲜艳，红白分明，瘦肉香咸带甜，肥肉香而不腻，美味可口，以色、香、味、形“四绝”闻名于世。</span>
                </div>
            </div>          
            <div class="item">
                <h3>绍兴黄酒</h3>
                <div class="item-img">
                    <img src="/images/绍兴黄酒.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>黄酒产地较广，品种很多，但被中国酿酒界公认的，在国际国内市场最受欢迎的，能够代表中国黄酒特色的，首推绍兴酒。绍兴黄酒采用自然发酵方式酿造，以精白糯米、优良小麦和鉴湖水为原料，俗称三者为“酒中肉、酒中骨、酒中血”。其色泽黄澄透澈，香气浓郁芬芳，滋味醇厚甘甜。</span>
                </div>
            </div>          
            <div class="item">
                <h3>五芳斋粽子</h3>
                <div class="item-img">
                    <img src="/images/五芳斋粽子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>号称“江南粽子大王，以糯而不烂、肥而不腻、肉嫩味美、咸甜适中而著称五芳斋粽子按传统工艺配方精制而成，选料十分讲究，肉粽采用上等白糯、后腿瘦肉、徽州伏箬，甜粽则用上等赤豆“大红袍，通过配料、调味、包扎、蒸煮等多道工序精制而成。嘉兴五芳斋粽子有肉粽、豆沙、蛋黄等几十个花色品种。如今，嘉兴五芳斋粽子因其滋味鲜美、携带方便、食用方便备受广大旅游者厚爱，有“东方快餐之称。</span>
                </div>
            </div>          
            <div class="item">
                <h3>龙井茶</h3>
                <div class="item-img">
                    <img src="/images/龙井茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>色泽浅绿，香郁如兰，味醇甘甜，形似雀舌，位居中国名茶之首。全市各大百货商店或遍布全市的龙井茶叶专卖店里有卖，货真价实。</span>
                </div>
            </div>          
            <div class="item">
                <h3>余姚杨梅</h3>
                <div class="item-img">
                    <img src="/images/余姚杨梅.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>余姚杨梅，颗大、色艳、汁多、味重，自古名噪海内外，余姚杨梅在浙江地区种植面积最广，品种也繁多，有乌种、红种、粉红种、白种四大群系，大部分地区都是乌梅和红梅，唯有姚西地区的马渚、牟山两地产白梅和粉梅，据说极其珍贵，个大味鲜、回味清香、色泽晶莹，粉粉的甚是可爱。</span>
                </div>
            </div>          
            <div class="item">
                <h3>杭白菊</h3>
                <div class="item-img">
                    <img src="/images/杭白菊.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>桐乡素有杭白菊之乡的美誉，其所产杭白菊占全国饮用菊总量的9／10，还畅销港澳台以及东南亚等国，是我国传统出口名特产品。早在20世纪20年代，桐乡白菊花就以其色、香、味、形“四绝成为饮用菊之佳品，目前市场上优质的盒装杭白菊，冲泡后不散心、不落瓣，花形完整，素净馨香。</span>
                </div>
            </div>          
            <div class="item">
                <h3>绍兴腐乳</h3>
                <div class="item-img">
                    <img src="/images/绍兴腐乳.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>早在五世纪魏代的古籍中，就有对腐乳 的记载：“干豆腐加盐成熟后为腐乳”。明代李时珍著的《本草纲目》记 载：“腐乳又名菽乳，以豆腐腌过加酒糟或酱制者，味咸甘心。”绍兴因有得天独厚的鉴湖水，其水质甘冽，又含有少量矿物质，故绍兴腐乳品质特优，加之以绍兴老酒作辅料，其色香味更佳，从而驰名中外。</span>
                </div>
            </div>          
            <div class="item">
                <h3>溪口千层饼</h3>
                <div class="item-img">
                    <img src="/images/溪口千层饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>溪口千层饼，浙江省宁波市奉化区溪口镇特产，中国国家地理标志产品。千层饼具有香、脆、酥、食而不厌的特点，颇受人们喜爱。此饼虽仅4—5厘米见方，约2厘米之厚，却内有27层，“千层饼”之名由此而来。</span>
                </div>
            </div>          
            <div class="item">
                <h3>宁波汤圆</h3>
                <div class="item-img">
                    <img src="/images/宁波汤圆.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>宁波汤圆是浙江省宁波市的一种传统小吃，是中国的代表小吃之一，也是春节，元宵节节日食俗，历史十分悠久。据传，汤圆起源于宋朝。当时明州（现浙江宁波市）兴起吃一种新奇食品，即用黑芝麻、猪脂肪油、少许白砂糖做馅，外面用糯米粉搓成球，煮熟后，吃起来香甜可口，饶有风趣。因为这种糯米球煮在锅里又浮又沉，所以它最早叫“浮元子”，后来有的地区把“浮元子”改称元宵。与大多数中国人不同，宁波人在春节早晨都有合家聚坐共进汤圆的传统习俗。</span>
                </div>
            </div>          
            <div class="item">
                <h3>奉化芋头</h3>
                <div class="item-img">
                    <img src="/images/奉化芋头.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>奉化芋头是浙江奉化传统名吃，食材有芋头、海参、香菇、火腿、鸡肉、胡萝卜切丁等。个头如西瓜，味道甘美。</span>
                </div>
            </div>          
            <div class="item">
                <h3>明府鲞</h3>
                <div class="item-img">
                    <img src="/images/明府鲞.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>明府鲞一种墨鱼的干制品。舟山属于宁波，而宁波当时称为明州，因此得名明府鲞。</span>
                </div>
            </div>          
            <div class="item">
                <h3>慈城年糕</h3>
                <div class="item-img">
                    <img src="/images/慈城年糕.png" alt="">
                </div>
                <div class="item-content">
                    <span>慈城年糕是浙江地区著名传统小吃。它已有数百年生产历史，以选料讲究，精工制作著称，它用优质晚粳米洗净后，用水浸泡3—4天或一周，用水磨成粉，压去水分至不干不湿之恰到好处，粉碎后置蒸笼中猛火蒸透，或舂或轧成大小均匀的条状年糕。</span>
                </div>
            </div>          
            <div class="item">
                <h3>龙凤金团</h3>
                <div class="item-img">
                    <img src="/images/龙凤金团.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>龙凤金团是浙江东部一带城乡妇孺皆知的传统名点，也是宁波十大名点之一。龙凤金团形圆似月，色黄似金，面印龙凤浮雕，显示吉祥、团圆。旧时候，宁波有许多制作金团的糕团店，但以赵大有制作的龙凤金团最为有名，称“赵大有金团”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>羊尾笋干</h3>
                <div class="item-img">
                    <img src="/images/羊尾笋干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>羊尾笋干为奉化县的传统著名特产，与水蜜桃和芋艿头齐名，为三大土特产名产之一，生产历史已经超过百年，早被列为浙江省“名特优”产品。由当地盛产的雷笋和龙须竹笋经加工而成，因其因其色泽纯白，长15-20厘米，外形很像羊尾，而被称作为羊尾笋干，肉色清白透黄而且鲜美可口，营养丰富的同时，还具有消暑开胃之功效。可用于烤肉，白切放麻油等吃，又脆又嫩，鲜美无比。</span>
                </div>
            </div>          
            <div class="item">
                <h3>红头团</h3>
                <div class="item-img">
                    <img src="/images/红头团.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>红头团是富有宁波地方特色的传统名名，油糯米粉和大米粉做成,馅子是甜的就是红豆沙,外面包裹一层糯米,点上一点红,其实就是区别萝卜团子的,甜的和咸的要有区别的。被评为象山十大特色小吃之一。</span>
                </div>
            </div>          
            <div class="item">
                <h3>米馒头</h3>
                <div class="item-img">
                    <img src="/images/米馒头.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>米馒头，也叫大（打）糕，是流行于宁波象山、奉化等宁波地区著名的大米糕点。米馒头味道软糯香甜，带有微酸。</span>
                </div>
            </div>          
            <div class="item">
                <h3>余姚榨菜</h3>
                <div class="item-img">
                    <img src="/images/余姚榨菜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>余姚榨菜，浙江省宁波市余姚市特产，全国农产品地理标志。余姚市位于杭州湾南岸，主要土属为淡涂砂、淡涂泥和咸砂土，良好的灌排设施、疏松肥沃的土壤和生长期冷凉的气候等独特的自然生态环境，能满足榨菜生长对环境条件的要求。余姚榨菜质地脆嫩，略带苦涩味。腌制榨菜：色暗黄，皮微皱，质爽脆，味香浓、微甘鲜。生产的新鲜菜头头形圆整、质地脆嫩、营养丰富</span>
                </div>
            </div>          
            <div class="item">
                <h3>宁式苔生片</h3>
                <div class="item-img">
                    <img src="/images/宁式苔生片.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>宁式苔生片是浙江宁波传统糕点代表品种之一。宁式片糕有几百年生产历史。不少片糕生产季节较强，而苔生片却可长年生产，产品具有香、松、脆和苔菜咸鲜味等特点，深受群众欢迎。</span>
                </div>
            </div>          
            <div class="item">
                <h3>苔菜月饼</h3>
                <div class="item-img">
                    <img src="/images/苔菜月饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>苔菜月饼又称宁式苔菜月饼，是浙江宁波地区的传统特色月饼，以苔菜为辅料作馅的一种月饼，饼皮松酥，馅料有浓郁的麻油香味，甜中带咸，咸里透鲜，有苔菜的特殊香味。</span>
                </div>
            </div>          
            <div class="item">
                <h3>陆埠豆酥糖</h3>
                <div class="item-img">
                    <img src="/images/陆埠豆酥糖.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>陆埠豆酥糖，余姚市陆埠镇的传统糕点，它的色、香、味俱居上乘，素有“胜似三北藕丝糖”的美称。</span>
                </div>
            </div>          
            <div class="item">
                <h3>洋钱饼</h3>
                <div class="item-img">
                    <img src="/images/洋钱饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>洋钱饼是浙江宁式特色传统糕点，清朝已有生产，形如银元，片薄，芝麻足，人口香甜、松脆。香甜松酥，芝麻清香味突出</span>
                </div>
            </div>          
            <div class="item">
                <h3>三北藕丝糖</h3>
                <div class="item-img">
                    <img src="/images/三北藕丝糖.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>三北藕丝糖是产自浙江慈溪的传统名点。相传，清代雍正年间，慈溪沈师桥有位叫沈永年的糕点师傅，做得一手好糕点，并不断创新，制作出了一种外形为柱状，粗细如同人的中指、长不过三寸似的糕点又似糖点的食品。折断来看，在这细细的的柱状里，意整整齐齐排列着数十个细状小孔，活似被折断的藕，后人就把这种食品称之为藕丝糖，因地处"三北"，所以也叫"三北藕丝糖"。</span>
                </div>
            </div>          
            <div class="item">
                <h3>宁波腊鸭</h3>
                <div class="item-img">
                    <img src="/images/宁波腊鸭.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>宁波腊鸭是浙江省宁波地区传统名菜，腊香鲜美，鸭味浓厚，在冬天加工，颇受消费者欢迎。</span>
                </div>
            </div>          
            <div class="item">
                <h3>麻枣</h3>
                <div class="item-img">
                    <img src="/images/麻枣.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>麻枣，又称为荖花、祭灶果，是一种油炸点心类的小吃。荖花口感不甜，有油香味却无腻味，酥松而不脆。形状也有趣，其状如卵，中空，个小，嘴大者，可一口吃一个。</span>
                </div>
            </div>          
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>