<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 吉 林 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>鼎丰真糕点</h3>
                <div class="item-img">
                    <img src="/images/鼎丰真糕点.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>鼎丰真糕点是由为主要食材制作而成的糕点，长春市鼎丰真糕点已有60余年历史，风味独特，驰名各地。</span>
                </div>
            </div>          
            <div class="item">
                <h3>长春酱肉</h3>
                <div class="item-img">
                    <img src="/images/长春酱肉.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>长春酱肉是吉林省长春市的一道特色名菜，属于东北菜，其主料为五花肉，口味是酱香，工艺在于酱，长春酱肉温度在30摄氏度以下，能存放较长时间不变质。肥肉不腻，瘦肉不柴，色泽油亮，味美适口。</span>
                </div>
            </div>          
            <div class="item">
                <h3>真不同酱菜</h3>
                <div class="item-img">
                    <img src="/images/真不同酱菜.png" alt="">
                </div>
                <div class="item-content">
                    <span>真不同酱菜是吉林省长春市特有的特色酱菜。 真不同酱菜的历史已有半个多世纪。早在1943年，胡运昌与人合伙开设了一家酱肉铺。后来由于竞争激烈，胡运昌被迫分股自立。他走访当时宫廷御厨，又到北京、天津等地拜师学艺。1946年7月，胡运昌在长春市桃源路挂出胡记真不同酱肉铺招牌。1979年，当时的吉林省商业厅批准授予胡运昌特级厨师专业技术职称。1981年，真不同酱菜40例被编入《吉林菜谱》。真不同酱菜列入吉林菜谱的有40种，其中真不同酱肉、熏肉、叉烧肉、砂仁肘子、熏小肚、扒鸡、烧鸡、葱熏黄花鱼、熏牛肉干、真不同南肠菜等12种特别具有地方风味。</span>
                </div>
            </div>          
            <div class="item">
                <h3>红石砬小米</h3>
                <div class="item-img">
                    <img src="/images/红石砬小米.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>红石砬小米，吉林省农安县特产，中国国家地理标志产品。据《农安县志》记载 ，红石砬小米栽培、种植和生产已有200多年的历史。清光绪八年（1882年），该区域人们发现红色土壤并不适宜小麦、水稻和玉米等作物的生长，但种植的谷子长势良好，并且米粒饱满、味道香浓、颜色呈金黄色，且产量丰富，故此沿袭耕种，使培植和生产得到了空前发展，并远销到全国各地。由于小米产地土质呈棕红色和当地被人们称之为“红石砬”，因此，人们就习惯的把当地所产的小米称之为“红石砬小米”。红石砬小米名称有史料记载源于《农安县志》第二章：农业关于对谷子生产的描述。原文为：晚清溥仪时期，曾挑选上等“红石砬小米”运往长春供皇宫御用。</span>
                </div>
            </div>          
            <div class="item">
                <h3>延边辣白菜</h3>
                <div class="item-img">
                    <img src="/images/延边辣白菜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>延边辣白菜，吉林省延边朝鲜族自治州特产，中国国家地理标志产品。泡菜是中国传统特色发酵食品的典型代表，历史悠久，以泡菜为代表的朝鲜族食品是以绿色蔬菜经乳酸菌发酵加工而成的食品，富含多种氨基酸、维生素及矿物质成分等系列生物活性物质。研究结果表明：日常食用泡菜，可以增强人体免疫力，会使皮肤变得细嫩，可防止心血管疾病、糖尿病、肥胖症等成人疾病，并具有抗辐射、抗癌变等作用。泡菜中的有益乳酸菌通过调节胃肠道酸度可抑制有害菌产生和繁殖，有利于排除体内垃圾，具有延年益寿的作用。</span>
                </div>
            </div>          
            <div class="item">
                <h3>延边苹果梨</h3>
                <div class="item-img">
                    <img src="/images/延边苹果梨.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>延边苹果梨，吉林省延边朝鲜族自治州特产，中国国家地理标志产品。延边苹果梨属于白梨系统，是中国优良品种梨之一，主产于吉林省延边朝鲜族自治州。果形扁圆，果面带有点状红晕，酷似苹果，故名苹果梨。延边苹果梨具有抗寒丰产、果实爽口甜美、品质优良、贮藏性强等特点，素有“北方梨中之秀”的美称。中国各地的苹果梨都发源于此。</span>
                </div>
            </div>          
            <div class="item">
                <h3>汪清黑木耳</h3>
                <div class="item-img">
                    <img src="/images/汪清黑木耳.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>汪清黑木耳，吉林省延边朝鲜族自治州汪清县特产，全国农产品地理标志。汪清黑木耳耳片胶质厚，达1.3毫米，富弹性、色泽好，半透明，耳片背面略呈灰黑色，水发性好，片大适度、均匀，耳瓣舒展少卷曲，无腐烂耳和流失耳，无异味。富含蛋白质、脂肪、碳水化合物、钙、磷、铁、钾、镁、钠、胡箩卜素和纤维等。2016年8月16日，原中华人民共和国农业部批准对“汪清黑木耳”实施国家农产品地理标志登记保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>吉林长白山人参</h3>
                <div class="item-img">
                    <img src="/images/吉林长白山人参.png" alt="">
                </div>
                <div class="item-content">
                    <span>吉林长白山人参，吉林省特产，中国国家地理标志产品。 人参为五加科，人参属植物，通常所说的人参是指其干燥根。吉林长白山人参以其形美、质坚硬，断面皮部显裂隙，形成层明显，气微香，味微苦且甘被誉为人参中珍品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>松花砚</h3>
                <div class="item-img">
                    <img src="/images/松花砚.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>松花砚，吉林省特产，中国国家地理标志产品。用松花石制砚始于明代末年，推崇于清朝，自清末后便销声匿迹，1979年发现旧矿，重放异彩。其中以“松花静水”、“松薄荡水”、“绿静”最为名贵，以“龙眼”、“凤眼”、“赤柏纹”、“紫袍绿带”最为奇特。中国书法协会主席舒同题词：“松花江石砚与端砚齐辉。”书法家赵朴初写诗赞美它：“色欺洮石风漪绿，神奇松花江水寒。”文物鉴赏家傅大卤称颂它：“洮河无此润，端溪无此坚。”日本书法家则把它誉为“东方至宝”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>吉林鹿茸</h3>
                <div class="item-img">
                    <img src="/images/吉林鹿茸.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>吉林鹿茸，关东三宝之一。主产于吉林省长白山区，取自梅花鹿新生的没有长成硬骨时的嫩角。因其营养丰富，药效显著，历史上列为贡品。以鹿茸片为代表的各种鹿茸制品在国际市场上畅销不衰。</span>
                </div>
            </div>          
            <div class="item">
                <h3>长白山林蛙</h3>
                <div class="item-img">
                    <img src="/images/长白山林蛙.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>长白山林蛙是生长于中国东北长白山林区的一种珍贵蛙种，由于其冬天在雪地下冬眠100多天，故又称“雪蛤”。隶属两栖纲、无尾目、蛙科、蛙属，该蛙是我国著名的经济蛙种，雌蛙的输卵管里的营养物质，即林蛙油是名贵的食品、补品。是只长白山林蛙的输卵管干制品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>集安板栗</h3>
                <div class="item-img">
                    <img src="/images/集安板栗.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>集安栽培板栗有近百年的历史，现已是退耕还林的典范工程。集安板栗果实皮薄、肉质细腻、甜软适口，在市场上享有盛誉。此外，板栗花、果、树都具有极强的观赏价值，到集安旅游的人们都要到板栗园游玩一番。</span>
                </div>
            </div>          
            <div class="item">
                <h3>集安蜂蜜</h3>
                <div class="item-img">
                    <img src="/images/集安蜂蜜.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>集安蜂蜜，吉林省通化市集安市特产，全国农产品地理标志。集安蜂蜜因蜜源不同，各有特点。集安洋槐蜜呈特浅黄色，具有清香味，口感甜润，清香气柔和持久，后味悠长，不易结晶；集安椴树蜜刚采收下来呈特浅琥珀色，具有特殊的薄荷香气，口感香甜，气味柔和持久，后味悠长 。2013年12月30日，原中华人民共和国农业部正式批准对“集安蜂蜜”实施农产品地理标志登记保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>集安鸭绿江咸鸭蛋</h3>
                <div class="item-img">
                    <img src="/images/集安鸭绿江咸鸭蛋.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>集安鸭绿江咸鸭蛋，吉林省集安市特产，中国国家地理标志产品。集安市素有“塞北小江南”之称，鸭绿江江面宽阔，水质优良，无任何化学污染，非常适合动植物的生长繁殖。由于集安市得天独厚的自然生态环境和鸭绿江优良的水质，决定了集安鸭绿江蛋鸭加工出的咸鸭蛋具有独特的产品特性。生咸鸭蛋大小均匀，气室小，蛋白呈液态、有黏性，蛋黄完整隆起。熟咸鸭蛋剥壳后蛋白完整，细而有弹性、不粘壳，无“蜂窝状”现象，蛋黄较结实，有油析出。</span>
                </div>
            </div>          
            <div class="item">
                <h3>干明太鱼</h3>
                <div class="item-img">
                    <img src="/images/干明太鱼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>干明太鱼一直是延边朝鲜族人民喜欢食用的传统食品，高蛋白低脂肪，味道清爽。在东北延边一带，冬天有很多人家把明太鱼洗干净，去内脏，然后挂在外面冻干，鱼肉中的水分经过升华晾干，鱼肉成条状，撕下来一条放嘴里嚼，越嚼越香。干明太鱼在超市、特产店、菜市场都可以买到。</span>
                </div>
            </div>          
            <div class="item">
                <h3>长春木雕</h3>
                <div class="item-img">
                    <img src="/images/长春木雕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>长春木雕是东北著名的民间工艺品之一，距今已有二千多年的历史。木雕是我国古老民间工艺之一，据今已有二千多年历史，长春木雕是利用长白山根木，进行手工雕刻吉祥物、古今人物、神话人物等，造型美观、技艺高超，图案细致，形象生动，内容丰富多彩。</span>
                </div>
            </div>          
           
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>