<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/spe.css">
    <title>Document</title>
</head>
<body>
    <!-- 头部部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- 头部部分-end -->
    <main>
        <div class="main-header">* 山 西 特 产 *</div>
        <div class="main-body">
            <div class="item">
                <h3>太谷饼</h3>
                <div class="item-img">
                    <img src="/images/太谷饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>太谷饼是山西省传统名吃，因产于太谷县得名。始于清代，太谷饼具有甜而不腻、酥而不碎，味美鲜香等特点，以其香、酥、绵、软而闻名全国，享有“糕点之王”的美称。太谷饼为“晋商饮食文化”的典型代表，著名歌唱家郭兰英那首清脆悠扬的“平遥的牛肉太谷的饼……”更是让太谷饼的美名传遍天下。</span>
                </div>
            </div>          
            <div class="item">
                <h3>山西老陈醋</h3>
                <div class="item-img">
                    <img src="/images/山西老陈醋.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>山西老陈醋，山西省特产，中国国家地理标志产品。山西老陈醋是中国四大名醋之一，已有3000余年的历史，素有“天下第一醋”的盛誉，以色、香、醇、浓、酸五大特征著称于世。2004年08月09日，原国家质检总局批准对“山西老陈醋”实施原产地域产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>平遥牛肉</h3>
                <div class="item-img">
                    <img src="/images/平遥牛肉.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>平遥牛肉，山西省平遥县特产，中国国家地理标志产品。 平遥牛肉久负盛名，起源年代无考，清代时已誉满三晋。清嘉庆年间，邑人雷金宁及其子孙三代，在城内文庙街设有兴盛雷牛肉店，长达百余年。到光绪末年，又有任大才与其子任仰文在城内西大街设立自立成牛肉铺，所制牛肉可与兴盛雷牛肉相媲美，均为正宗产品。2003年12月24日，原国家质检总局批准对“平遥牛肉”实施原产地域产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>推光漆器</h3>
                <div class="item-img">
                    <img src="/images/推光漆器.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>推光漆器是一种工艺性质的高级大漆器具，山西平遥地方传统手工技艺之一，以手掌推出光泽而得名。山西著名工艺品平遥推光漆器外观古朴雅致、闪光发亮，绘饰金碧辉煌，手感细腻滑润，环保无毒抗虫蛀，耐热防潮，经久耐用，诚为漆器中之精品。2006年5月20日，该技艺经国务院批准列入第一批国家级非物质文化遗产名录。</span>
                </div>
            </div>          
            <div class="item">
                <h3>寿阳豆腐干</h3>
                <div class="item-img">
                    <img src="/images/寿阳豆腐干.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>寿阳豆腐干，山西省寿阳县特产，中国国家地理标志产品。寿阳豆腐干块形较平整，外观褐红，内显金黄，口感坚实，组织细腻有韧劲，无豆腥味，鲜香味美，营养丰富。 “寿阳豆腐干”采用当地产优质大青豆制成。所用原料寿阳大青豆颗粒饱满，富含蛋白质、维生素等多种营养成份。2013年11月，原国家质检总局批准对“寿阳豆腐干”实施地理标志产品保护。</span>
                </div>
            </div>          
            <div class="item">
                <h3>澄泥砚</h3>
                <div class="item-img">
                    <img src="/images/澄泥砚.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>澄泥砚是中国传统工艺品之一，传统书法用具之一，始于汉，盛于唐宋，迄今已有千余年历史。从唐代起，端砚、歙砚、洮河砚和澄泥砚被并称为“四大名砚”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>面花</h3>
                <div class="item-img">
                    <img src="/images/面花.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>面花（闻喜花馍），山西省闻喜县传统美术，国家级非物质文化遗产之一。闻喜花馍已有1000多年的历史。闻喜花馍的造型一般以立体形为主，一般分为四层，由较底部的糕底、中间的红枣支架、糕面以及较上面的插制的面花组成。这四部分中，除去作观赏用的面花外，其余都可食用。闻喜花馍作为一种民间艺术，和当地人们的生活是息息相关的。它承载了人们的信仰，是人们精神生活的依赖，不同时期的花馍，反映了不同时期人们的社会意识形态。</span>
                </div>
            </div>          
            <div class="item">
                <h3>山西刀削面</h3>
                <div class="item-img">
                    <img src="/images/山西刀削面.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>山西刀削面（Shanxi sliced noodles）别称“驸马面”，是山西省的一种特色传统面食，因其风味独特，驰名中外；据传山西刀削面是唐朝驸马柴绍发明，刀削面全凭刀削，因此得名。用刀削出的面叶，中厚边薄。棱锋分明，形似柳叶。入口外滑内筋，软而不粘，越嚼越香，刀削面的调料（俗称“浇头”或“调和”），也是多种多样的，有番茄酱、肉炸酱、羊肉汤、金针木耳鸡蛋打卤等，都深受喜食面食者欢迎。它同武汉热干面、北京炸酱面、河南烩面、四川担担面同称为五大面食名品，享有盛誉。</span>
                </div>
            </div>          
            <div class="item">
                <h3>长寿面</h3>
                <div class="item-img">
                    <img src="/images/长寿面.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>在中国民间汉族历来就有生日吃长寿面的习俗，相传与汉武帝有关，长寿面主料为高筋粉，配以各种调料，代表人们对未来的一种美好愿望。脸即面，“脸长即面长”，于是人们就借用长长的面条来祝福长寿。渐渐地，这种做法又演化为生日（节日）吃面条的习惯，称之为吃“长寿面”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>油糕</h3>
                <div class="item-img">
                    <img src="/images/油糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>油糕是中国北方地区的一种特色的传统小吃，广泛分布于山西，陕西关中地区，河北，北京，内蒙古等地区 。是使用油炸的一种糕点，呈椭圆形状，馅一般是红糖或者白糖，油糕吃起来既甜又软绵，陕北民歌《山丹丹花开红艳艳》中对此就有生动的描述。油糕色泽金黄，细腻柔软，经久而不变色不变质，属纯天然绿色食品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>棋子豆</h3>
                <div class="item-img">
                    <img src="/images/棋子豆.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>棋子豆是汉族民间习俗农历二月二春龙节中品尝的一种美食，在关中平原、汾河谷地仍保留着二月二吃棋子豆的传统。在关中地区广泛流传着“二月二，吃豆豆”的说法。二月二，陕西人的习俗要吃豆豆，炒豆子和棋子豆都是吉祥的小零食，寄托人们对美好生活的向往———龙神赐福人间，人畜平安，五谷丰登。</span>
                </div>
            </div>          
            <div class="item">
                <h3>豌豆糕</h3>
                <div class="item-img">
                    <img src="/images/豌豆糕.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>豌豆糕又叫豆沙糕，豌豆澄沙糕。是流行于山西、河南、河北、北京等地的特色糕类小吃，属甜食，宜在夏季食用。用上等豌豆脱皮磨粉，加入白糖、柿饼、栀子黄、柿子霜制作而成。香甜可口，清凉下火，爽口绵甜，益脾胃，解热祛毒。1957年，豌豆糕被评为太原市 “十大名吃”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>石头饼</h3>
                <div class="item-img">
                    <img src="/images/石头饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>石头饼是流行于山西，陕西地区的一种传统面食，中国传统的烙制食品。石头饼又称石子馍，唐朝时称石鏊饼，明清朝称天然饼。</span>
                </div>
            </div>          
            <div class="item">
                <h3>闻喜煮饼</h3>
                <div class="item-img">
                    <img src="/images/闻喜煮饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>闻喜煮饼是一种山西省的地方传统名点，正宗闻喜煮饼大多产于山西省运城市闻喜县，在山西有着“饼点之王”的美誉，又有“国式糕点绝产”之美称。在晋南民间把“炸”就叫“煮”。主要原料为面粉、蜂蜜、小磨香油、糖粞及上等红白糖等。闻喜煮饼形似圆月，由于外皮粘满白芝麻，所以外观是月白色。其外裹芝麻，滚圆状，内有栗色、绛白二色分明的饼馅，可拉出几厘米长的细丝，吃起来酥沙香甜、不皮不粘不腻，久不变质。煮饼在明末就已有名气。鲁迅先生在小说《孤独者》中有“我提着两包闻喜产的煮饼去看友人”的字句，可见闻喜煮饼确实声名远扬。闻喜煮饼仍是老少皆宜的一种大众食品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>稷山麻花</h3>
                <div class="item-img">
                    <img src="/images/稷山麻花.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>稷山麻花是山西运城的特色传统风味小吃。据传，麻花原是宫廷食品，传至民间时成为两股面粘在一起的形状，洪洞一带还可见到这种食品。清乾隆年间，翟店镇西位村的一位商人把它带回家乡稷山，制作出售，食者甚多。后来，这位商人不断改进制作技术，将麻花由两股改成三股，然后拧成炸制，呈金黄色细丝花纹状。稷山麻花已进入北京、深圳、黑龙江等10多个省市销售，颇受欢迎。</span>
                </div>
            </div>          
            <div class="item">
                <h3>碗坨</h3>
                <div class="item-img">
                    <img src="/images/碗坨.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>碗团是流传千年位于山西传统面食小吃，在方言里又叫做“碗凸、碗托、碗坨、碗脱、碗团、碗托子”。碗团是用荞面同水揉到一块儿，加热熬成粥糊状，晾凉以后即成。</span>
                </div>
            </div>          
            <div class="item">
                <h3>油豆泡</h3>
                <div class="item-img">
                    <img src="/images/油豆泡.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>油豆泡是山西省的一道传统特色小吃，油豆泡外形呈圆球体，内部组织呈蜂窝状，外筋内虚，用手挤压有气体感，压扁时可以自动复原。食用时荤素配料均可，制汤配菜兼宜。将豆泡用小刀划开一道小口，放进肉馅用粉面糊封口上笼蒸熟食用，别有一番风味。</span>
                </div>
            </div>          
            <div class="item">
                <h3>山西油茶</h3>
                <div class="item-img">
                    <img src="/images/山西油茶.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>山西油茶健脾暖胃,营养丰富秋冬季节保护肠胃的养生佳品。是冬季节餐桌必备的“暖肚汤” 制作原料为面粉400克、核桃仁30克、花生仁30克、新疆巴旦木30克、黑芝麻30克、熟白芝麻粉30克、橄榄油40克、或者是牛油40克。油茶，传统做法是将面粉用牛油或羊油炒熟，后加花生仁，芝麻，小茴香。喝的时候可加盐，亦可加糖，咸甜随意，是山西晋中的一种特色小吃。</span>
                </div>
            </div>          
            <div class="item">
                <h3>代县黄酒</h3>
                <div class="item-img">
                    <img src="/images/代县黄酒.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>代县特产多，尤以黄酒最为出名。早在宋代酒业专著《酒名记》中就有“代州金波又琼酥”的记载，金代礼部尚书赵秉文著有“金波沉醉雁门州，端有人间六月秋”的诗句，金波即指代州黄酒 [1]  。2008年，代县黄酒酿造技术成功入选山西非物质文化遗产保护名录。</span>
                </div>
            </div>          
            <div class="item">
                <h3>芮城麻片</h3>
                <div class="item-img">
                    <img src="/images/芮城麻片.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>芮城麻片是山西省的特色传统名食之一。创自明末清初，已有300多年的历史，素以酥脆甜香而著称于省内外。1981年，在全省商办工业副食品质量鉴定评比会上，曾荣获名特产品的第一名，畅销许多省市。</span>
                </div>
            </div>          
            <div class="item">
                <h3>六味斋酱肉</h3>
                <div class="item-img">
                    <img src="/images/六味斋酱肉.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>六味斋酱肉是山西省太原市的一种传统小吃，该小吃已有40多年的历史。“六味斋”的酱肉的品种有酱肉、酱肘花、杂拌、香肠、蛋卷等，风味各异。特点是：“肥而不腻，瘦而不柴”。</span>
                </div>
            </div>          
            <div class="item">
                <h3>山西酒枣</h3>
                <div class="item-img">
                    <img src="/images/山西酒枣.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>山西酒枣，也叫醉枣，是我国北方一种传统食品，在华中地区，俗称蹦枣。酒枣不仅保持了鲜枣的色形，而且枣香酒香相融，清醇芬芳，甘甜酥脆，风味独特。</span>
                </div>
            </div>          
            <div class="item">
                <h3>孟封饼</h3>
                <div class="item-img">
                    <img src="/images/孟封饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>孟封饼是山西省清徐县孟封村独特的特色传统名食，色泽金红，口感绵甜，冷热皆宜。以香、酥、软、甜、凉的特点久负盛名。凡品尝过它的人，无不称其为饼中佳品。</span>
                </div>
            </div>          
            <div class="item">
                <h3>酥火烧</h3>
                <div class="item-img">
                    <img src="/images/酥火烧.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>酥火烧是山西省长治地区有名的地方传统小吃之一。</span>
                </div>
            </div>          
            <div class="item">
                <h3>太原酱肘花</h3>
                <div class="item-img">
                    <img src="/images/太原酱肘花.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>太原酱肘花是山西太原市特色传统名菜之一。此菜系将肘肉卷压缠捆，卤酱成熟后切片冷食，因横断面有云波状花纹，故称缠花云梦肉，俗称为“酱肘花”。 酱肘花当属老字号“福记六味斋酱肘鸡鸭店”制作的最好，因其选料严格，加工精细，保持了历史传统工艺和风味，所制的酱肘花有独到之处，酱肘花色泽漂亮、气味馥郁、皮嫩肉烂、肥而不腻、瘦而不柴、香而味长，是老百姓合家团聚、佐餐下酒的佳品之一。</span>
                </div>
            </div>          
            <div class="item">
                <h3>压韭茄子</h3>
                <div class="item-img">
                    <img src="/images/压韭茄子.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>山西地处黄土高原，四季气候分明，作物大多以旱作为主，尤其是粗粮制品更是品种繁多。这样的地理气候条件，也给山西农业带来局限性，蔬菜品种少，尤其是到了冬天，新鲜蔬菜更是少之又少。人们就想办法把当季收获的蔬菜做成干菜或腌菜储存食用。每年秋收时，山西人都会把拉蔓后口感较差的茄子做成腌茄子，腌好的茄子咸淡适口，非常清香，是佐粥的最佳伴侣。如今，压韭茄子是山西省大同地区的风味小菜，深受民间百姓喜爱，是春夏季节的可口小菜。</span>
                </div>
            </div>          
            <div class="item">
                <h3>太谷熏鸽</h3>
                <div class="item-img">
                    <img src="/images/太谷熏鸽.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>太谷熏鸽，驰名中外，誉满八方。太谷熏鸽是太谷县的传统地方名产，已有100多年的历史，始创于清代，此名产在旧时为晋商谷帮招待国内外客商的庄菜，也是晋商与各地官吏、显贵交往的上等礼品，有“山西历史文化名食”、“山西四大名熏之一”的美誉。</span>
                </div>
            </div>          
            <div class="item">
                <h3>砂子饼</h3>
                <div class="item-img">
                    <img src="/images/砂子饼.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>砂子饼是山西省运城地区的传统风味小吃之一。砂子饼亦名疤饼。这种疤饼，直径一般是26厘米到33厘米，饼既薄而且脆，饼脸用卵石烙成，凸凹不平，因而有“疤饼”之称。清香筋软，易于消化。吃时配以麻食汤（辣豆腐、粉条汤），辣麻香甜。此饼在乡间亦普遍食用，特别是多作为旅行携带的干粮。</span>
                </div>
            </div>          
            <div class="item">
                <h3>忻州瓦酥</h3>
                <div class="item-img">
                    <img src="/images/忻州瓦酥.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>忻州瓦酥，以其形似瓦片而得名。瓦酥，约长10厘米、宽4厘米、厚0．5厘米，内外皆呈金黄色，上印“忻州瓦酥”字样。每公斤约有五十二至五十八块。其质酥脆，味甜香郁，堪称炉食中之一绝。久放色味不变，常食有健胃壮身的功用。</span>
                </div>
            </div>          
            <div class="item">
                <h3>轻糖杏脯</h3>
                <div class="item-img">
                    <img src="/images/轻糖杏脯.jpg" alt="">
                </div>
                <div class="item-content">
                    <span>轻糖杏脯是山西太原市的传统特色小吃，皮呈细经纹，为半透明，互不粘连不流糖返砂，肉质丰厚，无粗纤维，口感柔润，有浓郁的鲜杏香味，酸甜适口。深受国内、国际市场的欢迎。</span>
                </div>
            </div>                
            
        </div>
    </main>
    <script src="/js/spe.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>