<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/specialty.css">
    <script src="/echarts/echarts.min.js"></script>
</head>
<body>
    <!-- header部分-start -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper" tabindex="0"></div>
            </div>
            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <!-- 头像的onmouseover部分开始 -->
                <div class="show">
                    <div class="v-popover">
                        <div class="v-self">
                            <svg t="1672910631785" class="icon" viewBox="0 0 1131 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2692" width="16" height="16"><path d="M1130.10105 436.659501l1.853743 1.467547q-0.913998-0.772393-1.853743-1.467547zM0 438.770708l3.347036-2.651882a32.183041 32.183041 0 0 0-3.347036 2.651882z" fill="#61666d" p-id="2693"></path><path d="M117.725564 995.678924c-0.296084 1.982475-0.605041 3.952077-0.875379 5.947426a29.685637 29.685637 0 0 0 0.875379-5.947426zM88.0528 1024zM58.418656 992.087296q0.32183-2.227066 0.669407-4.454132a29.608398 29.608398 0 0 0-0.669407 4.454132z" fill="#61666d" p-id="2694"></path><path d="M1074.334276 985.174379c0.373323 2.330052 0.708027 4.672978 1.042731 7.015903a30.715494 30.715494 0 0 0-1.042731-7.015903zM1014.769904 1000.480634c-0.257464-1.84087-0.527802-3.668867-0.811013-5.496864a30.715494 30.715494 0 0 0 0.811013 5.496864z" fill="#61666d" p-id="2695"></path><path d="M1074.334276 985.174379C1043.515796 791.239374 897.095833 650.226161 710.253969 593.918713c99.612949-53.114891 184.26722-166.21897 184.26722-286.712276C894.521189 133.057565 741.535885 0 566.897831 0s-327.623358 133.057565-327.623357 307.206437c0 120.493306 84.705764 233.636005 184.318712 286.712276C235.914564 650.445006 89.056911 792.436583 59.049444 987.633164q-0.347577 2.227066-0.669408 4.454132c0 0.7209-0.090113 1.454673-0.090112 2.188447a29.711383 29.711383 0 0 0 29.608398 29.711384h0.180225a29.724257 29.724257 0 0 0 28.771638-22.322157c0.270338-1.995349 0.579295-3.964951 0.875379-5.947426 32.852448-216.270036 221.277717-360.81051 449.172267-360.81051 227.637086 0 414.067006 144.257263 447.06106 360.102483 0.283211 1.827997 0.553548 3.668867 0.811013 5.496863a30.754114 30.754114 0 0 0 60.632849-7.234748c0.012873-0.386196-0.656534-5.767201-1.068477-8.097253z m-773.680307-677.980816c0-141.489522 124.342397-245.749701 266.243862-245.749701s266.243862 104.273053 266.243862 245.749701-124.355271 266.243862-266.243862 266.243862-266.243862-124.741467-266.243862-266.230988z" fill="#61666d" p-id="2696"></path></svg>
                            <span>个人中心</span>
                        </div>
                        <hr style="background-color: #c9ccd0;border:none;height: 1px;">
                        <div class="v-exit">
                            <svg t="1672238066472" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2680" width="16" height="16"><path d="M482.464 512V157.536a29.536 29.536 0 0 1 59.072 0V512a29.504 29.504 0 1 1-59.072 0z m344.064-220.256a383.04 383.04 0 0 0-94.208-94.368l-0.096 0.096a29.472 29.472 0 1 0-33.824 48.384c0.128 0.096 0.288 0.096 0.416 0.192 40 28.128 50.976 39.104 79.328 79.584 102.752 146.752 66.976 349.792-79.808 452.544a325.824 325.824 0 0 1-372.736 0.064 323.84 323.84 0 0 1-79.712-79.904c-49.792-71.008-68.896-157.28-53.824-242.72s62.528-159.968 133.664-209.728c0.224-0.16 0.48-0.288 0.672-0.48l-0.16-0.16A29.504 29.504 0 0 0 291.776 197.44c-0.096 0.064-0.128 0.224-0.256 0.256l-0.032-0.032C118.016 319.36 75.904 558.656 197.472 732.256a383.04 383.04 0 0 0 94.208 94.368c128.448 89.952 304.64 95.072 440.544-0.064 173.728-121.664 215.936-361.12 94.304-534.816z" p-id="2681" fill="#61666d"></path></svg>
                        <span>退出登录</span>
                        </div>
                    </div>
                </div>
                <li class="self-icon xinfeng" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="##18191C" p-id="3446"></path></svg>
                </li>
                <!-- 信封的onmouseover部分开始 -->
                <div class="show2">
                    <div class="v-popover2">
                        <div>评论的赞</div>
                        <div>视频的赞</div>
                        <div>系统消息</div>
                    </div>
                </div>
                <!-- 信封的onmouseover部分结束 -->
                <li class="self-icon shoucang" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <!-- 收藏部分开始 -->
                <div class="show3">
                    <div class="recommend-list">
                        <div class="collect-container"></div>
                        <div class="rec-footer">查看全部</div>
                    </div>
                </div>
                <!-- 收藏部分结束 -->
                <li class="self-icon dongtai" id="dongtai">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                </li>
                <!-- 动态部分开始 -->
                <div class="show4">
                    <div class="recommend-list">
                        <div style="width: 380px; height: 30px; text-align: center;margin-left: -15px; color: #18191c;font-size: 14px;font-weight: 500;border-bottom: 1px solid #e3e5e7;margin-bottom: 10px;">历史动态</div>
                        <div id="dynamic"></div>
                    </div>
                </div>
                <!-- 动态部分结束 -->
                <li class="self-icon lishi">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <!-- 历史部分开始 -->
                <div class="show5">
                    <div class="recommend-list">
                        <div style="width: 380px; height: 30px; color: #18191c;font-size: 14px;font-weight: 500">今天</div>
                        <div class="history-container"></div>
                    </div>
                </div>
                <!-- 历史部分结束 -->
                <li class="self-email" id="goUpVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- header部分-end -->

    <!-- nav部分-start -->
    <div class="nav">
        <div class="main-nav">
            <div class="main-sub">
                <span>特产推荐</span>
                <span>八大菜系</span>
                <span>特色美食</span>
                <span>美食视频</span>
            </div>
        </div>
    </div>
    <!-- nav部分-end -->
    <!-- main部分-start -->
    <main style="background: url(/images/specialty-bg.jpg) center;">
        <div class="main-container">
            <div class="m-left">
                <div class="choice">请选择省份：</div>
                <ul class="provinces">
                    <li style="color: white; background-color: #ef4444;">四川</li>
                    <li>广东</li>
                    <li>北京</li>
                    <li>陕西</li>
                    <li>山东</li>
                    <li>山西</li>
                    <li>湖南</li>
                    <li>河南</li>
                    <!-- <li>上海</li> -->
                    <li>江苏</li>
                    <li>湖北</li>
                    <li>重庆</li>
                    <li>天津</li>
                    <li>河北</li>
                    <li>浙江</li>
                    <li>新疆</li>
                    <li>江西</li>
                    <li>福建</li>
                    <li>广西</li>
                    <li>云南</li>
                    <li>辽宁</li>
                    <li>吉林</li>
                    <li>贵州</li>
                    <li>安徽</li>
                    <li>台湾</li>
                    <li>甘肃</li>
                    <!-- <li>香港</li> -->
                    <li>内蒙古</li>
                    <li>宁夏</li>
                    <li>青海</li>
                    <li>海南</li>
                    <li>西藏</li>
                    <li>黑龙江</li>
                </ul>
            </div>
            <div class="m-right">
                <!-- 1. 江西 -->
                <div class="province-item" style="display: none;" name="江西">
                    <div class="p-img">
                        <img src="/images/江西高安腐竹.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">江西</div>
                        <div class="p-title-2">鱼米之乡，物产丰富</div>
                        <div class="p-title-3">高安腐竹，客家熏鸡</div>
                    </div>
                    <div class="p-content">
                        <span>江西，位于长江中下游南岸，四季气候为春多梅雨、夏炎热、秋干燥、冬潮冷。在秦汉时期，鱼米之乡的特色已趋明显，据东晋时人雷次宗云：江西“地方千里，水路四通……嘉蔬精稻，擅味于八方。”江西饮食文化就是在保持自身特色的基础上，又取八方精华，从而形成了今日有独特风味的赣菜。截止2022年6月30日，江西现有国家级非遗技艺项目22项，省级122项；国家级非遗技艺代表性传承人21人，省级162人。其中，与美食相关国家级非遗项目2项。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-jiangxi'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 2. 广东 -->
                <div class="province-item" style="display: none;" name="广东">
                    <div class="p-img">
                        <img src="/images/客家盐焗鸡.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">广东</div>
                        <div class="p-title-2">金融中心，美食天堂</div>
                        <div class="p-title-3">客家盐焗鸡，潮汕橄榄菜</div>
                    </div>
                    <div class="p-content">
                        <span>广东素有“美食天堂”之称，
                            截止2021年6月30号，广东现有国家级非遗项目 165 项，国家级代表性传承人 132 人。其中国家级食品类非遗项目4项。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-guangdong'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 3. 福建 -->
                <div class="province-item" style="display: none;" name="福建">
                    <div class="p-img">
                        <img src="/images/龙身凤尾虾.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">福建</div>
                        <div class="p-title-2">闽菜文化，美食天堂</div>
                        <div class="p-title-3">桂花蛤肉、红焖通心河鳗</div>
                    </div>
                    <div class="p-content">
                        <span>福建简称“闽”，凡具有福建烹饪特色的菜肴均可称“闽菜”。闽菜历史悠久，汉唐以来，伴随着中原汉人入闽，以汉唐文化为内涵，以福建水土、物产为基础而逐渐形成独具地方特色的福建饮食习俗，在此基础上，又博采各地烹饪技艺之精华，不断发展创新而成为格调高雅、馔法精致的一支菜系。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-fujian'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 4. 广西壮族自治区 -->
                <div class="province-item" style="display: none;" name="广西">
                    <div class="p-img">
                        <img src="/images/螺蛳粉.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">广西</div>
                        <div class="p-title-2">禽畜种类繁多，蔬果四时不断</div>
                        <div class="p-title-3">螺蛳粉，螺蛳鸭脚煲</div>
                    </div>
                    <div class="p-content">
                        <span>广西简称桂，位于中国南部，西南与越南接壤，南濒北部湾。广西是一个多民族自治区，除汉族外，主要聚居着壮、瑶、苗、侗、彝等十一个少数民族。广西地形复杂且地处亚热带，气温高雨量足，禽畜种类繁多，蔬果四时不断。平原地区的麻鸭、三黄鸡，滨海地区的海产品，还有环江菜牛、巴马香猪、廉州鱿鱼、桂林马蹄、荔浦芋头、贵县莲藕等许多驰名特产，为广西菜系的形成提供了扎实的物质基础。各民族依自己的风俗习惯和嗜好，创造出了多姿多彩、具有浓厚民族特色的传统食品。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-guangxi'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 5. 湖南省 -->
                <div class="province-item" style="display: none;" name="湖南">
                    <div class="p-img">
                        <img src="/images/酱板鸭.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">湖南</div>
                        <div class="p-title-2">无辣不欢，美食天堂</div>
                        <div class="p-title-3">长沙臭豆腐、剁椒鱼头</div>
                    </div>
                    <div class="p-content">
                        <span>湖南，属于湘菜系，是中国历史悠久的八大菜系之一，地理位置上，湘东南多为丘陵和盆地，农牧副渔都很发达。湘西多山，盛产笋、蕈和珍野味。早在2000多年前的西汉时期，长沙地区就能用兽、禽、鱼等多种原料，以蒸、熬、煮、炙等烹调方法，制作各种款式的佳肴，逐步形成了以湘江流域、洞庭湖区和湘西山区3种地方风味为主的湖南菜系。湘菜制作精细，用料上比较广泛，口味多变，品种繁多；色泽上油重色浓，讲求实惠；品味上注重香辣、香鲜、软嫩；制法上以煨、炖、腊、蒸、炒诸法见称。用料比较广泛，口味多变，品种繁多；色泽上油重色浓，讲求实惠；品味上注重香辣、香鲜、软嫩；制法上以煨、炖、腊、蒸、炒诸法见称</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-hunan'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 6. 贵州 -->
                <div class="province-item" style="display: none;" name="贵州">
                    <div class="p-img">
                        <img src="/images/遵义羊肉粉.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">贵州</div>
                        <div class="p-title-2">黔东南特色，美食天堂</div>
                        <div class="p-title-3">遵义羊肉粉、花溪牛肉粉</div>
                    </div>
                    <div class="p-content">
                        <span>贵州的风味小吃以"香辣"、"酸辣"著称，不仅辣香醇厚、味美可口，而且色泽艳丽、造型优美，包括贵阳肠旺面、遵义羊肉粉、花溪牛肉粉、都匀冲冲糕、毕节汤圆、贵州米豆腐、水城羊肉粉、兴义羊肉粉、务川仡佬油茶、安顺荞凉粉、镇宁波波糖等贵州著名小吃，其中，肠旺面、遵义羊肉粉、花溪牛肉粉、都匀冲冲糕、遵义豆花面、丝娃娃、贵州米豆腐等被评为贵州省的“中国地域十大名小吃”</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-guizhou'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 7. 云南 -->
                <div class="province-item" style="display: none;" name="云南">
                    <div class="p-img">
                        <img src="/images/过桥米线.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">云南</div>
                        <div class="p-title-2">野生菌王国</div>
                        <div class="p-title-3">过桥米线、烧饵块</div>
                    </div>
                    <div class="p-content">
                        <span>云南菜以擅长烹制山珍、淡水鱼鲜和蔬菜见长，具有鲜嫩回甜，酸辣微麻，　重油味厚的特点，适合云南多民族人民的口味，自成一格，多姿多彩的地理风貌和干湿分明的立体气候，极其有利于动植物的生长，得天独厚的原料，为烹饪提供了丰富的来源。滇菜由昆明汇集三个区域菜的风味名菜组成，滇东北地区，烹调方法和口味相似川菜，滇西南和滇西地区，少数民族众多，除具少数民族风味外，还受清真菜的影响，具寺院菜风味，滇南地区，是云南汉族菜发源地。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-yunnan'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 8. 浙江 -->
                <div class="province-item" style="display: none;" name="浙江">
                    <div class="p-img">
                        <img src="/images/金华火腿.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">浙江</div>
                        <div class="p-title-2">浙菜-八大菜系之一</div>
                        <div class="p-title-3">西湖藕粉、金华火腿</div>
                    </div>
                    <div class="p-content">
                        <span>浙江菜，简称浙菜，是中国汉族八大菜系之一 ，其地山清水秀，物产丰富，故谚曰：“上有天堂，下有苏杭”。浙江省位于我国东海之滨，北部水道成网，素有鱼米之乡之称。西南丘陵起伏，盛产山珍野味。东部沿海渔场密布，水产资源丰富，有经济鱼类和贝壳水产品500余种，总产值居全国之首，物产丰富，佳肴自美，特色独具，有口皆碑。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-zhejiang'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 9. 江苏 -->
                <div class="province-item" style="display: none;" name="江苏">
                    <div class="p-img">
                        <img src="/images/南京盐水鸭.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">江苏</div>
                        <div class="p-title-2">美食之都</div>
                        <div class="p-title-3">阳澄湖大闸蟹、南京盐水鸭</div>
                    </div>
                    <div class="p-content">
                        <span>江苏省是中国经济最发达的省份之一，2020年江苏省的GDP位居全国第二位，是个名副其实的有钱省。除此之外，江苏省还是中华民族传统文化的发源地之一，同时也是小吃美食的聚集地之一，是个闻名全国的美食之都。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-jiangsu'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 10. 安徽 -->
                <div class="province-item" style="display: none;" name="安徽">
                    <div class="p-img">
                        <img src="/images/黄山烧饼.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">安徽</div>
                        <div class="p-title-2">旅游胜地</div>
                        <div class="p-title-3">无为板鸭、黄山烧饼</div>
                    </div>
                    <div class="p-content">
                        <span>安徽，是一幅山水交织、立体起伏、自然天成的大美画卷。北方黄土地的气息，广袤的黄淮平原孕育出最早的华夏文明；南北过渡带的淮扬风韵，江淮之间的丘陵平原是四方人文交汇的舞台；梅雨氤氲的江南雅韵，长江以南的皖南山地，塑造着安徽独特的诗情画意。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-anhui'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 11. 湖北 -->
                <div class="province-item" style="display: none;" name="湖北">
                    <div class="p-img">
                        <img src="/images/周黑鸭.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">湖北</div>
                        <div class="p-title-2">过早文化，碳水天堂</div>
                        <div class="p-title-3">武汉周黑鸭、武汉热干面</div>
                    </div>
                    <div class="p-content">
                        <span>湖北位于中国中部偏南、长江中游，洞庭湖以北，故名湖北，湖北文化底蕴深厚，中华民族的始祖炎帝的故里在湖北。楚菜（又称鄂菜）是中国传统菜系之一。楚菜以烹制淡水鱼鲜技艺见长，以“味”为本，讲求鲜、嫩、柔、滑、爽，自成体系，被列为全国十大菜系之一。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-hubei'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 12. 四川 -->
                <div class="province-item" style="display:block;" name="四川">
                    <div class="p-img">
                        <img src="/images/麻辣兔头.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">四川</div>
                        <div class="p-title-2">天府之国，美食天堂</div>
                        <div class="p-title-3">川味香肠、麻辣兔头</div>
                    </div>
                    <div class="p-content">
                        <span>川菜是我国著名的地方菜之一，在我国烹饪历史上占有重要地位，它取材广泛，调味多变，菜式多样，口味清鲜，醇浓并重，以善用麻辣著称，并以其别具一格的烹调方法和浓郁的地方风味，享誉中外，成为中华民族饮食文化与文明史上一颗灿烂夺目的明珠。川菜与鲁菜、淮扬菜、粤菜并称中国的四大菜系。有“吃在中国，味在四川”的美誉。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-sichuan'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 13. 重庆市 -->
                <div class="province-item" style="display: none;" name="重庆">
                    <div class="p-img">
                        <img src="/images/重庆小面.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">重庆</div>
                        <div class="p-title-2">江湖菜，风景优美</div>
                        <div class="p-title-3">重庆小面、涪陵榨菜</div>
                    </div>
                    <div class="p-content">
                        <span>重庆是一座充满了热情的城市，重庆这座美丽的城市，吸引我们的不仅仅是美景而是它独具特色的饮食文化。重庆江湖菜是重庆市特色的饮食，具有浓厚的乡土气息。重庆菜属于川菜，是以 “麻、辣、鲜、嫩、烫”为重点。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-chongqing'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 14. 山东省 -->
                <div class="province-item" style="display: none;" name="山东">
                    <div class="p-img">
                        <img src="/images/东阿阿胶.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">山东</div>
                        <div class="p-title-2">物产丰饶</div>
                        <div class="p-title-3">东阿阿胶、德州扒鸡</div>
                    </div>
                    <div class="p-content">
                        <span>山东食俗有其鲜明的个性，其独具特色的饮食方式和烹调技艺，在中国饮食文化中占有很重要的位置，其中菜肴风味被誉为中国四大风味菜系之一。 山东日常饮食、节时习俗，有着深厚的文化底蕴。 山东古称齐鲁，是中华民族群构时期的策源地之一，史前期的仰韶文化、大汶口文化、龙山文化及齐家文化的沉积，夏、商、周三代的兴盛与文化的纵横积淀，使得北方饮食文化中的齐鲁饮食文化区获得了显著发展，并因此成为众多区域文化区中影响最大的文化区。 这里不仅有陆地所有的五谷蔬果、水陆杂陈，也有内陆极其匮乏的鱼盐及山珍海味。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-shandong'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 15. 河南 -->
                <div class="province-item" style="display: none;" name="河南">
                    <div class="p-img">
                        <img src="/images/胡辣汤.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">河南</div>
                        <div class="p-title-2">面食大省</div>
                        <div class="p-title-3">河南烩面、胡辣汤</div>
                    </div>
                    <div class="p-content">
                        <span>自古，得中原者得天下。因为河南占据着大部分的中原沃野，是华夏文明和中华文明的发源地，是华夏民族的摇篮，所以被视为天下的中心。经过几千年的传承与创新，河南的面食丰富多彩，喜爱面食的朋友可以大饱口福。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-henan'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 16. 陕西 -->
                <div class="province-item" style="display: none;" name="陕西">
                    <div class="p-img">
                        <img src="/images/biangbiang面.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">陕西</div>
                        <div class="p-title-2">面食大省</div>
                        <div class="p-title-3">陕西凉皮、biangbiang面</div>
                    </div>
                    <div class="p-content">
                        <span>陕西地区是中华文明的摇篮，随着历史的沉淀，陕西这块黄土地上，形成了自己特有的饮食文化，极具西北特色。陕西饮食文化因特殊地理环境、气候等影响，大致可分为陕北、关中、陕南3个流派，其中以关中饮食文化最为著名。关中位于陕西省中部，饮食相对简单，由于蔬菜少，面食多，形成了许多独具特色的面食类小吃美食。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-shanxi'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 17. 河北 -->
                <div class="province-item" style="display: none;" name="河北">
                    <div class="p-img">
                        <img src="/images/万里香烧鸡.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">河北</div>
                        <div class="p-title-2">地大物博，吃食繁多</div>
                        <div class="p-title-3">棋子烧饼、万里香烧鸡</div>
                    </div>
                    <div class="p-content">
                        <span>河北饮食文化历史悠久，农闲季节一日两餐，主食以面粉、杂粮为主，副食以猪、牛、羊肉，以及蛋、禽、菜、鱼为佳品菜肴。 口味偏咸，重油重色，与京津无大差异。 “杂”是河北饮食习俗的显著特点，具有五花八门的饮食习惯。 河北饮食文化，内蕴丰厚，历代都有所发明、创新，同时兼收并蓄国内其他地区的饮食文化，形成了丰富多彩、独具特色的饮食风格。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-hebei'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 18. 山西 -->
                <div class="province-item" style="display: none;" name="山西">
                    <div class="p-img">
                        <img src="/images/刀削面.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">山西</div>
                        <div class="p-title-2">地大物博，吃食繁多</div>
                        <div class="p-title-3">刀削面、平遥牛肉</div>
                    </div>
                    <div class="p-content">
                        <span>山西面食历史悠久，至少有2000多年的历史。以面条为例，东汉称之为“煮饼”；魏晋则名为“汤饼”；南北朝谓“水引”；而唐朝叫“冷淘”……。山西不仅面食种类繁多，其他的特色美食也同样让人目不暇接。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-shanxi2'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 19. 北京市 -->
                <div class="province-item" style="display: none;" name="北京">
                    <div class="p-img">
                        <img src="/images/北京烤鸭.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">北京</div>
                        <div class="p-title-2">中国首都</div>
                        <div class="p-title-3">北京烤鸭、炸酱面</div>
                    </div>
                    <div class="p-content">
                        <span>北京风味小吃有辉煌的历史，凡到过北京的人，说到吃，除了提及全聚德的烤鸭、都一处的烧麦外，都会对北京小吃颇感兴趣。北京小吃可分为汉民风味、回民风味和宫廷风味三种。在烹制方式上又有蒸、炸、煎、烙、爆、烤、涮、冲、煨、熬等各种作法，共计约有百余来种。有人将北京小吃比作千年都城史的“活化石”；著名作家舒乙先生以“小吃大艺”四个字，言简意赅地概括了北京小吃的内涵。有段歌词中唱到“北京小吃九十九，样样叫你吃不够”。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-beijing'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 20. 天津市 -->
                <div class="province-item" style="display: none;" name="天津">
                    <div class="p-img">
                        <img src="/images/煎饼果子.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">天津</div>
                        <div class="p-title-2">回民美食，民国风情</div>
                        <div class="p-title-3">桂发祥麻花，煎饼果子</div>
                    </div>
                    <div class="p-content">
                        <span>天津的饮食文化驰名中外，不少到天津旅游的人都是奔着吃去的。那里既有登得大雅之堂的天津菜，也有众多风味独具的津门特色小吃。天津是退海之地，古有九河下梢之说，盛产鱼、虾、蟹，民间素有“吃鱼吃吓，天津为家”的说法。“八大碗”、“四大扒”、冬令四珍等筵席必备菜品，盛菜多用大碗大盘，鱼、肉更是大快朵颐，虽精致不比南方菜讲究，但份量十足，味道浓重，自有几分酣畅的豪爽之气。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-tianjing'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 21. 甘肃省 -->
                <div class="province-item" style="display: none;" name="甘肃">
                    <div class="p-img">
                        <img src="/images/羊肉泡馍.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">甘肃</div>
                        <div class="p-title-2">美食天堂</div>
                        <div class="p-title-3">兰州牛肉拉面、羊肉泡馍</div>
                    </div>
                    <div class="p-content">
                        <span>甘肃是农耕文化的发源地之一，这里汇聚了延续千年、独具风味的特色美食，形成以面制品、肉制品和奶制品为主的美食特点，有兰州牛肉面、临夏手抓羊肉、白银酸烂肉、甘南藏包子、 天水暖锅、陇南洋芋搅团、陇西腊肉、静宁烧鸡、庆阳荞麦饸饹面、嘉峪关烤肉、敦煌驴肉黄面、大漠风情宴、金昌饺子宴、张掖腊羊肉、武威“三套车” 等冬春季暖心美食。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-gansu'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 22. 宁夏回族自治区 -->
                <div class="province-item" style="display: none;" name="宁夏">
                    <div class="p-img">
                        <img src="/images/羊杂碎.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">宁夏</div>
                        <div class="p-title-2">清真美食</div>
                        <div class="p-title-3">羊杂碎、手抓羊肉</div>
                    </div>
                    <div class="p-content">
                        <span>宁夏是我国最大的回族聚居地，在饮食文化上受伊斯兰饮食影响很深。因伊斯兰教在我国历史亦称清真教，故回族食品称清真食品。通常除清真菜系外，主要指清真蛋糕，月饼，饼干，芝麻酥饼，夹心面包，清真牛、羊、鸡、兔、鱼肉罐头，肉干以及豆制品，奶制品，糖果及面食等。传统面点如油香、麻花、馓子、油糕、干粮馍、糖酥馍、锅盔、馄馍、千层饼等，以炸、烙、烤、蒸见长，具有咸甜酥脆软、色泽分明等特点。回族饮食已成为一个品种繁多，技法精湛，口味多样，风味独特的庞大饮食体系，可以说是中国清真饮食的代表，在我国食坛上，具有举足轻重的地位。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-ningxia'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 23. 青海省 -->
                <div class="province-item" style="display: none;" name="青海">
                    <div class="p-img">
                        <img src="/images/酥油糌粑.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">青海</div>
                        <div class="p-title-2">美食天堂</div>
                        <div class="p-title-3">羊肉炒面片、酥油糌粑</div>
                    </div>
                    <div class="p-content">
                        <span>青海省约80%面积属草原，其余部分是东部的农业区与半农半牧区，有牦牛、藏羊、湟鱼、冬虫夏草等土特产及众多野畜、野禽和蔬菜瓜果。青海烹饪，农业区和半农半牧区以汉族和回族风味为主，两者互相影响，在烹制技法和调味上交错融汇，并吸取了牧区业藏族风味体系的烹调特点，构成青海菜风味的主体，在一定程度上受清真菜的影响更大。但是又有一些区别。制作技法粗放为多，在原料上以牛羊肉和土特产品为主体,采用炒、烧、烤、蒸、煮、炖等烹调方法,以酸辣、醇香、酥脆为口味特征,形成了自己独具高原民族特色的、千姿百态的饮食体系。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-qinghai'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 24. 西藏自治区 -->
                <div class="province-item" style="display: none;" name="西藏">
                    <div class="p-img">
                        <img src="/images/风干牦牛肉.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">西藏</div>
                        <div class="p-title-2">美食天堂</div>
                        <div class="p-title-3">风干牦牛肉、酥油茶</div>
                    </div>
                    <div class="p-content">
                        <span>藏族饮食文化具有悠久的历史。据史料记载，早在公元一世纪前后西藏就已经开发灌溉农田，并开始将牧地和农田合为一片，这些农田和牧地为王室和平民提供了丰富的糌粑和酥油。此后湖盐的发现和茶叶、瓷碗从中原的引进，更是丰富了藏族的饮食文化。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-xizang'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 25. 新疆维吾尔自治区 -->
                <div class="province-item" style="display: none;" name="新疆">
                    <div class="p-img">
                        <img src="/images/大盘鸡.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">新疆</div>
                        <div class="p-title-2">金融中心，美食天堂</div>
                        <div class="p-title-3">烤包子、大盘鸡</div>
                    </div>
                    <div class="p-content">
                        <span>新疆绿洲面积十分广阔，在这个广阔大草原上聚集着众多的少数民族，各种文化在这里相互交融，相互学习，形成了这里具有多民族特色的饮食文化。几千年的演变发展，改变了新疆当地人们的饮食结构，而作为中华饮食文化中的一部分，新疆饮食文化的影响也在逐渐加深。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-xingjiang'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 26. 内蒙古自治区 -->
                <div class="province-item" style="display: none;" name="内蒙古">
                    <div class="p-img">
                        <img src="/images/手把肉.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">内蒙古</div>
                        <div class="p-title-2">蒙元文化，肉食者天堂</div>
                        <div class="p-title-3">蒙古烤肉、烤全羊、手把肉</div>
                    </div>
                    <div class="p-content">
                        <span>蒙餐作为极具地方特色的餐饮，是北方餐饮的浓缩之一，吸纳了地域特点、气候特点、文化特点。蒙古饮食不仅造就了其强悍刚健的体魄，而且是其粗犷豪放的民族性格的体现。并形成了独特的蒙古族饮食文化个中的奥妙让国内外的美食家大为叹服，被誉为中国第九大菜系！蒙餐受欢迎的原因，一是独特的风味二是蕴涵的蒙元文化，最重要的是自己独特风格的工艺。这是根本。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-neimenggu'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 27. 辽宁 -->
                <div class="province-item" style="display: none;" name="辽宁">
                    <div class="p-img">
                        <img src="/images/酸菜汆白肉.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">辽宁</div>
                        <div class="p-title-2">美食天堂</div>
                        <div class="p-title-3">小鸡炖蘑菇、酸菜汆白肉</div>
                    </div>
                    <div class="p-content">
                        <span>辽菜是根据辽宁内陆地区民族特点、区域特点、饮食习俗、烹饪技法创建的一种地方菜系。辽菜历史源远流长，它的形成与辽宁内陆的政治、历史、地理、民族、文化、风俗、资源及经济发展的因素有密切联系。辽菜是利用辽宁内陆产的绿色食品原料和特有的烹饪工艺，并结合辽宁内陆地区各民族饮食文化和习俗形成的独特菜系。清朝宫廷菜、王（官）府菜、市井菜、民俗菜、民族菜构成辽菜的基本框架。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-liaoning'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 28. 海南 -->
                <div class="province-item" style="display: none;" name="海南">
                    <div class="p-img">
                        <img src="/images/椰子鸡.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">海南</div>
                        <div class="p-title-2">热带风情，美食天堂</div>
                        <div class="p-title-3">椰子鸡、牛尾煲</div>
                    </div>
                    <div class="p-content">
                        <span>海南倚其得天独厚的自然资源优势，盛产许多奇特罕见的山珍海味。在海南吃山珍海味，以清淡鲜活、原汁原味取胜。文昌鸡、加积鸭、东山羊、和乐蟹是海南四大名菜，另有临高乳猪、石山壅羊、曲口海鲜和“三亚三绝”全岛有名。鱼类肉嫩味鲜，为宴席首选；各种虾如基围虾、对虾、龙虾及各种贝类如鲍鱼、扇贝、鸡腿螺、剪刀贝等也是必食之珍，燕窝滋补养人；蛇、龟、果子狸美味可口，这些一起构成了海南名吃的大景观。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-hainan'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 29. 台湾 -->
                <div class="province-item" style="display: none;" name="台湾">
                    <div class="p-img">
                        <img src="/images/蚵仔煎.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">台湾</div>
                        <div class="p-title-2">美食天堂</div>
                        <div class="p-title-3">蚵仔煎、凤梨酥</div>
                    </div>
                    <div class="p-content">
                        <span>台湾饮食文化以福建闽南饮食文化为主，但又结合了中国大陆各地的饮食文化特点，形成丰富多彩的饮食文化。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-taiwan'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 30. 吉林 -->
                <div class="province-item" style="display: none;" name="吉林">
                    <div class="p-img">
                        <img src="/images/李连贵熏肉大饼.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">吉林</div>
                        <div class="p-title-2">美食天堂</div>
                        <div class="p-title-3">李连贵熏肉大饼、延吉冷面</div>
                    </div>
                    <div class="p-content">
                        <span>吉林省位于辽宁省和黑龙江省之间的长白山地区。3000多年前，满族的祖先苏珊人住在这里。过去在这个人口稀少的地区，人们主要从事捕鱼和狩猎。当封建社会即将结束时，河北，山东，山西和河南的百姓为了逃荒前往东北地区，想要过上更好的生活于是就来到了这里。其中，山东人口的数量排名第一。由于经济的发展和清代遗留道路条件的改善，满族，蒙古族文化和山东菜系对吉林的烹饪文化产生了重大影响。在此基础上，形成了具有地方特色的吉林菜。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-jilin'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
                <!-- 31. 黑龙江 -->
                <div class="province-item" style="display: none;" name="黑龙江">
                    <div class="p-img">
                        <img src="/images/锅包肉.jpg" alt="">
                    </div>
                    <div class="p-title">
                        <div class="p-title-1">黑龙江</div>
                        <div class="p-title-2">金融中心，美食天堂</div>
                        <div class="p-title-3">哈尔滨红肠、杀猪菜、锅包肉</div>
                    </div>
                    <div class="p-content">
                        <span>黑龙江人大部分为山东移民的后代，山东人带来了齐鲁文化，包括鲁菜。又有土著的满洲饮食文化和部分俄罗斯饮食文化。三种饮食文化交汇、融合，逐步形成了独具特色的黑龙江饮食文化。</span>
                    </div>
                    <div class="p-btn" onclick="location.href='/spe-heilongjiang'">
                        <div>
                            <svg t="1680333052741" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5898" width="16" height="16"><path d="M835.584 63.488q26.624 0 49.664 10.24t40.448 27.648 27.648 40.448 10.24 49.664l0 641.024q0 26.624-10.24 49.664t-27.648 40.448-40.448 27.648-49.664 10.24l-448.512 0q-26.624 0-49.664-10.24t-40.448-27.648-27.648-40.448-10.24-49.664l0-192.512 128 0 0 192.512 448.512 0 0-641.024-448.512 0 0 192.512-128 0 0-192.512q0-26.624 10.24-49.664t27.648-40.448 40.448-27.648 49.664-10.24l448.512 0zM513.024 614.4q0-19.456-9.728-28.672t-24.064-9.216l-378.88 0q-14.336 0-25.088-7.68t-10.752-26.112l0-52.224q0-29.696 9.216-37.376t35.84-7.68l31.744 0q24.576 0 58.368 0.512t73.728 1.024 77.312 1.024 69.12 0.512l51.2 0q22.528 0 32.256-16.384t9.728-35.84l0-49.152q0-20.48 8.704-25.6t26.112 9.216 47.104 32.768 61.952 37.888 62.976 38.4 49.152 34.304q14.336 11.264 14.336 30.72t-11.264 28.672q-16.384 14.336-44.544 32.256t-59.392 36.864-60.928 37.376-48.128 33.792q-23.552 19.456-34.816 19.968t-11.264-30.208l0-49.152z" p-id="5899" fill="#ffffff"></path></svg>
                        </div>
                        <span>查看专题</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main部分-end -->

    <!-- 引入js -->
    <!-- <script>
        // 1. 获取绘制容器的dom对象
        const dom = document.querySelector('.m-left')
        // 2. 创建echarts实例对象
        const instance = echarts.init(dom,'light')

        fetch('/api/china.json')
        .then(response=>response.json())
        .then(res=>{
            // console.log(res)
            // 3. 注册地图
            echarts.registerMap('china',res)
            // 4. 准备配置对象
            const options = {
                geo:{
                    map:'china',
                    zoom:1.5, // 缩放
                    roam:false, // 拖拽
                    center:[104,34], // 设置地图中心点位置
                    label: {
                            normal: { //静态的时候展示样式
                                show: false, //是否显示地图省份得名称
                                textStyle: {
                                    color: "brown",
                                    fontSize: 10,
                                    fontFamily: "Arial"
                                }
                            },
                            emphasis: { //动态展示的样式
                                color:'#fff',
                            },
                        },
                },
                // 地图颜色
                itemStyle:{
                    areaColor:'rgba(237, 229, 229, 0.952)'
                }, 
                // 鼠标hover的颜色
                emphasis:{
                    itemStyle:{
                        areaColor:'brown',
                    },
                    color:'white'
                }
            }
            // 5. 设置配置对象，绘制地图
            instance.setOption(options)

            // 6. 注册hover(mouseover)事件
            var provinceItem = document.querySelectorAll('.m-right > .province-item')

            instance.on('click',(e)=>{
                // console.log(e.name)
                provinceItem.forEach((item,index)=>{
                    if(e.name == item.getAttribute('name')){
                        provinceItem.forEach((t,i)=>{
                            t.style.display = 'none'
                        })
                        item.style.display = 'block'
                    }
                })
            })
        })
    </script> -->
    <script src="/js/specialty.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>