<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/videoPlay.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body> 
    <!-- 头部部分 -->
    <div class="header">
        <div class="header-banner">
            <div class="city">
                <img src="/images/logo(1).jpg" alt="">
            </div>
            <!-- 搜索框部分 -->
            <div class="search">
                <form class="search-form" onsubmit="return false;">
                    <input class="search-input" type="text" placeholder="特色美食" onkeydown="enterSearch(event)">
                    <img class="search-clear" src="/images/clear.png" alt="">
                </form>
                <div class="search-btn">
                    <img src="/images/search.png"></img>
                </div>
                <div class="search-helper"></div>
            </div>

            <ul class="self">
                <li class="self-header">
                    <img src="" id="headerImg">
                </li>
                <li class="self-icon" id="my">
                    <svg t="1671632148917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3725" width="24" height="24"><path d="M512 120c216.1 0 392 175.9 392 392S728.1 904 512 904 120 728.1 120 512s175.9-392 392-392m0-56C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64z" p-id="3726" fill="#18191C"></path><path d="M512 288c72.6 0 131.7 58.7 131.7 130.9 0 45.9-24.2 87.7-64.6 111.8-18.2 10.8-28.7 30.9-27.3 52 1.5 21.1 14.7 39.6 34.2 47.8 76.6 32.2 132.2 111.2 146.9 205.8-65.4 44.4-141.3 67.7-221.2 67.7-79.7 0-155.3-23.2-220.7-67.5 14.6-94.8 70.2-173.9 146.9-206.1 19.5-8.2 32.7-26.7 34.2-47.8 1.5-21.1-9.1-41.2-27.3-52-40.5-24.1-64.6-65.8-64.6-111.8 0.1-72.1 59.2-130.8 131.8-130.8m0-56c-103.7 0-187.7 83.7-187.7 186.9 0 68.2 37.1 127.3 92 159.9-102.2 43-176.2 152.7-184.3 283.8 76.8 60.8 173.9 97.4 279.7 97.4 106 0 203.3-36.7 280.3-97.8-8.2-130.9-82.1-240.5-184.3-283.4 54.9-32.6 92-91.7 92-159.9 0.1-103.2-84-186.9-187.7-186.9z" p-id="3727" fill="#18191C"></path></svg>
                </li>
                <li class="self-icon" id="message">
                    <svg t="1671611418926" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="24" height="24"><path d="M821.333333 800H547.584l-86.464 96.074667a32 32 0 1 1-47.573333-42.816l96-106.666667A32 32 0 0 1 533.333333 736h288a53.333333 53.333333 0 0 0 53.333334-53.333333V234.666667a53.333333 53.333333 0 0 0-53.333334-53.333334H202.666667a53.333333 53.333333 0 0 0-53.333334 53.333334v448a53.333333 53.333333 0 0 0 53.333334 53.333333h138.666666a32 32 0 0 1 0 64H202.666667c-64.8 0-117.333333-52.533333-117.333334-117.333333V234.666667c0-64.8 52.533333-117.333333 117.333334-117.333334h618.666666c64.8 0 117.333333 52.533333 117.333334 117.333334v448c0 64.8-52.533333 117.333333-117.333334 117.333333zM704 341.333333a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h384zM512 512a32 32 0 0 1 0 64H320a32 32 0 0 1 0-64h192z" fill="#18191C" p-id="3446"></path></svg>
                </li>
                <li class="self-icon" id="collect">
                    <svg t="1671611338583" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3243" width="24" height="24"><path d="M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24zM551.786667 756.032l170.976 106.24c2.624 1.621333 5.717333 2.122667 8.650666 1.408 6.410667-1.557333 10.56-8.426667 8.928-15.424l-46.485333-198.24a77.141333 77.141333 0 0 1 24.277333-75.733333L870.293333 441.706667c2.485333-2.165333 4.053333-5.312 4.330667-8.746667 0.565333-7.136-4.490667-13.173333-10.976-13.696l-199.712-16.288a75.989333 75.989333 0 0 1-64.064-47.168l-76.938667-188.16a12.309333 12.309333 0 0 0-6.538666-6.741333c-5.898667-2.496-12.725333 0.373333-15.328 6.741333l-76.949334 188.16a75.989333 75.989333 0 0 1-64.064 47.168l-199.701333 16.288a11.68 11.68 0 0 0-7.978667 4.181333 13.226667 13.226667 0 0 0 1.333334 18.261334l152.16 132.586666a77.141333 77.141333 0 0 1 24.277333 75.733334l-46.485333 198.229333a13.333333 13.333333 0 0 0 1.514666 9.877333c3.488 5.792 10.581333 7.530667 16.064 4.128l170.986667-106.229333a75.296 75.296 0 0 1 79.562667 0z" fill="#18191C" p-id="3244"></path></svg>
                </li>
                <li class="self-icon" id="dynamic">
                    <svg t="1671611269097" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="24" height="24"><path d="M177.738667 652.949333A364.074667 364.074667 0 0 0 331.306667 826.517333v-310.826666L192.490667 645.152c-4.298667 4.010667-9.397333 6.613333-14.752 7.808z m-19.989334-62.922666l209.706667-195.562667H170.666667c-0.618667 0-1.237333-0.010667-1.845334-0.053333A362.186667 362.186667 0 0 0 149.333333 512c0 26.784 2.901333 52.906667 8.416 78.026667z m302.08-195.562667a32.064 32.064 0 0 1-5.152 6.186667l-62.112 57.909333c1.76 3.957333 2.730667 8.341333 2.730667 12.949333v79.541334c3.584 1.642667 6.912 3.978667 9.802667 7.008l67.573333 70.848h90.570667l68.298666-72.938667v-95.872l-68.181333-66.826667c-2.773333 0.778667-5.685333 1.194667-8.693333 1.194667h-94.837334zM395.232 855.466667A362.218667 362.218667 0 0 0 512 874.666667c32.768 0 64.522667-4.341333 94.72-12.490667l-211.413333-221.653333V853.333333c0 0.714667-0.032 1.418667-0.074667 2.133334z m275.466667-17.269334a364.266667 364.266667 0 0 0 155.690666-145.28H533.706667l131.946666 138.346667c2.026667 2.133333 3.712 4.469333 5.045334 6.933333z m184.693333-209.216A362.208 362.208 0 0 0 874.666667 512c0-36.661333-5.44-72.053333-15.552-105.408L650.912 628.906667H853.333333c0.693333 0 1.376 0.021333 2.058667 0.064zM197.962667 330.464h301.312l-139.733334-136.938667a31.978667 31.978667 0 0 1-5.898666-7.893333A364.266667 364.266667 0 0 0 197.973333 330.474667z m220.373333-168.917333l213.205333 208.938666v-195.2c0-1.92 0.170667-3.786667 0.490667-5.621333A362.112 362.112 0 0 0 512 149.333333c-32.384 0-63.786667 4.245333-93.653333 12.213334zM695.552 446.613333V487.637333l134.432-143.573333c0.746667-0.8 1.546667-1.557333 2.346667-2.261333a364.373333 364.373333 0 0 0-136.778667-142.666667v247.488zM512 938.666667C276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667-191.029333 426.666667-426.666667 426.666667z" fill="#18191C" p-id="3042"></path></svg>
                <li class="self-icon" id="hist">
                    <svg t="1671611187266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2839" width="24" height="24"><path d="M822.496 473.152l52.053333 29.290667C869.461333 306.56 709.098667 149.333333 512 149.333333c-200.298667 0-362.666667 162.368-362.666667 362.666667s162.368 362.666667 362.666667 362.666667c122.538667 0 234.645333-61.194667 301.578667-161.152a32 32 0 1 1 53.173333 35.616C788.064 866.634667 656.117333 938.666667 512 938.666667 276.362667 938.666667 85.333333 747.637333 85.333333 512S276.362667 85.333333 512 85.333333s426.666667 191.029333 426.666667 426.666667c0 10.954667-0.853333 26.357333-2.517334 46.528-1.930667 23.242667-27.274667 36.682667-47.594666 25.248l-97.450667-54.848a32 32 0 1 1 31.392-55.786667z m-493.12 176.213333L480 498.762667V320a32 32 0 0 1 64 0v192a32 32 0 0 1-9.376 22.624l-160 160a32 32 0 1 1-45.248-45.248z" fill="#18191C" p-id="2840"></path></svg>
                </li>
                <li class="self-email" id="upVideo">
                    <svg t="1671612140813" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6264" width="32" height="32"><path d="M886.417765 49.656981L82.836669 43.491205l47.220822-37.596197A25.866183 25.866183 0 0 1 146.299048 0.030002H936.571091a8.271163 8.271163 0 0 1 5.413852 15.038478z" fill="#E57FC0" p-id="6265"></path><path d="M934.240127 937.378364l-60.153914 75.192392L870.627363 52.664676l60.98103-50.754864a8.271163 8.271163 0 0 1 13.459438 6.466545l-4.73712 909.827947a33.460615 33.460615 0 0 1-6.090584 19.17406z" fill="#D672AD" p-id="6266"></path><path d="M64.339341 36.573504m37.596196 0l745.306992 0q37.596196 0 37.596196 37.596197l0 912.234103q0 37.596196-37.596196 37.596196l-745.306992 0q-37.596196 0-37.596196-37.596196l0-912.234103q0-37.596196 37.596196-37.596197Z" fill="#EA8EBC" p-id="6267"></path><path d="M415.863774 488.329397h-27.219646l27.219646-34.738885V406.06892h-22.557717v-20.903485h22.557717v-12.857899h26.918877v12.857899h23.384834V406.06892h-23.384834v18.046174h29.024263l-29.024263 37.596196v41.280624a21.354639 21.354639 0 0 1-1.87981 9.023087 24.21195 24.21195 0 0 1-5.03789 7.519239 23.535219 23.535219 0 0 1-7.519239 4.962698 22.557718 22.557718 0 0 1-8.872703 1.804617h-21.730601l7.970394-18.121366h3.609234a5.940199 5.940199 0 0 0 4.586736-2.030195 6.466546 6.466546 0 0 0 1.955002-4.73712z m51.356404 17.519828l16.843096-6.767316q8.045586-3.15808 15.038479-6.767315a172.942502 172.942502 0 0 1-15.489633-13.008284 96.095877 96.095877 0 0 1-12.933092-15.564825h26.542915a140.309004 140.309004 0 0 0 10.978089 9.549434c3.609235 2.857311 7.519239 5.489045 11.128474 7.895201a141.060928 141.060928 0 0 0 14.211362-10.226165 127.225528 127.225528 0 0 0 13.609823-12.933092h-79.703935V439.905497h104.818194v18.121366a99.404343 99.404343 0 0 1-14.286554 18.948483 133.842458 133.842458 0 0 1-17.895789 15.038479c5.03789 2.406157 10.150973 4.737121 15.038478 6.842507s10.902897 4.436351 16.767904 6.692123V526.376748c-8.722318-2.782119-17.519827-5.940199-26.39253-9.323857a232.494877 232.494877 0 0 1-26.016568-11.95559 238.88623 238.88623 0 0 1-26.016568 11.95559c-8.947895 3.383658-17.820597 6.541738-26.618107 9.323857z m0.375962-70.530464l6.541739-13.685016v-48.047938H560.60913v39.400813a6.466546 6.466546 0 0 0 6.692123 6.692123h4.661928l-7.519239 15.640018h-5.413853a23.084064 23.084064 0 0 1-9.098279-1.804618 23.535219 23.535219 0 0 1-7.519239-4.962698 22.557718 22.557718 0 0 1-6.692123-16.241556V391.030442h-36.543503v30.076957L492.935977 435.318761zM407.442227 610.216265V592.546053l-19.7756 1.052694v-18.121367l64.214303-3.15808v18.121366l-19.098867 0.827116v18.948483h19.324445v18.121367H432.782063v95.193568h-25.339836V628.337632H387.666627v-18.121367z m-19.399638 113.314935l3.609235-88.050291h15.038479L402.705106 723.5312z m64.815843 0h-15.038479l-3.609235-88.050291h15.038479zM544.292381 646.684575h28.798686v54.514485a20.7531 20.7531 0 0 1-1.87981 8.947895 24.061566 24.061566 0 0 1-5.03789 7.519239 24.738297 24.738297 0 0 1-7.51924 4.887505 23.911181 23.911181 0 0 1-8.872702 1.729425H530.532173l5.263467-14.286554h2.255772a6.090584 6.090584 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.955002-4.887506v-42.032547H485.416737v62.484878h-29.174648V646.684575z m25.866182-49.702171H459.174592v-14.737709h37.596197L492.935977 572.093722h33.836576l4.887506 10.150973h38.498504zM463.610944 605.629529V601.56914h102.111268v17.29425a21.880986 21.880986 0 0 1-1.804617 8.947895 22.557718 22.557718 0 0 1-4.887506 7.519239 22.557718 22.557718 0 0 1-7.519239 4.887506 22.557718 22.557718 0 0 1-8.872702 1.804617H463.610944v-36.393118z m46.092936 103.314347h-21.05387v-39.325621h52.033136v18.271751a20.828293 20.828293 0 0 1-21.05387 21.05387zM537.073911 616.607619h-45.115436v10.752512H530.532173a6.165776 6.165776 0 0 0 4.586736-1.87981 6.541738 6.541738 0 0 0 1.879809-4.887506z m-27.370031 67.673153v9.850203a8.571933 8.571933 0 0 0 3.082888-0.601539 18.346944 18.346944 0 0 0 3.233273-1.503848 9.624626 9.624626 0 0 0 2.556541-1.955002 3.684427 3.684427 0 0 0 1.052694-2.406157V684.280772zM434.135526 770.601638l-2.932503 5.940199h47.596784v14.286555h-16.617519l9.248664 15.038478h-27.144453l-9.323857-15.038478h-10.902897l-6.992892 14.361746h-29.024264l17.068673-34.5885z m-46.092937 49.927748h31.580805v-7.970393h26.768492v7.970393H477.897498v17.294251h-31.505612v84.365864h-26.768492v-84.365864h-31.580805z m0 101.660115l6.767316-77.222587h20.828292l-6.767315 77.222587z m89.478947 0h-20.602715l-6.767316-77.222587h20.828293z m94.967992-131.361109h-16.617519l9.248664 15.038478H538.051412l-9.323857-15.038478H517.749466l-6.992892 14.361746h-29.024264l17.068673-34.5885h29.024264l-2.932504 5.940199h47.596785z m-26.542915 29.24984h26.918877v82.711632a19.775599 19.775599 0 0 1-1.428656 7.519239 19.399637 19.399637 0 0 1-3.985197 6.165776 18.87329 18.87329 0 0 1-6.015391 4.210774 16.391942 16.391942 0 0 1-7.519239 1.57904h-71.132003v-102.186461h63.161609z m0 18.121367h-36.242733v9.925395h36.242733z m0 28.046762h-36.242733v10.075781h36.242733z m0 28.197147h-36.242733v9.925396h33.31023q2.932503 0 2.932503-3.383658z" fill="#E1F9FF" p-id="6268"></path><path d="M148.329243 150.414786a32.859075 32.859075 0 0 0 32.859075 32.859076h47.4464l-69.628156-56.920641a32.558306 32.558306 0 0 0-10.677319 24.061565z" fill="#C6589A" p-id="6269"></path><path d="M767.989748 117.85648h-586.50066a32.633498 32.633498 0 0 0-22.181756 8.79751l69.628155 56.920641h539.054261a32.859075 32.859075 0 1 0 0-65.718151z" fill="#AF357E" p-id="6270"></path><path d="M64.339341 261.097988h820.499384v26.467722H64.339341z" fill="#CC609B" p-id="6271"></path><path d="M764.230128 570.43949m-62.184108 0a62.184108 62.184108 0 1 0 124.368216 0 62.184108 62.184108 0 1 0-124.368216 0Z" fill="#FCE8FA" p-id="6272"></path><path d="M764.230128 570.43949m-51.807558 0a51.807558 51.807558 0 1 0 103.615116 0 51.807558 51.807558 0 1 0-103.615116 0Z" fill="#CCC2CA" p-id="6273"></path><path d="M753.92877 539.385032m10.37655 0l0 0q10.37655 0 10.376551 10.37655l0 41.431008q0 10.37655-10.376551 10.37655l0 0q-10.37655 0-10.37655-10.37655l0-41.431008q0-10.37655 10.37655-10.37655Z" fill="#393A3A" p-id="6274"></path></svg>
                </li>
            </ul>
        </div>
    </div>

    <!-- 主要身体部分 -->
    <div class="main">
        <div class="left-container">
            <div class="video-report">
                <h1 class="video-title"></h1>
                <div class="video-data">
                    <span title="总播放数">
                        <svg t="1671804381605" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2456" width="18" height="18"><path d="M85.333333 170.368A42.666667 42.666667 0 0 1 127.658667 128h768.682666C919.722667 128 938.666667 146.986667 938.666667 170.368v683.264A42.666667 42.666667 0 0 1 896.341333 896H127.658667A42.368 42.368 0 0 1 85.333333 853.632V170.368zM170.666667 213.333333v597.333334h682.666666V213.333333H170.666667z m282.538666 145.706667l208.170667 138.752a17.066667 17.066667 0 0 1 0 28.416l-208.213333 138.752A17.066667 17.066667 0 0 1 426.666667 650.794667V373.205333a17.066667 17.066667 0 0 1 26.538666-14.165333z" fill="#9499a0" p-id="2457"></path></svg>
                        <div class="playNum">200.4万</div>
                    </span>
                    <span title="发布时间">
                        <svg t="1671804424562" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3528" width="18" height="18"><path d="M512 70.4a441.6 441.6 0 1 0 0 883.2 441.6 441.6 0 0 0 0-883.2z m0 64a377.6 377.6 0 1 1 0 755.2 377.6 377.6 0 0 1 0-755.2z" fill="#9499a0" p-id="3529"></path><path d="M544 480V256a32 32 0 1 0-64 0v230.4c0 31.7952 25.8048 57.6 57.6 57.6H768a32 32 0 1 0 0-64h-224z" fill="#9499a0" p-id="3530"></path></svg>
                        <div class="time"></div>
                    </span>
                    <span title="未经作者授权，禁止转载">
                        <svg t="1671804480162" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4521" width="18" height="18"><path d="M828.32 828.32a448 448 0 1 1 0-633.6 448 448 0 0 1 0 633.6z m-565.76-67.84a352.288 352.288 0 0 0 463.68 29.76L232.8 296.8a352.288 352.288 0 0 0 29.76 463.68z m497.92-497.92a352.288 352.288 0 0 0-463.68-29.76l493.44 493.44a352.288 352.288 0 0 0-29.76-463.68z" fill="#d81e06" p-id="4522"></path></svg>
                        未经作者授权，禁止转载
                    </span>
                </div>
            </div>
            <!-- video播放区域 -->
            <div class="player-wrap">
                <video src="/images/毛不易 - 尘海.mkv" controls poster></video>
            </div>
             <!-- 点赞、收藏、转发区域开始 -->
            <div class="video-toolbar">
                <div class="toolbar-left">
                    <span title="点赞" class="like">
                        <svg t="1671869600200" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2720" width="23" height="23"><path d="M64 483.04V872c0 37.216 30.144 67.36 67.36 67.36H192V416.32l-60.64-0.64A67.36 67.36 0 0 0 64 483.04zM857.28 344.992l-267.808 1.696c12.576-44.256 18.944-83.584 18.944-118.208 0-78.56-68.832-155.488-137.568-145.504-60.608 8.8-67.264 61.184-67.264 126.816v59.264c0 76.064-63.84 140.864-137.856 148L256 416.96v522.4h527.552a102.72 102.72 0 0 0 100.928-83.584l73.728-388.96a102.72 102.72 0 0 0-100.928-121.824z" p-id="2721" fill="#61666d" id="good"></path></svg>
                        <span class="info-text" id="goodsNumber">4517</span>
                    </span>
                    <span title="收藏" class="collect">
                        <svg t="1671869703362" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3741" width="23" height="23"><path d="M284.458667 941.397333c-36.437333 15.637333-68.48-7.68-64.896-47.168l22.613333-248.917333-164.394667-188.053333c-26.069333-29.824-13.653333-67.562667 24.789334-76.309334l243.370666-55.381333 127.786667-214.677333c20.288-34.090667 59.946667-34.069333 80.213333 0l127.786667 214.677333 243.370667 55.381333c38.656 8.789333 50.858667 46.485333 24.789333 76.309334l-164.394667 188.053333 22.741334 249.002667c3.605333 39.509333-28.458667 62.805333-64.896 47.146666l-229.504-98.517333-229.376 98.453333z" fill="#61666d" p-id="3742" id="collect1"></path></svg>
                        <span class="info-text" id="collectNumber">341</span>
                    </span>
                    <span title="转发" class="share-wrap">
                        <svg t="1671869777983" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4780" width="23" height="23"><path d="M583.797029 902.197638l415.061333-422.6048-415.061333-422.6048 0 237.714286C342.308571 294.697448 36.673829 407.89821 36.673829 955.02141c98.104076-332.049067 516.939581-298.0864 547.1232-298.0864L583.797029 902.197638 583.797029 902.197638z" fill="#61666d" p-id="4781"></path></svg>
                        <span class="info-text">202</span>
                    </span>
                </div>
                <div class="toolbar-right">
                    <div class="manuscript">
                        <svg t="1671870927287" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1363" width="21" height="21"><path d="M514.7 772.59c-23.23 0-39.37-16.78-39.37-41.3 0-23.23 16.13-41.3 39.37-41.3 23.23 0 40.66 18.07 40.66 41.3 0 24.52-17.43 41.3-40.66 41.3z m-0.64-437.54c17.42 0 36.78 3.87 37.43 21.94 0 6.45-0.65 15.49-1.94 25.17-4.52 49.69-17.42 165.85-22.59 242.65H501.8c-5.81-76.8-17.42-189.73-22.59-242-0.65-8.39-1.94-20.01-1.94-26.46 0-16.78 18.72-21.3 36.79-21.3z" p-id="1364" fill="#61666d"></path><path d="M513.89 155.77l396.96 687.55H116.93l396.96-687.55m0-30c-10.72 0-20.62 5.72-25.98 15L90.95 828.32a30.002 30.002 0 0 0 25.98 45h793.92a30.002 30.002 0 0 0 25.98-45L539.87 140.77c-5.36-9.28-15.26-15-25.98-15z" fill="#61666d" p-id="1365"></path></svg>
                        稿件投诉
                    </div>
                    <div class="note">
                        <svg t="1671871204521" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2470" width="20" height="20"><path d="M613.056 69.333333a37.333333 37.333333 0 0 1 3.050667 74.538667l-3.050667 0.128H316.074667a129.408 129.408 0 0 0-129.322667 124.544l-0.085333 4.864v477.184a129.408 129.408 0 0 0 124.544 129.322667l4.864 0.085333h391.850666a129.408 129.408 0 0 0 129.322667-124.544l0.085333-4.864V431.168a37.333333 37.333333 0 0 1 74.538667-3.072l0.128 3.072v319.424c0 110.762667-88.234667 200.917333-198.250667 203.989333l-5.824 0.085334H316.074667c-110.762667 0-200.917333-88.234667-203.989334-198.250667l-0.085333-5.824V273.408c0-110.762667 88.234667-200.917333 198.250667-203.989333l5.824-0.085334h296.96z" fill="#61666d" p-id="2471"></path><path d="M847.424 123.797333a37.333333 37.333333 0 0 1 56.810667 48.32l-2.346667 2.752-320 341.333334a37.333333 37.333333 0 0 1-56.789333-48.32l2.346666-2.752 320-341.333334zM597.333333 709.333333a37.333333 37.333333 0 0 1 3.072 74.538667L597.333333 784H341.333333a37.333333 37.333333 0 0 1-3.072-74.538667L341.333333 709.333333h256zM426.666667 560a37.333333 37.333333 0 0 1 3.072 74.538667L426.666667 634.666667h-85.333334a37.333333 37.333333 0 0 1-3.072-74.538667L341.333333 560h85.333334z" fill="#61666d" p-id="2472"></path></svg>
                        记笔记
                    </div>
                </div>
            </div>
            <!-- 点赞、收藏、转发区域结束 -->
            <div class="video-comments">
                <div class="reply-header">
                    <ul class="nav-bar">
                        <li class="nav-title">
                            <span class="nav-title-text">评论</span>
                            <span class="total-reply">153</span>
                        </li>
                        <li class="nav-sort">
                            <div class="hot">最热</div>
                            <div class="nav-sort-center">|</div>
                            <div class="new">最新</div>
                        </li>
                    </ul>
                </div>
                <!-- 发布评论-开始 -->
                <div class="reply-warp">
                    <div class="main-reply-box">
                        <div class="reply-box-avatar">
                            <img src="/images/default.jpg" id="myImg">
                        </div>
                        <div class="reply-box-warp">
                            <textarea class="reply-box-textarea" placeholder="发一条友善的评论" id="myComments"></textarea>
                        </div>
                        <div class="reply-box-send" id="sendComments">
                            <span>发布</span>
                        </div>
                    </div>
                    <div class="reply-list">
                        <!-- reply-item 有很多个,可在下方复制 -->
                        
                    </div>
                </div>
                <!-- 发布评论-结束 -->
            </div>
        </div>
        <div class="right-container">
            <div class="up-info">
                <div class="u-face">
                    <img src="/images/default.jpg" alt="" id="videoUpImg">
                </div>
                <div class="up-info-right">
                    <div class="name">
                        <a href="" class="username">富贵的沙雕日记</a>
                        <a href="" class="up-info-right-message">
                            <svg t="1671915425479" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5728" width="13" height="13"><path d="M875.175936 247.416832" fill="#61666d" p-id="5729"></path><path d="M903.489536 117.798912 125.989888 117.798912c-51.463168 0-93.179904 41.719808-93.179904 93.185024l0 575.474688c0 51.46624 41.716736 93.182976 93.179904 93.182976l777.499648 0c51.468288 0 93.190144-41.716736 93.190144-93.182976L996.67968 210.983936C996.67968 159.517696 954.957824 117.798912 903.489536 117.798912zM904.646656 225.485824 526.856192 610.10432c-3.557376 3.598336-8.38144 5.64224-13.451264 5.64224l-0.04096 0c-5.069824-0.02048-9.894912-2.064384-13.451264-5.6832L124.778496 225.83296c-7.236608-7.441408-7.114752-19.380224 0.326656-26.637312 7.482368-7.277568 19.339264-7.114752 26.657792 0.306176l361.68192 370.471936 364.29824-370.900992c7.277568-7.441408 19.216384-7.523328 26.657792-0.22528C911.802368 206.12608 911.924224 218.064896 904.646656 225.485824z" p-id="5730" fill="#61666d"></path></svg>
                            <span>发消息</span>
                        </a>
                    </div>
                    <div class="desc">
                        头衔：香河肉饼民间推广大王 刀削面王子 你还不赶紧关注一下？！
                    </div>
                    <div class="btn-panel">
                        <svg t="1671916089616" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2256" width="16" height="16"><path d="M469.333333 469.333333V170.666667h85.333334v298.666666h298.666666v85.333334h-298.666666v298.666666h-85.333334v-298.666666H170.666667v-85.333334h298.666666z" fill="#ffffff" p-id="2257"></path></svg>
                        <div>
                            <span class="attentionValue">关注</span>
                            <span class="fansNumber"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 推荐其他视频部分 -->
            <div class="recommend-list">
                <p class="rec-title">为你推荐</p>
                <div class="rec-list">
                    
                </div>
                <div class="rec-footer">展开</div>
            </div>
        </div>
    </div>

    <!-- 回到顶部部分 -->
    <div class="goTop">
        <button class="goTop-btn">
            <svg t="1671736740425" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3630" width="20" height="20"><path d="M946.494 754.216c19.445-19.445 19.445-51.265 0-70.711L547.355 284.368c-19.445-19.445-51.265-19.445-70.711 0L77.506 683.506c-19.445 19.445-19.445 51.265 0 70.711" p-id="3631" fill="#18191c"></path></svg>
            <span>顶部</span>
        </button>
    </div>

    <!-- 视频投诉弹出部分 -->
    <div class="ts" style="display: none;">
        <div class="ts-top">投诉</div>
        <div class="ts-body">
            <div>
                <div class="question">你觉得这个视频有什么问题？</div>
                <div class="options">
                    <div>
                        <input type="radio" name="questions" value="违法违禁" checked="checked">
                        <span>违法违禁</span>
                    </div>
                    <div>
                        <input type="radio" name="questions" value="图片或标题出错">
                        <span>视频或标题出错</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ts-bottom">
            <div class="cancel">取消</div>
            <div class="sure">确定</div>
        </div>
    </div>

    <!-- 评论投诉弹出部分 -->
    <div class="ts2" style="display: none;">
        <div class="ts-top">投诉</div>
        <div class="ts-body">
            <div>
                <div class="question">你觉得这个评论有什么问题？</div>
                <div class="options">
                    <div>
                        <input type="radio" name="questions2" value="违法违禁" checked="checked">
                        <span>违法违禁</span>
                    </div>
                    <div>
                        <input type="radio" name="questions2" value="引战">
                        <span>引战</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ts-bottom">
            <div class="cancel2">取消</div>
            <div class="sure2">确定</div>
        </div>
    </div>

    <!-- 引入js -->
    <script src="/js/videoPlay.js"></script>
    <script src="/js/common/headerImg.js"></script>
</body>
</html>